<div class="flex-container margin-bottom-1">
    <div class="flex-item flex-1 margin-right-1">
        <div class="callout padding-center rounded medium-grey-bg border">
            <div class="large-text color-grey">
                Total Creator
            </div>
            <h1 *ngIf="total_creator">{{total_creator}}</h1>
            <span *ngIf="!total_creator" class="loading">Loading</span>
        </div>

    </div>

    <div class="flex-item flex-1 margin-right-1">

        <div class="callout padding-center rounded medium-grey-bg border">
            <div class="large-text color-grey">
                Total Management
            </div>

            <h1 *ngIf="total_management">{{total_management}}</h1>
            <span *ngIf="!total_management" class="loading">Loading</span>
        </div>
    </div>

    <div class="flex-item flex-1">

        <div class="callout padding-center rounded medium-grey-bg border">
            <div class="large-text color-grey">
                Total Campaign
            </div>

            <h1 *ngIf="total_campaign">{{total_campaign}}</h1>
            <span *ngIf="!total_campaign" class="loading">Loading</span>
        </div>
    </div>
</div>


<div class="flex-container margin-bottom-1">
    <div class="flex-item flex-1 margin-right-1">

        <app-card is_expand="true" is_half="true" title="Age Demographic">

            <div *ngIf="!creator_age">
                <div *ngFor="let item of [].constructor(5)" class="loading margin-bottom-05">
                    Loading
                </div>
            </div>



            <div *ngIf="creator_age" class="list-tile-container">
                <div *ngFor="let item of creator_age" class="margin-bottom-05 padding-bottom-05 large-text">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-2 margin-right-05">
                            {{item.name}}
                            <div class="tiny-text color-grey">{{item.range_age}}</div>
                        </div>
                        <div class="flex-item flex-05 margin-right-05 text-right">
                            {{item.count}} <fa-icon [icon]="faUsers"></fa-icon>
                        </div>
                        <div class="flex-item flex-05 text-right">
                            <span *ngIf="this.total_creator">
                                {{_getPercentage(this.total_creator,item.count)}} %
                            </span>

                        </div>
                    </div>

                    <app-progress-component [isHideLabel]="true"
                        [value]="_getPercentage(this.total_creator,item.count)"></app-progress-component>

                </div>
            </div>
        </app-card>



    </div>

    <div class="flex-item flex-1 margin-right-1">



        <app-card is_expand="true" is_half="true" title="Most Campaign">
            <div *ngIf="!creator_campaign">
                <div *ngFor="let item of [].constructor(5)" class="loading margin-bottom-05">
                    Loading
                </div>
            </div>


            <div class="list-tile-container">
                <div *ngFor="let item of creator_campaign" class="list-tile-item">
                    <div class="flex-container align-center">
                        <div class="avatar-container margin-right-05">
                            <img *ngIf="item.profile_photo_url" class="avatar-image" [src]="item.profile_photo_url"
                                alt="">

                            <div *ngIf="!item.profile_photo_url" class="avatar-placeholder">
                                {{ getPlaceholderName(item)}}
                            </div>
                        </div>
                        <div class="flex-item flex-2 margin-right-05">
                            {{item.first_name}} {{item.last_name}}
                        </div>
                        <div class="flex-item flex-05 margin-right-05 text-right">
                            {{item.campaign_count}} <fa-icon [icon]="faProjectDiagram"></fa-icon>
                        </div>

                    </div>
                </div>
            </div>
        </app-card>

    </div>


    <div class="flex-item flex-1">

        <app-card is_expand="true" is_half="true" title="Location Demographic">

            <div *ngIf="!creator_location">
                <div *ngFor="let item of [].constructor(5)" class="loading margin-bottom-05">
                    Loading
                </div>
            </div>
            <div class="list-tile-container">
                <div *ngFor="let item of creator_location" class="margin-bottom-05 padding-bottom-05 large-text">
                    <div class="flex-container">
                        <div class="flex-item flex-2 margin-right-05">
                            {{item.location}}

                        </div>
                        <div class="flex-item flex-05 margin-right-05 text-right">
                            {{item.total}} <fa-icon [icon]="faUsers"></fa-icon>
                        </div>
                        <div class="flex-item flex-05 text-right">
                            <span *ngIf="this.total_creator">
                                {{_getPercentage(this.total_creator,item.total)}} %
                            </span>

                        </div>
                    </div>

                    <app-progress-component [isHideLabel]="true"
                        [value]="_getPercentage(this.total_creator,item.total)"></app-progress-component>

                </div>

            </div>
        </app-card>
    </div>


</div>


<div class="flex-container margin-bottom-1">
    <div class="flex-item flex-1 margin-right-1">

        <app-card is_expand="true" is_half="true" title="Persona">
            <div *ngIf="!creator_persona">
                <div *ngFor="let item of [].constructor(5)" class="loading margin-bottom-05">
                    Loading
                </div>
            </div>
            <div *ngIf="creator_persona">
                <div *ngFor="let item of creator_persona" class="margin-bottom-05 padding-bottom-05 large-text">
                    <div class="flex-container">
                        <div class="flex-item flex-2 margin-right-05">
                            {{item.name}}
                        </div>

                        <div class="flex-item flex-05 margin-right-05 text-right">
                            {{item.value}} <fa-icon [icon]="faUsers"></fa-icon>
                        </div>
                        <div class="flex-item flex-05 text-right">


                            {{_getPercentage(this.total_creator,item.value)}} %
                        </div>

                    </div>

                    <app-progress-component [isHideLabel]="true"
                        [value]="_getPercentage(this.total_creator,item.value)"></app-progress-component>



                </div>
            </div>

        </app-card>

    </div>

    <div class="flex-item flex-1 margin-right-1">

        

        <app-card is_expand="true" is_half="true" title="Top Management">
            <div *ngIf="!creator_management">
                <div *ngFor="let item of [].constructor(5)" class="loading margin-bottom-05">
                    Loading
                </div>
            </div>
            <div *ngFor="let item of creator_management" class="margin-bottom-05 padding-bottom-05 large-text">
                <div class="flex-container">
                    <div class="flex-item flex-2 margin-right-05">
                        {{item.name}}
                    </div>
                    <div class="flex-item flex-05 text-right">
                        {{item.creator_count}} <fa-icon [icon]="faUsers"></fa-icon>
                    </div>

                </div>



            </div>
        </app-card>

    </div>

    <div class="flex-item flex-1">

        <app-card is_expand="true" is_half="true" title="Creator Tier">

            <div *ngIf="!creator_tier">
                <div *ngFor="let item of [].constructor(5)" class="loading margin-bottom-05">
                    Loading
                </div>
            </div>


            <div class="list-tile-container">
                <div *ngFor="let item of creator_tier" class="margin-bottom-05 padding-bottom-05 large-text">
                    <div class="flex-container">
                        <div class="flex-item flex-2 margin-right-05">
                            {{item.tier}}
                        </div>
                        <div class="flex-item flex-05 margin-right-05 text-right">
                            {{item.total}} <fa-icon [icon]="faUsers"></fa-icon>
                        </div>
                        <div class="flex-item flex-05 text-right">
                            <span *ngIf="this.total_creator">

                                {{_getPercentage(this.total_creator,item.total)}} %
                            </span>

                        </div>
                    </div>

                    <app-progress-component [isHideLabel]="true"
                        [value]="_getPercentage(this.total_creator,item.total)"></app-progress-component>

                </div>
            </div>
        </app-card>
    </div>
</div>