<nav class="global-navigation elevate">
    <div class="flex-container align-center large-text">
        <div class="flex-item mega-text">
            <img class="margin-right-05" height="40px" width="70px" src="/assets/image/logo.png" alt="">
         
        </div>
        <div class="flex-item flex-2 mega-text">
           <span class="huge-text show-for-medium">  Member & Community</span>

        </div>


        <!-- <div class="flex-item text-right margin-right-05">
            <button (click)="openModal('notificationModal')" class="button small clear margin-bottom-0 icon-container">

                <div class="notif">{{notification_count}}</div>
                <fa-icon [icon]="faBell"></fa-icon>

            </button>
        </div> -->
        <div class="flex-item text-right margin-right-05">
           
            <button (click)="userLogout()" class="button tiny clear active hollow show-for-medium margin-bottom-0">
               <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</button>

                <button (click)="userLogout()" class="button tiny show-for-small-only clear active hollow margin-bottom-0">
                    <fa-icon [icon]="faSignOutAlt"></fa-icon>  Logout
                </button>
        </div>

       



    </div>
</nav>
