
.relative{
    position: relative;
}
a{
    color: #b0b3b8 !important;
    &:hover{
     
        transition: all .3s ease;
        color: white !important;
    }
    
}
.icon{
    background: #42424247 !important;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 18px;
    &:hover{
        background: rgba(0,0,0,0.7);
      
    }
}

.icon-container{
    position: relative;
    .notif{
        position: absolute;
        top: 1;
        right: 5px;
        font-size: 7px;
        height: 15px;
        width: 15px;
        line-height: 15px;
        border-radius: 100%;
        text-align: center;
        background: #ff981f !important;
    }
}
.mini-menu-container{
    width: 400px;
    background: #333;
    right: 0;
    text-align: left;
    padding: 2rem;
    min-height: 100vh;
    position: fixed;
    top: 0;
}

.overlays{
    background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
    width: 100%;
    left: 0;
    right: 0;
    min-height: 100vh;
    z-index: 9999999999;
}