<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE ––-->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Creator</h1>


                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">


                                <li> <button (click)="openModal('createContactFormModal');_getPersona()"
                                        class="button rounded small ">+ Add Creator</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>

            <div *ngIf="tab_view =='creator'">
                <app-table-action [sortListItems]="sortListItems"></app-table-action>

                <div *ngIf="creator" class="fade-in">
                    <div *ngIf="creator.length !==0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-2">
                                    <app-table-sort (onChange)="creator" [data]="creator" [key]="'first_name'">
                                        Creator
                                    </app-table-sort>
                                </div>

                                <div class="flex-item flex-1">
                                    <app-table-sort (onChange)="creator" [data]="creator" [key]="'dob'">
                                        Age
                                    </app-table-sort>
                                </div>
                                <div class="flex-item flex-1">
                                    <app-table-sort (onChange)="creator" [data]="creator" [key]="'tier'">
                                        Tier
                                    </app-table-sort>
                                </div>



                                <div class="flex-item flex-1">
                                    <app-table-sort (onChange)="creator" [data]="creator" [key]="'location'">
                                        Location
                                    </app-table-sort>
                                </div>




                                <div class="flex-item flex-1">
                                    <app-table-sort (onChange)="creator" [data]="creator" [key]="'company_type'">
                                        Company
                                    </app-table-sort>
                                </div>



                                <div class="flex-item flex-1">
                                    <app-table-sort [type]="'number'" (onChange)="creator" [data]="creator"
                                        [key]="'campaign_count'">
                                        Total Campaign
                                    </app-table-sort>
                                </div>




                                <div class="flex-item flex-1 text-right">
                                    Action
                                </div>

                            </div>
                        </div>
                        <div class="table-body ">
                            <div *ngFor="let item of creator"
                                class="flex-container table-body-item align-center hover-show ">



                                <div [routerLink]="['/creator/creator/view/', item.id]"
                                    class="flex-item flex-2 cursor ">


                                    <div class="flex-container align-center">
                                        <div class="flex-item margin-right-05">
                                            <div class="avatar-container">
                                                <img *ngIf="item.profile_photo_url" class="avatar-image"
                                                    [src]="item.profile_photo_url" alt="">

                                                <div *ngIf="!item.profile_photo_url" class="avatar-placeholder">
                                                    {{ getPlaceholderName(item)}}
                                                </div>
                                            </div>





                                        </div>
                                        <div class="flex-item flex-1">
                                            <div>
                                                {{item.first_name | titlecase}} {{item.last_name | titlecase}}

                                             
                                              
                                                <fa-icon class="hide" [icon]="faExpandAlt"></fa-icon>
                                            </div>

                                            <!-- <span class=" color-grey tiny-text Micro margin-right-02"
                                                *ngFor="let item of item.persona">
                                                {{item.label}}
                                            </span> -->


                                            <div class="color-grey tiny-text">
                                                <span *ngFor="let item of item.persona ; let last = last">
                                                    {{item.label}} <span *ngIf="!last">,</span>
                                                </span>
                                            </div>
                                        </div>


                                    </div>
                                </div>



                                <div class="flex-item flex-1">
                                    {{item.age}}

                                </div>
                                <div class="flex-item flex-1">
                                    {{item.tier}}

                                </div>




                                <div class="flex-item flex-1">
                                    {{item.location}}


                                </div>




                                <div class="flex-item flex-1">
                                    <div *ngIf="item.management?.name">
                                        {{item.management?.name}}
                                    </div>

                                    <div *ngIf="item.company_name">{{item.company_name | titlecase}}</div>
                                    <span *ngIf="item.company_type" class="span-label">{{item.company_type}}</span>
                                </div>


                                <div class="flex-item flex-1">
                                    {{item.campaign_count}} <span *ngIf="item.performance" class="span-label">
                                        {{item.performance}}
                                    </span>


                                </div>





                                <div class="flex-item flex-1 text-right">
                                    <button (click)="viewRate(item)"
                                        class="button tiny clear active margin-bottom-0 margin-right-02">
                                        <fa-icon [icon]="faUserTag"></fa-icon> 
                                    </button>

                                    <button (click)="viewAccess(item)" class="button tiny clear active margin-bottom-0">
                                        <fa-icon [icon]="faKey"></fa-icon>
                                    </button>
                                </div>




                            </div>

                        </div>

                        <div lazyload (onShown)="loadMore()"></div>

                    </div>

                    <app-placeholder *ngIf="creator.length ===0"></app-placeholder>

                </div>


            </div>


            <div *ngIf="tab_view =='management'">
                <app-table-action>
                    <button (click)="addCreatorManagement()" class="button small clear active hollow">
                        + Add Management
                    </button>
                </app-table-action>
                <div *ngIf="management">


                    <div class="table-header">
                        <div class="flex-container table-header-item">


                            <div class="flex-item flex-1">


                                <app-table-sort (onChange)="management" [data]="management" [key]="'name'">
                                    Name
                                </app-table-sort>
                            </div>


                            <div class="flex-item flex-1">
                                Address
                            </div>


                            <div class="flex-item flex-1">
                                Phone
                            </div>



                            <div class="flex-item flex-1">
                                Email
                            </div>


                            <div class="flex-item flex-1">
                                <app-table-sort [type]="'number'" (onChange)="management" [data]="management"
                                    [key]="'creator_count'">
                                    Total Creator
                                </app-table-sort>
                            </div>

                            <div class="flex-item flex-1 text-right">
                                Action
                            </div>






                        </div>
                    </div>

                    <div class="table-body">
                        <div *ngFor="let item of management"
                            class="flex-container hover-show align-center table-body-item">


                            <div class="flex-item flex-1">

                                <app-form-input (onClose)="updateManagement(item.id,$event)" [isHideLabel]="true"
                                    [label]="'name'" [isHideAction]="true" [id]="'name'" [value]="item.name">
                                </app-form-input>

                            </div>



                            <div class="flex-item flex-1">

                                <app-form-input (onClose)="updateManagement(item.id,$event)" [isHideLabel]="true"
                                    [label]="'location'" [isHideAction]="true" [id]="'location'"
                                    [value]="item.location">
                                </app-form-input>

                            </div>

                            <div class="flex-item flex-1">

                                <app-form-input (onClose)="updateManagement(item.id,$event)" [isHideLabel]="true"
                                    [label]="'phone'" [isHideAction]="true" [id]="'phone'" [value]="item.phone">
                                </app-form-input>

                            </div>



                            <div class="flex-item flex-1">
                                <app-form-input (onClose)="updateManagement(item.id,$event)" [isHideLabel]="true"
                                    [label]="'email'" [isHideAction]="true" [id]="'email'" [value]="item.email">
                                </app-form-input>

                            </div>


                            <div class="flex-item flex-1">

                                <button (click)="viewManagement(item)" class="button tiny clear active margin-right-02">
                                    {{item.creator_count}} Creator

                                </button>
                                <button (click)="viewManagement(item)" class="button tiny clear active margin-right-02">

                                    <fa-icon [icon]="faExpandAlt"></fa-icon>
                                </button>
                            </div>

                            <div class="flex-item flex-1 text-right">

                                <button (click)="viewAccess(item)" class="button tiny clear active margin-right-02">
                                    <fa-icon [icon]="faKey"></fa-icon>
                                </button>


                                <!-- <button (click)="viewManagement(item)" class="button tiny clear active margin-right-02">
                    <fa-icon [icon]="faExpandAlt"></fa-icon>
                </button> -->

                                <app-remove-button (onClick)="deleteManagement(item.id)">
                                    <button class="button tiny clear active ">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                    </button>
                                </app-remove-button>

                            </div>






                        </div>
                    </div>
                </div>
            </div>





        </div>

    </div>

    <!-- *ngIf="showModal == 'createContactFormModal' " -->
    <app-modal *ngIf="showModal == 'createContactFormModal'" [title]="'Add Creator'" (onClose)="closeModal()">

        <div class="campaign-container sub-menu-container">

            <form class="form" [formGroup]="createContactForm">

                <div class="margin-bottom-1">

                    <div class="flex-container">
                        <div class="flex-item flex-1 margin-right-05">
                            <label for="">First Name</label>
                            <input class="margin-bottom-0" formControlName="first_name" type="text" name="" id="">

                        </div>
                        <div class="flex-item flex-1">
                            <label for="">Last Name</label>
                            <input class="margin-bottom-0" formControlName="last_name" type="text" name="" id="">
                        </div>
                    </div>

                    <a (click)="toggleAlias()" class="small-text color-grey">{{alias?'Remove Alias':'Add Alias?'}}</a>

                    <span *ngIf="alias">
                        <label for="">Alias</label>
                        <input formControlName="alias" type="text" name="" id="">

                    </span>

                    <label for="">Day of Birth</label>
                    <input formControlName="dob" type="date" name="" id="">

                    <label for="">Domicile</label>
                    <app-form-select [label]="'City'" [option]="city_list" (onSelect)="selectCity($event)"
                        (onSearch)="searchCity($event)"></app-form-select>



                </div>
                <div class="margin-bottom-05">
                    <label for="">Persona</label>
                    <app-form-multiple-select (onSelect)="selectPersona($event)" [label]="'Persona'"
                        [option]="persona_list">
                    </app-form-multiple-select>

                </div>

                <label for="">Company Type</label>
                <select formControlName="company_type" name="" id="">
                    <option *ngFor="let item of company_type" [value]="item.name">{{item.name}}</option>
                </select>

                <div class="margin-bottom-05" *ngIf="createContactForm.get('company_type').value == 'Management'">
                    <label for="">Management</label>
                    <app-form-select [label]="'Management'" [option]="management_list"
                        (onSelect)="selectManagement($event)" (onSearch)="searchManagement($event)"></app-form-select>

                </div>

                <div *ngIf="createContactForm.get('company_type').value == 'Personal'">
                    <label for="">Company Name</label>
                    <input formControlName="company_name" type="text" name="" id="">
                </div>

                <label for="">Partnership</label>
                <select formControlName="tier" name="" id="">
                    <option *ngFor="let item of partnership" [value]="item.value">{{item.value}}</option>
                </select>



                <label for="">Tier</label>
                <select formControlName="tier" name="" id="">
                    <option *ngFor="let item of tier" [value]="item.id">{{item.id}} - {{item.value}}</option>
                </select>












            </form>


        </div>



        <div footer>
            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <button [disabled]="!createContactForm.valid" (click)="addCreator(false)"
                        class="button clear active hollow expanded elevate">Add </button>

                </div>
                <div class="flex-item flex-1">
                    <button [disabled]="!createContactForm.valid" (click)="addCreator(true)"
                        class="button expanded elevate">Add & Continue Edit</button>

                </div>
            </div>

        </div>

    </app-modal>


    <app-modal *ngIf="showModal == 'contactModal' " (onClose)="closeModal()"></app-modal>

    <app-modal [isHalf]="true" [title]="'Ratecard'" *ngIf="showModal == 'rateModal'" (onClose)="closeModal()">
        <div class="table-body" *ngIf="selected_creator">

            <button (click)="addNewRateCart()" class="button clear tiny active hollow">
                + Add Rate Cart
            </button>



            <div *ngIf="selected_creator.rate.length>0">
                <div class="table-header">
                    <div class="flex-container table-header-item">

                        <div class="flex-item flex-1">
                            Platform
                        </div>




                        <div class="flex-item flex-2">
                            Service
                        </div>

                        <div class="flex-item flex-1">
                            Price
                        </div>
                        <div class="flex-item text-right" style="width: 15px;">


                        </div>



                    </div>
                </div>

                <div class="table-body">
                    <div [ngClass]="{'long-fade-in': item.isNew}" *ngFor="let item of selected_creator.rate"
                        class="flex-container table-body-item border align-center  form">



                        <div class="flex-item flex-1">

                            <app-form-select [isClean]="true" (onSelect)="updateRate($event,item.id)"
                                [option]="platform_list" [label]="'Platform'" [selected_option]="item.platform_name">
                            </app-form-select>




                        </div>


                        <div class="flex-item flex-2">



                            <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                [value]="item.rate_name" [id]="'rate_name'" (onClose)="updateRate($event,item.id)">
                            </app-form-input>
                            <div class="color-grey tiny-text"> Last Update {{item.updated_at | date}}</div>

                        </div>
                        <div class="flex-item flex-1">



                            <app-form-input [type]="'currency'" [isHideLabel]="true" [isHideAction]="true"
                                [label]="'Price'" [value]="item.rate_price" [id]="'rate_price'"
                                (onClose)="updateRate($event,item.id)">
                            </app-form-input>


                        </div>

                        <div class="flex-item text-right" style="width: 15px;">

                            <app-remove-button (onClick)="deleteCreatorRate(item)">
                                <button class="button clear  tiny active margin-bottom-0">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>

                            </app-remove-button>

                        </div>



                    </div>
                </div>
            </div>

        </div>

        <app-modal-sheets [title]="'Add New Rate'" *ngIf="showMiniModal == 'addRateCart'" (onClose)=closeMiniModal()>
            <div class="form">
                <label for="">Platform</label>
                <select [(ngModel)]="creator_rate.platform_name">
                    <option value="instagram">Instagram</option>
                    <option value="tiktok">TikTok</option>
                </select>
                <label for="">Service Name</label>
                <input [(ngModel)]="creator_rate.rate_name" type="text">
                <label for="">Price</label>
                <input [(ngModel)]="creator_rate.rate_price" type="number">
            </div>

            <button (click)="addNewRateCart()" class="button rounded expanded">Add New Rate Cart</button>
        </app-modal-sheets>
    </app-modal>


    <app-modal (onClose)="closeModal()" *ngIf="showModal =='accessModal'" [title]="'Access'">


        <div class="callout padding-center-1 rounded  medium-grey-bg " *ngIf="selected_access.auth">
            <div>
                Username: {{selected_access.auth.username}}
            </div>
            <div class="color-grey">
                Password : {{selected_access.auth.password}}
            </div>
        </div>

        <div *ngIf="!selected_access.auth">
            <form class="form" [formGroup]="accessForm">
                <div *ngIf="error_message" class="callout padding-center-1 rounded medium-grey-bg small-text">
                    {{error_message}}
                </div>
                <div class="margin-bottom-1">
                    <label for="">Username</label>
                    <input formControlName="username" type="text" name="" id="">

                    <label for="">Password</label>
                    <input formControlName="password" type="text" name="" id="">
                </div>

                <button (click)="addAccess()" class="button">
                    Add Access
                </button>
            </form>
        </div>


    </app-modal>

    <app-modal-full [title]="'Creator'" (onClose)="selected_management = null" *ngIf="selected_management">
        <div *ngIf="selected_management.creator.length !== 0">
            <div class="table-header">
                <div class="table-header-item flex-container">
                    <div class="flex-item flex-1">
                        Name
                    </div>

                    <div class="flex-item flex-1">
                        Persona
                    </div>

                    <div class="flex-item flex-1">
                        Performance
                    </div>

                </div>
            </div>

            <div class="table-body">
                <div *ngFor="let item of selected_management.creator" class="table-body-item border flex-container">
                    <div class="flex-item flex-1">
                        {{item.first_name}}
                        {{item.last_name}}
                    </div>

                    <div class="flex-item flex-1">
                        <span class="span-label Micro margin-right-02" *ngFor="let item of item.persona">
                            {{item.label}}
                        </span>


                    </div>

                    <div class="flex-item flex-1">
                        <app-status-label [label]="item.performance"></app-status-label>

                    </div>


                </div>
            </div>
        </div>

        <app-placeholder *ngIf="selected_management.creator.length == 0"></app-placeholder>


    </app-modal-full>



</app-body>