.notif-containers{
    background: rgb( 38, 62, 80 );
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    padding: 10%;
    z-index: 999999999999;
   
    
    .notif-content{
        animation: fadeIn 0.4s; 
        position: absolute; 
        width: 250px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        border-radius: 10px;
        background: #333;
        padding: 1.5rem;

    }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
.notification-container{
    animation: fadeIn 0.4s; 
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 999999999999;
    
    .notification-content{
      position: relative;
      padding: 1rem;
      width: 300px;
      border-radius: 3px;
      background: rgb(30 39 46);
      border-left: 3px solid rgb( 64, 166, 230 ) !important;

.close-button{
  position: absolute;
  right: 10px;
  font-size: 16px;
  top:10px
}
      .title{
        
      }
  
    }
  }
  