<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Points</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addPointsModal')"
                                        class="button rounded  small">+ Add Points Collection</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>


            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>


            <div *ngIf="tab_view == 'collection'">
                <div *ngIf="points_collection" class="fade-in">
                    <div *ngIf="points_collection.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-2">
                                    <app-table-sort  (onChange)="points_collection" [data]="points_collection" [key]="'name'">
                                        Activity
     
                                       </app-table-sort>
                                </div>
                                <div class="flex-item flex-2">
                                    Description
                                </div>



                                <div class="flex-item flex-1">
                                    <app-table-sort [type]="'number'"  (onChange)="points_collection" [data]="points_collection" [key]="'value'">
                                        Points
     
                                       </app-table-sort>
                                </div>

                                <div class="flex-item flex-1">
                                    <app-table-sort  (onChange)="points_collection" [data]="points_collection" [key]="'status'">
                                        Status
     
                                       </app-table-sort>
                                </div>

                                <div class="flex-item flex-1 text-right">
                                    Action
                                </div>





                            </div>
                        </div>
                        <div class="table-body ">
                            <div *ngFor="let item of points_collection"
                                class="flex-container cursor table-body-item align-center">


                                <div class="flex-item flex-2">
                                    {{item.name}}
                                </div>
                                <div class="flex-item flex-2">
                                    {{item.description}}
                                </div>



                                <div class="flex-item flex-1">
                                    

                                    <app-status-label [label]="item.value"></app-status-label>
                                </div>

                                <div class="flex-item flex-1">
                                    <app-status-label (onSelect)="updateCommunityPointsCollection($event,item.id)"
                                        [option]="collection_status" [class]="item.status" [label]="item.status"></app-status-label>

                                </div>

                                <div class="flex-item flex-1 text-right">
                                    <button (click)="sendPoints(item)" class="button clear active tiny">Send
                                        Points</button>
                                </div>







                            </div>

                        </div>

                    </div>

                    <app-placeholder *ngIf="points_collection.length === 0"></app-placeholder>
                </div>


            </div>

            <div *ngIf="tab_view == 'points_activity'">
                <div *ngIf="points">

                    <div *ngIf="points.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-1">
                                    Member
                                </div>
                                <div class="flex-item flex-2">
                                    Description
                                </div>

                              

                                <div class="flex-item flex-1">
                                    Points
                                </div>

                                <div class="flex-item flex-1">
                                    Create Date
                                </div>

                                <div class="flex-item flex-1 text-right">
                                   Action
                                </div>








                            </div>
                        </div>
                        <div *ngFor="let item of points" class="table-body ">
                            <div class="flex-container table-body-item align-center">


                                <div class="flex-item flex-1">
                                    {{item.member?.first_name}} 
                                </div>


                                <div class="flex-item flex-2">
                                    <div *ngIf="!item.activity_id">
                                        {{item.description}}
                                    </div>
                                    <div *ngIf="item.activity_id">
                                        {{item.points.description}}
                                    </div>
                                </div>

                               

                                <div class="flex-item flex-1">
                                  

                                  
                                   <app-status-label *ngIf="item.type=='credit'" [class]="'best'" [label]="'+ '+item.value"></app-status-label>
                                   <app-status-label *ngIf="item.type=='debit'"  [class]="'bad'" [label]="'- '+item.value"></app-status-label>

                                   <app-status-label *ngIf="item.type=='refund'" [class]="'cancel'" [label]="'Refund '+item.value"></app-status-label>


                                </div>
                                <div class="flex-item flex-1">
                                    {{item.created_at | date}}
                                </div>

                                <div class="flex-item flex-1 text-right">
                                  
                                   <button (click)="createRefund(item) " *ngIf="item.type == 'credit'" class="button tiny active">
                                    Refund
                                   </button>
                                </div>


                            </div>

                        </div>
                    </div>
                    <app-placeholder *ngIf="points.length === 0"></app-placeholder>
                </div>

            </div>

            <div *ngIf="tab_view == 'leaderboard'">
                <div *ngIf="leaderboard">

                    <div>
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-1">
                                    <app-table-sort  (onChange)="leaderboard" [data]="leaderboard" [key]="'first_name'">
                                        Member
                                      </app-table-sort>
                                </div>
                               
                                <div class="flex-item flex-1">
                                   

                                    <app-table-sort [type]="'number'"  (onChange)="leaderboard" [data]="leaderboard" [key]="'total_credit'">
                                        Points Earn ( Credit )
                                      </app-table-sort>
                                </div>


                                <div class="flex-item flex-1">
                                   


                                    <app-table-sort [type]="'number'"  (onChange)="leaderboard" [data]="leaderboard" [key]="'total_debit'">
                                        Points Redeem ( Debit )
                                      </app-table-sort>
                                </div>

                                <div class="flex-item flex-1">
                                    <app-table-sort [type]="'number'"  (onChange)="leaderboard" [data]="leaderboard" [key]="'total_points'">
                                      Available Points
                                      </app-table-sort>
                                </div>








                            </div>
                        </div>

                        <div class="table-body">
                            <div *ngFor="let item of leaderboard" class="flex-container table-body-item">


                                <div class="flex-item flex-1">
                                    {{item.first_name}}  
                                </div>
                               
                                <div class="flex-item flex-1">
                                  

                                  <app-status-label [label]="item.total_credit"></app-status-label>
                                </div>


                                <div class="flex-item flex-1">
                                 
                                   <app-status-label [label]="item.total_debit"></app-status-label>
                                </div>

                                <div class="flex-item flex-1">
                               

                                   <app-status-label [label]="item.total_debit"></app-status-label>
                                </div>








                            </div>
                        </div>
                     
                    </div>
                    <!-- <app-placeholder *ngIf="points.length === 0"></app-placeholder> -->
                </div>

            </div>



        </div>

    </div>

    <app-modal class="form"  [title]="'Refund Points'" *ngIf="showModal == 'refundModal'" >
        <div class="mega-text margin-bottom-1">
            Refund {{selected_activity.value}} Points from {{selected_activity.member.first_name | titlecase}} ?
        </div>
        <input placeholder="add refund description" [(ngModel)]="selected_activity.reason" type="text">

        <!-- [disabled]="!selected_activity.reason" -->
        <app-remove-button (onClick)="refund()" >
            <button [disabled]="!selected_activity.reason"  class="button">
                Refund points
            </button>
        </app-remove-button>
       
    </app-modal>


    <app-modal [title]="'Add Points'" *ngIf="showModal == 'addPointModal'" (onClose)="closeModal()">

        <form class="form margin-bottom-1" [formGroup]="addPointsForm">


            <label for="">Member</label>
            <app-form-select (onSelect)="selectMember($event)" (onSearch)="searchMember($event)"
            [option]="member_list" [label]="'Member'"></app-form-select>

        </form>
        <app-remove-button (onClick)="addMemberPoints()">
            <button [disabled]="!addPointsForm.valid" class="button expanded">Add Points</button>
        </app-remove-button>

    </app-modal>


    <app-modal title="Add Points Collection" (onClose)="closeModal()" *ngIf="showModal == 'addPointsModal'">

        <form class="form margin-bottom-1" [formGroup]="addCollectionForm">


            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">

            <label for="">Description</label>
            <input formControlName="description" type="text" name="" id="">

            <label for="">Points</label>
            <input formControlName="value" type="number" name="" id="">







        </form>
        <button [disabled]="!addCollectionForm.valid" (click)="addCommunityPointsCollection()"
            class="button expanded">Add Points Collection</button>

    </app-modal>
</app-body>