

.color{
    background: #1515D7;
    background: #1D61C5;
    background: #53ACD5;
}
:root {
    color-scheme: dark;
  }
  input {
    color-scheme: dark;
  }


.community{
    .border-bottom{
        border-bottom:1px solid #eee !important
    }
    .page-container{
        padding: 3rem 5% !important;
    }
    background: white;
    min-height: 100vh;
    height: 100%;
    color: #333 !important;

    .list-tile-container .list-tile-item{
        border-bottom: 1px solid #eee !important;
    }

    .form {

        .input,
        input,
        select,
        textarea {
      
          background: #eee !important;
          color: #333 !important;
      
        }
      }

    .button{
        background-color: #1D61C5 !important;
        border: 1px solid #1D61C5 !important;
    }

    
    .medium-grey-bg{
        background-color: #fafafa !important;
        color: #333 !important;
    }
    .callout{
        &.border{
            border: 1px solid #eee !important
        }
    }
}



@media screen and (max-width: 39.9375em) {
 
    .small-container{
        background: unset !important;
        padding: 0 !important;
        border: unset !important;
        animation: page-enter-from-right .3s;

        .callout{
            &.padding-center{
                background-color: none !important;
            }
            &.medium-grey-bg{
                background-color: none !important;

            }
        }
        &.medium-grey-bg{
            background-color: none !important;

        }
      }
      
      .row{
        margin: 0;
      }
     
  }

