<div class="community">
    <div class="padding-center">
        <div *ngIf="login_view == '/client/login'" class="medium-4 columns medium-centered long-fade-in">

            <div class="callout padding-center rounded medium-grey-bg border elevate form">
                <div class="padding-middles">
                    <div class="login">
                        <div class="margin-bottom-1">
                            <img class="margin-right-05" height="40px" width="70px" src="/assets/image/logo.png" alt="">
                            <h1>Member & Community</h1>
                        </div>
                        <form class="form" [formGroup]="clientLoginForm">
                            <label for="">Username</label>
                            <input formControlName="username" type="text" name="" id="">



                            <label for="">Password</label>
                            <input formControlName="password" type="password">

                            <button [disabled]="!clientLoginForm.valid" (click)="clientLogin()"
                                class="button expanded">Login</button>
                        </form>



                    </div>

                </div>
            </div>
        </div>

        <div *ngIf="login_view == '/client/register'" class="medium-5 columns medium-centered long-fade-in">
            <div class="callout padding-center rounded medium-grey-bg border elevate form">

                <div class="padding-middle">
                    <div>
                        <div class="margin-bottom-1">
                            <div class="margin-bottom-05">
                                <img class="margin-right-05" height="40px" width="70px" src="/assets/image/logo.png"
                                    alt="">

                                <h1>Community Signup</h1>
                            </div>
                            <div class="small-text color-grey">
                                Silahkan melengkapi data dibawah ini untuk bergabung.
                            </div>
                        </div>
                        <form class="form" [formGroup]="registerForm">

                            <div *ngIf="register_view == 'auth'">
                                <div class="color-grey tiny-text margin-bottom-1">
                                    Step 1 of 2
                                </div>

                                <label for="">Community</label>


                                <select formControlName="community_id">
                                    <option value="1">Mak Pintar</option>
                                    <option value="2">Pekerja Pintar</option>
                                    <option value="3">General</option>
                                </select>

                                <label for="">Email</label>
                                <input formControlName="email" type="text">



                                <label for="">Password</label>
                                <input formControlName="password" type="password">

                                <label for="">Confirm Password</label>
                                <input formControlName="confirm_password" type="password">

                                <div *ngIf="!_validateConfirmPassword()"
                                    class="callout tiny-text padding-center-1  rounded  elevate border margin-bottom-05">
                                    Password yang Anda masukan belum sesuai
                                </div>



                                <label for="">Referal Code</label>
                                <input formControlName="referal_code" type="text">



                                <button [disabled]="!validateRegister()" (click)="checkAuth()"
                                    class="button expanded">Continue to Next
                                    Step</button>



                            </div>
                            <!-- *ngIf="register_view == 'form_data'" -->
                            <div *ngIf="register_view == 'form_data'" >
                                <div class="color-grey tiny-text margin-bottom-1">
                                    Step 2 of 2
                                </div>

                                <label for="">Nama Lengkap</label>
                                <input formControlName="first_name" type="text">


                                <div class="margin-bottom-1">
                                  
                                    <label for="">Domisili</label>
                                    <select formControlName="location" >
                                     <option *ngFor="let item of domicile_list" [value]="item">{{item}}</option>
                                    </select>
                                </div>

                                <div class="margin-bottom-1">
                                  
                                    <label for="">Kota & Kabupaten</label>
                                    <input formControlName="city" type="text">
                                </div>






                                <label for="">Tanggal Lahir</label>
                                <input formControlName="dob" type="date">

                                <label for="">No. WhatsApp Aktif</label>


                                <div class="flex-container align-center margin-bottom-1">
                                    <div class="flex-item margin-right-05">

                                        <div>
                                            +62
                                        </div>
                                    </div>
                                    <div class="flex-item flex-1">
                                        <input type="text" placeholder="Phone Number"
                                            class="form-control margin-bottom-0" id="phone" name="phone" maxlength="12"
                                            formControlName="phone" phoneMask (input)="numbersOnlyValidator($event)" />
                                    </div>
                                </div>











                                <label for="">Instagram Account</label>
                                <input formControlName="instagram_account" type="text">

                                <label for="">Jumlah Follower Instagram</label>
                                <input placeholder="Masukan jumlah follower instagram anda"
                                    formControlName="instagram_follower" (input)="numbersOnlyValidator($event)"
                                    type="text">


                                <label for="">Link Profile Instagram</label>
                                <input placeholder="ex. https://www.instagram.com/edencreativenetwork/"
                                    formControlName="instagram_account_link" type="text">



                                <div class="margin-bottom-1">
                                    <label class="large-text white margin-bottom-05" for="">Status Kerja</label>

                                    <div (click)="selectOption(item,working_status,'working_status')"
                                        class="cursor large-text  "
                                        *ngFor="let item of working_status ; let last = last;">
                                        <div class="flex-container margin-bottom-05">
                                            <div class="flex-item margin-right-05">
                                                <fa-icon class="color-grey" *ngIf="item.selected !== item.value" [icon]="faCircle">
                                                </fa-icon>
                                                <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                                </fa-icon>

                                            </div>
                                            <div class="flex-item">
                                                {{item.label }}

                                            </div>
                                        </div>
                                        <div>
                                            <input type="text" *ngIf="item.selected == 'Lainnya'"
                                                (input)="addCustomData($event,'working_status')">

                                        </div>


                                    </div>









                                </div>
                                <!-- *ngIf="registerForm.get('community_id').value == '1'" -->
                                <div *ngIf="registerForm.get('community_id').value == '1'">



                                    <div class="margin-bottom-1">
                                        <label class="large-text white margin-bottom-05" for="">Jumlah Anak</label>

                                        <div (click)="selectOption(item,number_of_kids,'number_of_kids')"
                                            class="cursor large-text  "
                                            *ngFor="let item of number_of_kids ; let last = last;">
                                            <div class="flex-container margin-bottom-05">
                                                <div class="flex-item margin-right-05">
                                                    <fa-icon class="color-grey"  *ngIf="item.selected !== item.value" [icon]="faCircle">
                                                    </fa-icon>
                                                    <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                                    </fa-icon>

                                                </div>
                                                <div class="flex-item">
                                                    {{item.label }}

                                                </div>
                                            </div>
                                            <div>
                                                <input type="text" *ngIf="item.selected == 'Lainnya'"
                                                    (input)="addCustomData($event,'number_of_kids')">

                                            </div>


                                        </div>









                                    </div>





                                    <div class="margin-bottom-1">
                                        <label class="large-text white margin-bottom-05" for="">Apakah sedang
                                            menyusui?</label>



                                        <div (click)="selectOption(item,is_breast_feed,'is_breast_feed')"
                                            class="cursor large-text  "
                                            *ngFor="let item of is_breast_feed ; let last = last;">
                                            <div class="flex-container margin-bottom-05">
                                                <div class="flex-item margin-right-05">
                                                    <fa-icon class="color-grey"  *ngIf="item.selected !== item.value" [icon]="faCircle">
                                                    </fa-icon>
                                                    <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                                    </fa-icon>

                                                </div>
                                                <div class="flex-item">
                                                    {{item.label }}

                                                </div>
                                            </div>
                                            <div>
                                                <input type="text" *ngIf="item.selected == 'Lainnya'"
                                                    (input)="addCustomData($event,'is_breast_feed')">

                                            </div>


                                        </div>
                                    </div>

                                </div>



                                <div class="margin-bottom-1">
                                    <label class="large-text white margin-bottom-05" for="">Darimana mengetahui
                                        {{getCommunityName()}}
                                    </label>

                                    <div (click)="selectOption(item,information_source,'information_source')"
                                        class="cursor large-text  "
                                        *ngFor="let item of information_source ; let last = last;">
                                        <div class="flex-container margin-bottom-05">
                                            <div class="flex-item margin-right-05">
                                                <fa-icon class="color-grey"  *ngIf="item.selected !== item.value" [icon]="faCircle">
                                                </fa-icon>
                                                <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                                </fa-icon>

                                            </div>
                                            <div class="flex-item">
                                                {{item.label }}

                                            </div>
                                        </div>
                                        <div>
                                            <input type="text" *ngIf="item.selected == 'Lainnya'"
                                                (input)="addCustomData($event,'information_source')">

                                        </div>


                                    </div>
                                </div>





                                <div class="margin-bottom-1">
                                    <label class="large-text white margin-bottom-05" for="">Bidang yang
                                        diminati:</label>


                                        <div (click)="selectOption(item,field,'field')"
                                        class="cursor large-text  "
                                        *ngFor="let item of field ; let last = last;">
                                        <div class="flex-container margin-bottom-05">
                                            <div class="flex-item margin-right-05">
                                                <fa-icon class="color-grey"  *ngIf="item.selected !== item.value" [icon]="faCircle">
                                                </fa-icon>
                                                <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                                </fa-icon>

                                            </div>
                                            <div class="flex-item">
                                                {{item.label }}

                                            </div>
                                        </div>
                                        <div>
                                            <input type="text" *ngIf="item.selected == 'Lainnya'"
                                                (input)="addCustomData($event,'field')">

                                        </div>


                                    </div>

                                </div>


                                <div class="margin-bottom-1">
                                    <label class="large-text white margin-bottom-05" for="">Pengeluaran tiap
                                        bulan</label>


                                        <div (click)="selectOption(item,mothly_expense,'mothly_expense')"
                                        class="cursor large-text  "
                                        *ngFor="let item of mothly_expense ; let last = last;">
                                        <div class="flex-container margin-bottom-05">
                                            <div class="flex-item margin-right-05">
                                                <fa-icon class="color-grey"  *ngIf="item.selected !== item.value" [icon]="faCircle">
                                                </fa-icon>
                                                <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                                </fa-icon>

                                            </div>
                                            <div class="flex-item">
                                                {{item.label }}

                                            </div>
                                        </div>
                                        <div>
                                            <input type="text" *ngIf="item.selected == 'Lainnya'"
                                                (input)="addCustomData($event,'mothly_expense')">

                                        </div>


                                    </div>



                                </div>


                                <div class="margin-bottom-1">
                                    <label class="large-text white margin-bottom-05">Apa yang diharapkan dari
                                        komunitas?</label>

                                    <textarea formControlName="what_to_expect"></textarea>
                                </div>
                                <button [disabled]="!registerForm.valid" (click)="addCommunityMember()"
                                    class="button expanded">Register</button>

                            </div>
                        </form>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>