<div class="table-header">
    <div class="flex-container table-header-item">




        <div class="flex-item flex-1">
            Name
        </div>

        <div class="flex-item flex-1">
            Type
        </div>

        <div class="flex-item flex-1">
            Location
        </div>



        <div class="flex-item flex-1">
            Receive Date
        </div>



        <div class="flex-item flex-1">
            Cost
        </div>

        <div class="flex-item flex-1">
            Lifetime
        </div>

        <div class="flex-item flex-1">
            Action
        </div>

    </div>
</div>
<div class="table-body ">
    <div class="flex-container cursor table-body-item align-center">




        <div class="flex-item flex-1">
            Product
        </div>

        <div class="flex-item flex-1">
            Category
        </div>

        <div class="flex-item flex-1">
            Location
        </div>



        <div class="flex-item flex-1">
            Receive Date
        </div>



        <div class="flex-item flex-1">
            Value
        </div>

        <div class="flex-item flex-1">
            3d of 1 year
        </div>

        <div class="flex-item flex-1">
            Action
        </div>



    </div>

</div>