.parrent-menu-container {
    position: relative;
    .parrent-item {
        position: relative;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        
        
        a,.date {
            padding: 0.7rem 1rem;
           
            background: rgb( 48, 53, 60 )  !important;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;

            border-top-left-radius: 6px !important;
            border-bottom-left-radius: 6px !important;
            color: rgb(240, 241, 243) !important ;
       
            font-size: 14px !important;
            margin-left: 0 !important;
            margin-right: 1px;
            &.small{
                padding: 0.7rem !important;
            }
        }
        .date{
           background-color: rgb( 48, 53, 60 )  !important;
           color: rgb(240, 241, 243) !important ;
           cursor: pointer;
           &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(240, 241, 243) !important ;
          }
        }
        .selected_child{
            background: rgb( 60, 65, 74 )  !important;

            margin-right: 1px;
        }
        .removeSelectedChild{
            padding: 0.7rem 0.5rem;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;

            border-top-right-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
          
        }
        
        
    }

    .parrent-item:last-child {
       margin: 0 !important;
    
      }
    .label-container{
        position: unset;
        .labels{
            padding: 5px 10px;
            background: #333333;
            color: rgb(240, 241, 243) ;
       
            position: absolute;
            
            display: none;
            font-size: 10px;
            border-radius: 6px;
            bottom:0;
            text-align: center;
            bottom: 40px;
      
        

        }
        &:hover{
            .labels{
                display: block;
               
              
            }
        }
    }


    .mega-menu-container{
        padding: 2rem 1.5rem;
       position: absolute;
       width:100%;
      
       background: rgb( 48, 53, 60 );
       
       top:40px;
       z-index: 999999;
       border-radius: 6px;
       .child-item{
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        
       
       }
    }

}


.child-menu-container {
    position: absolute;
    border: 1px solid rgb( 60, 65, 74 )!important;


     background: rgb( 42, 46, 52 );
 
       box-shadow: 0 2px 16px #0006;
    left: 0;
   
    z-index: 999999;
 
    border-radius: 6px;
  
    min-width: 250px;
    width: auto;
    top:40px;  
   
    .child-item {
        margin-bottom: 0.5rem;
        &:last-child{
            margin-bottom: 0 !important;
        }
       
       
        a {
           
            background: unset !important;
           
            font-size: 14px;
            
    
          
           
            &:hover{
                background: rgb( 60, 65, 74 )  !important;
    
            }
        }
        .active{
            background:  rgba(119, 119, 119, 0.685) !important;
        }
     
        
    }
    .child-menu-header{
        padding:0.5rem;
        position: sticky;
        top: 0;
       
        
    }
    .child-menu-content{
        padding:0.3rem 0.5rem;
        overflow: auto;
        max-height: 270px;
        min-height: 270px;
        scrollbar-width: thin;
    }

}

.search-container{
    position: relative;
    margin-right: 1rem;
    .search-icon{
        position: absolute;
        left: 0;
        line-height: 37px;
        height: 37px;
        padding-left: 0.5rem;
    }
    .search-bar{
        margin-right: 1px;
        input{
            line-height: 36px !important;
            height: 37px !important;
            padding-left: 1.9rem !important;
        }
    }
    .clear-search{
       
        border-radius: 6px;
        background:  rgba(119, 119, 119, 0.685) !important;
        color: rgba(255, 255, 255, 0.7) !important;
        font-size: 14px;
        padding: 0.7rem 0.5rem;
       border: none;
       line-height: 0 !important;
       margin-bottom: 0 !important;
    }
    
}