<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Client</h1>
                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item  text-right">
                            <ul class="menu menu-align-right">




                                <li> <button (click)="openModal('addClientModal')" class="button rounded small ">
                                        + Add Client</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>




            <app-table-action [sortListItems]="sortListItems"></app-table-action>



            <div class="fade-in" *ngIf="client">
                <div *ngIf="client.length !==0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">


                            <div class="flex-item flex-1">
                                <app-table-sort (onChange)="client" [data]="client" [key]="'client_name'">
                                    Company
                                </app-table-sort>
                            </div>

                            <div class="flex-item flex-1">
                                <app-table-sort (onChange)="client" [data]="client" [key]="'client_name'">
                                    Owner
                                </app-table-sort>
                            </div>


                            <div class="flex-item flex-1">
                                <app-table-sort (onChange)="client" [data]="client" [key]="'client_category'">
                                    Category
                                </app-table-sort>
                            </div>





                            <div class="flex-item flex-1">
                                <app-table-sort [type]="'number'" (onChange)="client" [data]="client"
                                    [key]="'total_project'">
                                    Total Campaign
                                </app-table-sort>
                            </div>

                            <div class="flex-item flex-1">

                                <app-table-sort [type]="'number'" (onChange)="client" [data]="client" [key]="'total_onboard'">
                                   Total Onboard 
                                </app-table-sort>
                            </div>

                            <div class="flex-item flex-1">
                                <app-table-sort [type]="'number'" (onChange)="client" [data]="client"
                                    [key]="'total_aquisition'">
                                    Total Aquisition Won
                                </app-table-sort>

                            </div>



                            <div class="flex-item flex-1 text-right">
                                Action
                            </div>

                        </div>
                    </div>
                    <div class="table-body">
                        <div *ngFor="let item of client">
                            <div class="flex-container hover-show table-body-item align-center">



                                <div class="flex-item flex-1">





                                    <app-form-input [isHideAction]="true" [id]="'client_name'"
                                        [value]="item.client_name" (onClose)="updateClient($event,item.id)">
                                    </app-form-input>

                                </div>

                                <div class="flex-item flex-1">





                                    {{item.owner?.first_name}}  
 
                                 </div>
 

                                <div class="flex-item flex-1">





                                   {{item.client_category}}

                                </div>





                              




                                <div class="flex-item flex-1">
                                    {{ item.total_project?item.total_project:'0'}} Campaign
                                </div>
                                <div class="flex-item flex-1">
                                    <app-status-label [label]="item.total_onboard + ' Onboard'"></app-status-label>
                                    
                                </div>

                                <div class="flex-item flex-1">
                                    {{item.total_aquisition | currency :'IDR'}}
                                </div>


                                <div class="flex-item flex-1 text-right color-grey">

                                    <button class="button rounded tiny clear active" (click)="toggleChild(item)"> Show {{item.child?.length}} Brand
                                        <fa-icon *ngIf="!item.isShow" [icon]="faChevronDown"></fa-icon>
                                        <fa-icon *ngIf="item.isShow" [icon]="faChevronUp"></fa-icon>
                                    </button>


                                </div>

                            </div>
                            <div class="fade-in" *ngIf="item.isShow">
                                <div *ngFor="let child_item of item.child"
                                    class="flex-container hover-show table-body-item border align-center">



                                    <div class="flex-item flex-1">



                                        <app-form-input [isHideAction]="true" [id]="'client_name'"
                                            [value]="child_item.client_name"
                                            (onClose)="updateClient($event,child_item.id)">
                                        </app-form-input>


                                    </div>

                                    <div class="flex-item flex-1">





                                        {{child_item.owner?.first_name}} 
     
                                     </div>

                                    <div class="flex-item flex-1">



                                    {{child_item.client_category}}


                                    </div>





                                   




                                    <div class="flex-item flex-1">
                                        {{child_item.campaign_count}} Campaign
                                    </div>

                                    <div class="flex-item flex-1">
                                        <app-status-label [class]="child_item.on_board_status?'onboard':'pending'" [label]="child_item.on_board_status?'onboard':'pending'"
                                            (onSelect)="updateClient($event,child_item.id)" [option]="onboard_option">

                                        </app-status-label>
                                    </div>
                                    <div class="flex-item flex-1">
                                        {{child_item.total_aquisition | currency :'IDR'}}
                                    </div>
                                    <div class="flex-item flex-1 text-right">


                                        <button (click)="viewContact(child_item)"
                                            class="button tiny clear active hollow margin-right-02">
                                            <fa-icon [icon]="faAddressBook"></fa-icon> {{child_item.contact.length}}
                                            Contacts
                                        </button>
                                        <button (click)="plusContact(child_item)"
                                            class="button tiny clear active hollow">
                                            <fa-icon [icon]="faAddressBook"></fa-icon> +
                                        </button>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <app-placeholder *ngIf="client.length === 0"></app-placeholder>

            </div>







        </div>

    </div>

    <app-modal (onClose)="closeModal()" *ngIf="showModal == 'addClientModal'" [title]="'Add Client'">
        <form class="form" [formGroup]="clientForm">
            <label for="">Client Type</label>
            <select (change)="setValid()" formControlName="client_type">

                <option value="company">Company</option>
                <option value="brand">Brand</option>
            </select>

            <div *ngIf="clientForm.get('client_type').value == 'brand'">
                <label for="">Company</label>
                <div class="margin-bottom-05">
                    <app-form-select (onSelect)="selectClient($event)" (onSearch)="searchClient($event)"
                        [option]="client_list" [label]="'Company'"></app-form-select>
                </div>
            </div>



            <label for="">{{clientForm.get('client_type').value | titlecase}} Name</label>
            <input formControlName="client_name" type="text" name="" id="">

            <label for="">Category</label>
            <select formControlName="client_category"  name="" id="">
                <option *ngFor="let item of category" [value]="item">{{item}}</option>
            </select>

            <label for="">Onboard Type</label>
            <select formControlName="onboard_type"  name="" id="">
                <option *ngFor="let item of onboard_type" [value]="item">{{item}}</option>
            </select>
   
   


            <button [disabled]="!clientForm.valid" (click)="addClient()" class="button rounded expanded">Add
                {{clientForm.get('client_type').value}}</button>



        </form>




    </app-modal>
    <app-modal (onClose)="closeModal()" *ngIf="showModal =='addContactModal'" [title]="'Add Contact'">

        <div *ngIf="selected_brand">
            <h5>Brand : {{selected_brand.client_name}}</h5>
            <form class="form margin-bottom-1" [formGroup]="contactForm">


                <div class="flex-containers">
                    <div class="flex-items flex-1 margin-right-05">
                        <label for="">Name</label>
                        <input formControlName="name" type="text" name="" id="">

                    </div>
                    <div class="flex-items flex-1">
                        <label for="">Position</label>
                        <input formControlName="position" type="text" name="" id="">


                    </div>
                </div>

                <label for="">Mobile</label>
                <input formControlName="mobile" type="number" name="" id="">

               



            </form>
            <button [disabled]="!contactForm.valid" (click)="addContact()" class="button expanded">Add Contact</button>
        </div>
    </app-modal>

    <app-modal (onClose)="closeModal()" [title]="'Contact ' + selected_brand.client_name "
        *ngIf="showModal == 'viewContactModal' ">
        <div class="">

            <button (click)="openModal('addContactModal')" class="button small rounded clear active hollow">
                + Add Contact
            </button>
            <div class="list-tile-container">
                <div *ngFor="let item of selected_brand.contact"
                    class="callout medium-grey-bg padding-center-1 rounded  margin-bottom-05">
                    <div class="large-text margin-bottom-05">
                        <fa-icon [icon]="faAddressBook"></fa-icon> {{item.name | titlecase}} <span
                            class="span-label mega"> {{item.position}}</span>
                    </div>

                    <div class="list-tile-container">
                        <div class="list-tile-item">
                            <app-form-input [isHideAction]="true" [label]="'Mobile'" [id]="'mobile'"
                                [value]="item.mobile" (onClose)="updateContact(item.id,$event)"></app-form-input>

                        </div>
                        <div class="list-tile-item">
                            <app-form-input [isHideAction]="true" [label]="'Work'" [id]="'work'" [value]="item.work"
                                (onClose)="updateContact(item.id,$event)"></app-form-input>

                        </div>
                        <div class="list-tile-item">
                            <app-form-input [isHideAction]="true" [label]="'Email'" [id]="'email'" [value]="item.email"
                                (onClose)="updateContact(item.id,$event)"></app-form-input>

                        </div>
                    </div>




                </div>
            </div>
        </div>
    </app-modal>

</app-body>