<app-body>



    <div *ngIf="user_account" class="page-container">
        <div class="margin-bottom-1">
            <h1>Hi, {{user_account.first_name}} {{user_account.last_name}}</h1>
        </div>

      

        <app-creator-dashboard *ngIf="user_account.group?.id == 1 || user_account.id == 1"></app-creator-dashboard>
       
        <div class="flex-container">
            <div class="flex-item flex-1 margin-right-1">
                <app-card [is_expand]="true" [is_fullheigth]="true" [is_clear]="true" [title]="'Task'">
                    <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>
        
                    <app-table-action *ngIf="tab_view == 'to_do'" [sortListItems]="sortListItems"></app-table-action>
                    <app-table-action *ngIf="tab_view == 'archive'"></app-table-action>
        
                    <div *ngIf="task" class="fade-in">
                        <div *ngFor="let item of task">
        
                            <div
                                class="callout padding-center-1 rounded border medium-grey-bg margin-bottom-05 task-container cursor">
        
        
                                <div (click)="selectTask(item)">
                                    <div class="flex-container align-center margin-bottom-1">
        
                                        <div class="flex-item flex-1">
                                            <div class="large-text">
                                                {{item.title}}
                                            </div>
        
                                            <div class="large-text color-grey">
                                                {{item.description}}
                                            </div>
                                        </div>
        
                                    </div>
        
                                   
                                </div>
                                <div class="flex-container small-text align-center color-grey">
        
        
        
        
        
        
        
        
                                    <div class="flex-item flex-1 ">
                                      <span class="margin-right-05">
                                        <fa-icon [icon]="faCommentAlt"></fa-icon>
                                        {{item.total_discussion}}
                                      </span>
        
                                      <span  *ngIf="item.attachment_url_1" >
                                        <fa-icon [icon]="faPaperclip" class="margin-right-02"></fa-icon> 1
        
                                      </span>
        
        
                                    </div>
        
                                    <div class="flex-item text-right">
                                        <app-status-label class="margin-right-02" [id]="'status'"
                                            [label]="item.status?item.status:'status'" [option]="status"
                                            (onSelect)="updateTask($event,item.id)"></app-status-label>
        
                                        <app-status-label [id]="'priority'"
                                            [label]="item.priority?item.priority:'Priority'" [option]="priority"
                                            (onSelect)="updateTask($event,item.id)"></app-status-label>
                                    </div>
        
        
                                </div>
                                <div class="more-info">
                                    <div class="flex-container align-center ">
        
        
        
        
                                        <div class="flex-item tiny-text color-grey">
                                            {{item.created_at | date}} <span *ngIf="item.due_date">
                                                - {{item.due_date | date}}</span>
        
        
        
                                        </div>
                                    </div>
        
                                </div>
        
                            </div>
                        </div>
                        <app-placeholder *ngIf="task.length === 0"></app-placeholder>
        
                    </div>
        
                </app-card>
            </div>

            <div class="flex-item flex-1">
                <app-card [is_expand]="true" [is_clear]="true" [title]="'Team'">
                    <div *ngFor="let item of group" class="padding-bottom-05 margin-bottom-05 border-bottom">
                        <div class="flex-container align-center">
                            <div class="flex-item margin-right-05">
                                <img *ngIf="item.profile_photo_url" class="avatar-image"
                                    src="https://placehold.co/200x200" alt="">

                                <div *ngIf="!item.profile_photo_url" class="avatar-placeholder">
                                    {{ getPlaceholderName(item)}}
                                </div>
                            </div>
                            <div class="flex-item flex-1">
                                <div class="large-text">
                                    {{item.first_name}} {{item.last_name}}
                                </div>
                            </div>
                            <!-- <div class="flex-item">
                             <button (click)="openModal('taskModal')" class="button tiny clear active">
                                 + Task
                             </button>

                         </div> -->
                        </div>
                    </div>
                </app-card>
            </div>
        </div>


    </div>

    <app-modal-full [title]="'Task'" *ngIf="showModal == 'taskDetailModal'" (onClose)="closeModal()">
        <div *ngIf="selected_task" class="">

            <div class="flex-container">
                <div class="flex-1 margin-right-2">
                    <div style="position: sticky;top: 0;" class="task-detail-container form">
                        <div class="margin-bottom-1">
                            <div class="list-tile-container">

                                <div class="list-tile-item">
                                    <app-form-input isHideAction="true" class="huge-text" [label]="'Title'"
                                        [value]="selected_task.title" [id]="'title'" (onClose)="updateTask($event)">
                                    </app-form-input>

                                </div>
                                <div class="list-tile-item">
                                    <app-form-input isHideAction="true" [label]="'Description'"
                                        [value]="selected_task.description" [id]="'description'"
                                        (onClose)="updateTask($event)">
                                    </app-form-input>

                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'date'" [label]="'Due Date'"
                                        [value]="selected_task.due_date" [id]="'due_date'"
                                        (onClose)="updateTask($event)"></app-form-input>

                                </div>


                                <div class="list-tile-item">
                                    <div class="flex-container align-center">
                                        <div class="flex-item flex-1">
                                            
                                            

                                           Attachment <span *ngIf="selected_task.attachment_url_1"> <fa-icon [icon]="faCheckCircle"></fa-icon> </span>
                                        </div>
                                        <div class="flex-item">
                                            <input class="hide" type="file" (change)="onChange($event)" #fileUpload />
                                         
                                            <button  (click)="fileUpload.click()"  class="button tiny margin-right-02 clear active">
                                                {{selected_task.attachment_url_1?'Change':'Upload'}}
                                                
                                            </button>

                                            <button *ngIf="selected_task.attachment_url_1" (click)="download(selected_task.attachment_url_1)"  class="button tiny clear active">
                                                Download
                                            </button>
                                        </div>
                                       
                                    </div>

                                </div>

                                
                                <div class="list-tile-item flex-container">
                                    <div class="flex-1 margin-right-05">
                                        Status
                                    </div>
                                    <div class="flex-1 text-right">
                                        <app-status-label [id]="'status'"
                                            [label]="selected_task.status?selected_task.status:'status'"
                                            [option]="status" (onSelect)="updateTask($event)"></app-status-label>
                                    </div>

                                </div>

                                <div class="list-tile-item flex-container">
                                    <div class="flex-1 margin-right-05">
                                        Label
                                    </div>
                                    <div class="flex-1 text-right">
                                        <app-status-label [id]="'label'"
                                            [label]="selected_task.labels?selected_task.labels:'Label'" [option]="label"
                                            (onSelect)="updateTask($event)"></app-status-label>
                                    </div>

                                </div>

                                <div class="list-tile-item flex-container">
                                    <div class="flex-1 margin-right-05">
                                        Priority
                                    </div>
                                    <div class="flex-1 text-right">
                                        <app-status-label [id]="'priority'"
                                            [label]="selected_task.priority?selected_task.priority:'Priority'"
                                            [option]="priority" (onSelect)="updateTask($event)"></app-status-label>
                                    </div>

                                </div>
                            </div>








                        </div>









                    </div>
                </div>
                <div class="flex-1">

                    <div class="discussion-container callout padding-center-1 rounded border">
                        <div class="margin-bottom-1">
                            <h3>Discussion</h3>
                        </div>
                        <div class="">

                            <div class="flex-container align-center padding-bottom-1 form">
                                <div class="flex-item flex-1 margin-right-05">
                                    <input class="margin-bottom-0" placeholder="Write a comment" type="text" name=""
                                        id="" [(ngModel)]="task_message">

                                </div>
                                <div class="flex-item flex">

                                    <button [disabled]="!task_message" (click)="addTaskDiscussion()"
                                        class="button small margin-bottom-0">
                                        Send
                                    </button>
                                </div>
                            </div>



                        </div>

                        <div *ngFor="let item of selected_task_discussion"
                            class=" flex-container align-center callout padding-center-1 rounded medium-grey-bg margin-bottom-05">
                            <div class="flex-item">
                                <div class="flex-item margin-right-05">
                                    <img *ngIf="item.sender.profile_photo_url" class="avatar-image"
                                        src="https://placehold.co/200x200" alt="">

                                    <div *ngIf="!item.sender.profile_photo_url" class="avatar-placeholder">
                                        {{ getPlaceholderName(item.sender)}}
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item flex-1">
                                <div class="flex-container align-center">
                                    <div class="flex-item flex-1">
                                        <div class="large-text">
                                            {{item.sender.first_name}} {{item.sender.last_name}}
                                        </div>
                                    </div>
                                    <div class="flex-item">
                                        <div class="tiny-text color-grey">
                                            {{item.created_at | date : 'medium'}}
                                        </div>
                                    </div>
                                </div>

                                <div class="small-text">
                                    {{item.message}}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>




        </div>
    </app-modal-full>


</app-body>