<app-body [hideNav]="true">
    <div *ngIf="member" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container border-bottom">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/community/member/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Member
                    </a>
                </div>

                <div class="callout border padding-center rounded medium-grey-bg margin-bottom-1">



                    <div class="flex-container align-center">
                        <div class="flex-item ">
                            <!-- <img style="width: 130px;height: 130px;" class="avatar-image"
                                src="https://placehold.co/200x200" alt=""> -->

                            <!-- <div style="width: 130px;height: 130px;" *ngIf="!creator.profile_photo_url"
                                class="avatar-placeholder">
                                {{ getPlaceholderName(creator)}}
                            </div> -->

                        </div>
                        <div class="flex-item flex-2">

                            <div class="margin-bottom-1">
                                <h1>{{member.first_name}} {{member.last_name}}

                                </h1>

                                <div class="small-text color-grey">{{member.email}}</div>
                                <div>
                                    <span class="span-label Macro margin-right-02">
                                        Member ID #{{member.id}}
                                    </span>
                                    <span *ngIf="member.community_id ==1" class="span-label Macro">
                                        Mak Pintar
                                    </span>
                                    <span *ngIf="member.community_id ==2" class="span-label Macro">
                                        Pekerja Pintar
                                    </span>
                                </div>

                            </div>

                            <div class="row medium-up-4 margin-bottom-1">
                                <div class="columns">

                                    <app-form-input [isHideAction]="true" class="huge-text" [label]="'Instagram'"
                                        [value]="member.instagram_account" [id]="'instagram_account'"
                                        (onClose)="updateCommunityMember($event)"></app-form-input>
                                </div>
                                <div class="columns">

                                    <app-form-input [isHideAction]="true" [type]="'number'" class="huge-text"
                                        [label]="'Follower'" [value]="member.instagram_follower"
                                        [id]="'instagram_follower'" (onClose)="updateCommunityMember($event)">
                                    </app-form-input>
                                </div>
                                <div class="columns">
                                    <div class="small-text color-grey">Points</div>
                                    <div class="huge-text">{{member.total_points}}</div>
                                </div>
                                <div class="columns">
                                    <div class="small-text color-grey">Status</div>

                                    <app-status-label [label]="member.status" [option]="member_status"
                                        (onSelect)="updateCommunityMember($event)"></app-status-label>


                                </div>

                            </div>

                        </div>



                    </div>




                    <div class="flex-container large-text">
                        <div class="flex-item flex-1 margin-right-1">
                            <div class="list-tile-container">
                                <div class="list-tile-item">
                                    <app-form-input [label]="'Custom ID'" [value]="member.custom_member_id"
                                        [id]="'custom_member_id'" (onClose)="updateCommunityMember($event)">
                                    </app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'date'" [label]="'Birthday'" [value]="member.dob"
                                        [id]="'dob'" (onClose)="updateCommunityMember($event)"></app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'number'" [label]="'Phone'" [value]="member.phone"
                                        [id]="'phone'" (onClose)="updateCommunityMember($event)"></app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Information Source
                                    </div>
                                    {{member.information_source}}
                                </div>

                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Instagram Account
                                    </div>
                                    {{member.instagram_account}}
                                </div>

                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Interest
                                    </div>
                                    {{member.field}}
                                </div>






                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="list-tile-container">

                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Monthly Expense
                                    </div>
                                    {{member.mothly_expense}}
                                </div>

                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Number of Kids
                                    </div>
                                    {{member.number_of_kids}}
                                </div>

                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Working Status
                                    </div>
                                    {{member.working_status}}
                                </div>

                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Expectation
                                    </div>
                                    {{member.what_to_expect}}
                                </div>



                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Breast Feeded
                                    </div>
                                    {{member.is_breast_feed}}
                                </div>


                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="medium-4 columns">




                        <app-card is_half="true" class="large-text" is_expand="true" [title]="'Campaign'">
                            <div *ngFor="let item of member.campaign    " class="list-tile-container">
                                <div class="list-tile item flex-container border-bottom">
                                    <div class="flex-item flex-1 large-text">
                                        {{item.campaign.campaign_name}}
                                        <div class="color-grey tiny-text">
                                            {{item.campaign.start_date | date}}
                                        </div>
                                    </div>
                                    <div class="flex-item flex-1 text-right">
                                        <app-status-label [label]="item.status"></app-status-label>

                                    </div>
                                </div>
                            </div>
                        </app-card>


                    </div>
                    <div class="medium-4 columns">
                        <app-card is_half="true" is_add="true" is_expand="true" title="Points"
                            (onAdd)="openModal('addPointsModal')">
                            <div class="list-tile-container">
                                <div *ngFor="let item of member.points" class="list-tile-item flex-container">
                                    <div class="flex-item flex-2 margin-right-05">

                                        <div *ngIf="!item.activity_id">
                                            {{item.description}}
                                        </div>
                                        <div *ngIf="item.activity_id">
                                            {{item.points.description}}
                                        </div>
                                        <div class="tiny-text color-grey">
                                            {{item.created_at | date}}
                                        </div>
                                    </div>
                                    <div class="flex-item flex-05 text-right">


                                        <app-status-label *ngIf="item.type=='credit'" [class]="'best'"
                                            [label]="'+ '+item.value"></app-status-label>
                                        <app-status-label *ngIf="item.type=='debit'" [class]="'bad'"
                                            [label]="'- '+item.value"></app-status-label>

                                        <app-status-label *ngIf="item.type=='refund'" [class]="'cancel'"
                                            [label]="'Refund '+item.value"></app-status-label>



                                    </div>
                                </div>
                            </div>
                        </app-card>


                    </div>
                    <div class="medium-4 columns">


                        <app-card [is_half]="true" is_add="true" is_expand="true" title="Reward"
                            (onAdd)="openModal('addRewardModal')">
                            <div class="list-tile-container">
                                <div *ngFor="let item of member.reward"
                                    class="list-tile-item flex-container align-center">
                                    <div class="flex-item flex-1 margin-right-05">
                                        <div *ngIf="!item.community_reward_id"> {{item.name}} </div>
                                        <div *ngIf="item.community_reward_id"> {{item.reward.name}} </div>

                                        <div class="tiny-text color-grey">


                                            <div *ngIf="!item.community_reward_id"> {{item.description}} </div>
                                            <div *ngIf="item.community_reward_id"> {{item.reward.description}} </div>

                                        </div>
                                    </div>
                                    <div class="flex-item text-right">


                                        <app-status-label [label]="item.status"></app-status-label>


                                    </div>
                                </div>
                            </div>
                        </app-card>





                    </div>
                </div>
            </div>
        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">


                    <app-note (afterSubmit)="ngOnInit()" [id]="'community_member_id'" [value]="member.id"
                        [note]="member.note">
                    </app-note>




                </div>


            </div>
        </div>
    </div>


    <app-modal title="Add Points" (onClose)="closeModal()" *ngIf="showModal == 'addPointsModal'">

        <form class="form margin-bottom-1" [formGroup]="pointsForm">


            <label for="">Description</label>
            <input formControlName="description" type="text" name="" id="">

            <label for="">Value</label>
            <input formControlName="value" type="number" name="" id="">






        </form>

        <app-remove-button (onClick)="addMemberPoints()">
            <button [disabled]="!pointsForm.valid" class="button expanded">Add Points</button>

        </app-remove-button>

    </app-modal>

    <app-modal title="Add Reward" (onClose)="closeModal()" *ngIf="showModal == 'addRewardModal'">

        <form class="form margin-bottom-1" [formGroup]="rewardForm">


            <label for="">Description</label>
            <input formControlName="description" type="text" name="" id="">

            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">


            <label for="">Value ( reward value in IDR )</label>
            <input formControlName="value" type="number" name="" id="">






        </form>

        <app-remove-button (onClick)="addCustomMemberReward()">
            <button [disabled]="!rewardForm.valid" class="button expanded">Add Reward</button>

        </app-remove-button>

    </app-modal>

</app-body>