.login-modal{
    background: #050607a8;

    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 999999;
    padding:5% 0;
}

.login-content{
    background: #333 !important;
    padding: 10% 17%;
}

.close-button{
    font-size: 22px;
    position: absolute;
    right: 3%;
    top: 3%;
}