<div class="login-modal fade-in">
    <div class="row">
        <div class="medium-4 columns medium-centered">
            <div class="callout padding-center rounded login-content relative">
                <span (click)="onClose.emit(true)" class="cursor close-button">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </span>
                <h1>Welcome to Edenfeed</h1>
             

                <div *ngIf="showForm == 'login'" class="form margin-bottom-2">
                    <p class="margin-bottom-2">Please signin to continue</p>
                    <form class="form" [formGroup]="loginForm">
                        
                        <div class="margin-bottom-1">
                            <label for="">Email</label>
                            <input class="margin-bottom-05" formControlName="email" type="text" >
            
                            <label for="">Password</label>
                            <input class="margin-bottom-05" formControlName="password" type="password" >
                        </div>
                        <div class="large-text margin-bottom-2">
                            Forgot Password? <span class="bold cursor">Click Here</span>
                        </div>
        
                        

                        <button (click)="login()" class="button expanded margin-bottom-1">
                            Signin
                        </button>  
                        
                        <button (click)="showForm ='register'" class="button clear active hollow expanded ">
                            Create an Account
                        </button>

                        
                    </form>
                   
                    
                </div>

                <div *ngIf="showForm == 'register'" class="form margin-bottom-2">
                    <form class="form" [formGroup]="registerForm">
                        <p class="margin-bottom-2">Create a new Account</p>
                        <div class="margin-bottom-1">
                            <div *ngIf="isShowWarning()" class="callout padding-center-1 warning-bg rounded small-text margin-bottom-1">
                                Password not match
                            </div>

                            <label for="">Fullname</label>
                            <input class="margin-bottom-05" formControlName="first_name" type="text">
            

                            <label for="">Email</label>
                            <input class="margin-bottom-05" formControlName="email" type="text">
            
                            <label for="">Password</label>
                            <input class="margin-bottom-05" formControlName="password" type="password">

                            <label for="">Confirm Password</label>
                            <input class="margin-bottom-1" formControlName="confirm_password" type="password" >
                            
                           
                        </div>
                        <div class="large-text margin-bottom-2">
                       

                            <span (click)="showForm ='login'" class="bold cursor">Back to Login</span>
                          
                        </div>
                        <button [disabled]="!registerForm.valid" (click)="addUserAccount()" class="button expanded">
                            Create New Account
                        </button>
                        
                        
                    </form>
                   
                    
                </div>

                
               
               
            </div>
        </div>
    </div>
</div>