
.reduce{
    border: none  !important;
    margin-bottom: 0rem;
    
    border-radius: 3px !important;
    padding: 0 !important;
    line-height: 1.5;
    color: #cccccc !important;
    background: unset !important;
    border-radius: 0 !important;
    border-bottom: 1px solid white !important;
    
  }
  .image-container{
    object-fit:cover;
    border-radius: 6px;
    width: 70px;
    height: 70px;
  }
  .bar{
    width: 40px;background: black;position: absolute;right:0;top:0;height: 100%;z-index: 99;   background: rgb(48,53,60);
                    background: linear-gradient(270deg, rgb(41, 45, 51) 0%, rgba(48,53,60,0) 100%);
  }