<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Inventory</h1>


                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addInventoryModal')" class="button rounded  small ">+
                                        Add Inventory</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>


            <div *ngIf="tab_view == 'product'">
                <app-table-action [sortListItems]="sortListItems"></app-table-action>
                <div class="fade-in parrent" *ngIf="product">
                    <div class="child" *ngIf="product.length !== 0">

                        <div class="table-header">
                            <div class="flex-container table-header-item">




                                <div class="flex-item flex-15">
                                    <app-table-sort (onChange)="product" [data]="product" [key]="'name'">
                                        Name
                                    </app-table-sort>





                                </div>


                                <div class="flex-item flex-1">
                                    <app-table-sort (onChange)="product" [data]="product" [key]="'brand'">
                                        Brand
                                    </app-table-sort>


                                </div>


                                <div class="flex-item flex-1">
                                    <app-table-sort [type]="'number'" (onChange)="product" [data]="product"
                                        [key]="'category_id'">
                                        Category
                                    </app-table-sort>
                                </div>







                                <div class="flex-item flex-1">

                                    <app-table-sort (onChange)="product" [data]="product" [key]="'last_stock_in'">
                                        Last Stock In
                                    </app-table-sort>
                                </div>

                                <div class="flex-item flex-1">


                                    <app-table-sort (onChange)="product" [data]="product" [key]="'last_stock_out'">
                                        Last Stock Out
                                    </app-table-sort>
                                </div>

                                <div class="flex-item flex-1">

                                    <app-table-sort [type]="'number'" (onChange)="product" [data]="product"
                                        [key]="'total_stock'">
                                        Total Stock
                                    </app-table-sort>
                                </div>
                                <div class="flex-item flex-05 text-right">
                                    Action
                                </div>



                            </div>
                        </div>
                        <div class="table-body">
                            <div *ngFor="let item of product">
                                <div [ngClass]="{'long-fade-in': item.isNew}"
                                    class="flex-container hover-show table-body-item align-center">



                                    <div class="flex-item flex-15">

                                        <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                            [id]="'name'" [value]="item.name"
                                            (onClose)="updateInventory($event,item.id)">
                                        </app-form-input>


                                    </div>

                                    <div class="flex-item flex-1">



                                        <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Brand'"
                                            [id]="'brand'" [value]="item.brand"
                                            (onClose)="updateInventory($event,item.id)">
                                        </app-form-input>

                                    </div>


                                    <div class="flex-item flex-1">


                                        <app-form-select [isClean]="true" (onSelect)="updateInventory($event,item.id)"
                                            (onSearch)="searchCategory($event)" [option]="category_option"
                                            [selected_option]="item.category?.name" [label]="'category'">
                                        </app-form-select>
                                    </div>


                                    <div class="flex-item flex-1">
                                        {{item.last_stock_in? (item.last_stock_in | date) : 0}}
                                    </div>

                                    <div class="flex-item flex-1">
                                        {{item.last_stock_out? (item.last_stock_out | date) : 0}}


                                    </div>

                                    <div class="flex-item flex-1">
                                        <button (click)="showStock(item)"
                                            class="button tiny clear active margin-right-02">
                                            {{item.total_stock}} Items(s)
                                        </button>

                                        <button (click)="showStock(item)" class="button tiny clear active">
                                            <fa-icon [icon]="faExpandAlt"></fa-icon>
                                        </button>




                                    </div>

                                    <div class="flex-item flex-05 text-right">
                                        <app-remove-button (onClick)="deleteInventory('product',item)">
                                            <button class="button tiny clear active">
                                                <fa-icon [icon]="faTrashAlt"></fa-icon>
                                            </button>

                                        </app-remove-button>
                                    </div>




                                </div>

                            </div>

                        </div>

                        <div lazyload (onShown)="loadMoreProduct()"></div>

                    </div>

                    <app-placeholder *ngIf="product.length === 0"></app-placeholder>



                </div>



            </div>

            <div *ngIf="tab_view == 'assets'">

                <app-table-action [sortListItems]="sortListItemss"></app-table-action>
                <div class="table-container relative">

                    <div class="fade-in parrent " *ngIf="assets">
                        <div class="bar"></div>
                        <div class="child" *ngIf="assets.length !== 0">
                            <div class="table-header">
                                <div class="flex-container table-header-item">
                                    <div class="flex-item flex-15">


                                        <app-table-sort (onChange)="assets" [data]="assets" [key]="'name'">
                                            Name
                                        </app-table-sort>


                                    </div>
                                    <div class="flex-item flex-1">


                                        <app-table-sort (onChange)="assets" [data]="assets" [key]="'brand'">
                                            Brand
                                        </app-table-sort>

                                    </div>

                                    <div class="flex-item flex-1">


                                        <app-table-sort [type]="'number'" (onChange)="assets" [data]="assets"
                                            [key]="'category_id'">
                                            Category
                                        </app-table-sort>

                                    </div>



                                    <div class="flex-item flex-1">


                                        <app-table-sort (onChange)="assets" [data]="assets" [key]="'location'">
                                            Location
                                        </app-table-sort>

                                    </div>


                                    <div class="flex-item flex-1">



                                        <app-table-sort [type]="'number'" (onChange)="assets" [data]="assets"
                                            [key]="'cost'">
                                            Cost
                                        </app-table-sort>

                                    </div>


                                    <div class="flex-item flex-1">


                                        <app-table-sort (onChange)="assets" [data]="assets" [key]="'expired_date'">
                                            Expired Date
                                        </app-table-sort>

                                    </div>

                                    <div class="flex-item flex-1">


                                        <app-table-sort (onChange)="assets" [data]="assets" [key]="'status'">
                                            Status
                                        </app-table-sort>

                                    </div>



                                    <div class="flex-item flex-05 text-right">
                                        Action
                                    </div>



                                </div>
                            </div>
                            <div class="table-body">
                                <div *ngFor="let item of assets">
                                    <div [ngClass]="{'long-fade-in': item.isNew}"
                                        class="flex-container table-body-item align-center">


                                        <div class="flex-item flex-15">

                                            <div class="flex-container">
                                                <div class="flex-item">
                                                    <div *ngIf="!item.image_url">
                                                        <button (click)="fileUpload.click()"
                                                            class="button tiny clear active">{{item.image_url?'Change':'Photo'}}
                                                            <fa-icon [icon]="faUpload"></fa-icon> </button>
                                                    </div>

                                                    <div *ngIf="item.image_url">
                                                        <img class="cursor image-container" (click)="showImage(item)"
                                                            [src]="item.image_url" width="50" height="50" alt="">

                                                    </div>

                                                </div>
                                                <div class="flex-item flex-1">
                                                    <app-form-input [isHideLabel]="true" [isHideAction]="true"
                                                        [label]="'Name'" [id]="'name'" [value]="item.name"
                                                        (onClose)="updateInventory($event,item.id)">
                                                    </app-form-input>

                                                    <div class="tiny-text color-grey">
                                                        Receive on {{item.created_at | date}}
                                                    </div>
                                                    <input class="hide" type="file" (change)="onChange($event,item.id)"
                                                        #fileUpload />
                                                </div>
                                            </div>








                                        </div>

                                        <div class="flex-item flex-1">



                                            <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Brand'"
                                                [id]="'brand'" [value]="item.brand"
                                                (onClose)="updateInventory($event,item.id)">
                                            </app-form-input>
                                        </div>



                                        <div class="flex-item flex-1">


                                            <app-form-select [isClean]="true"
                                                (onSelect)="updateInventory($event,item.id)"
                                                (onSearch)="searchCategory($event)" [option]="category_option"
                                                [selected_option]="item.category?.name" [label]="'category'">
                                            </app-form-select>
                                        </div>

                                        <div class="flex-item flex-1">
                                            <app-form-input [isHideLabel]="true" [isHideAction]="true"
                                                [label]="'Location'" [id]="'location'" [value]="item.location"
                                                (onClose)="updateInventory($event,item.id)">
                                            </app-form-input>

                                            <div class="tiny-text color-grey">
                                                Last Update on {{item.updated_at | date}}
                                            </div>

                                        </div>

                                        <div class="flex-item flex-1">

                                            <app-form-input [type]="'currency'" [isHideLabel]="true"
                                                [isHideAction]="true" [label]="'Price'" [id]="'cost'"
                                                [value]="item.cost" (onClose)="updateInventory($event,item.id)">
                                            </app-form-input>
                                        </div>




                                        <div class="flex-item flex-1">


                                            <app-form-input [type]="'date'" [isHideLabel]="true" [isHideAction]="true"
                                                [label]="'expired_date'" [id]="'expired_date'"
                                                [value]="item.expired_date" (onClose)="updateInventory($event,item.id)">
                                            </app-form-input>


                                            <div *ngIf="item.expired_date"> <span class="span-label Macro">
                                                    {{_getExpired(item.expired_date)}}

                                                </span></div>
                                        </div>

                                        <div class="flex-item flex-1">
                                            <app-status-label [class]="item.status" [label]="item.status"
                                                [option]="assets_status" (onSelect)="updateInventory($event,item.id)">
                                            </app-status-label>
                                        </div>

                                        <div class="flex-item flex-05 text-right">
                                            <app-remove-button (onClick)="deleteInventory('assets',item)">
                                                <button class="button tiny clear active">
                                                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                                                </button>

                                            </app-remove-button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div lazyload (onShown)="loadMoreAssets()"></div>

                           
                        </div>


                        <app-placeholder *ngIf="assets.length === 0"></app-placeholder>


                    </div>
                </div>

                <app-modal [isHalf]="true" (onClose)="selectedImage = null" *ngIf="selectedImage" (onClose)="showModal=null">
                    <div class="text-center">
                        <div class="margin-bottom-1">
                            <img [src]="selectedImage.image_url" width="550" height="550" alt="">
                        </div>
                        <button (click)="fileUpload.click()"
                            class="button  clear active">{{selectedImage.image_url?'Change':'Upload'}}
                            <fa-icon [icon]="faUpload"></fa-icon> </button>

                        <input class="hide" type="file" (change)="onChange($event,selectedImage.id)" #fileUpload />
                    </div>


                </app-modal>




            </div>

            <div *ngIf="tab_view =='category'">
                <app-table-action>
                    <button (click)="addVendorProductCategory()" class="button small active clear hollow">+
                        Category</button>

                </app-table-action>


                <div *ngIf="category" class="fade-in">
                    <app-placeholder *ngIf="category.length === 0"></app-placeholder>
                    <div *ngIf="category.length !==0">
                        <div class="table-header">
                            <div class="flex-container align-center  table-header-item">


                                <div class="flex-item flex-1">



                                    <app-table-sort (onChange)="category" [data]="category" [key]="'name'">
                                        Name
                                    </app-table-sort>
                                </div>


                                <div class="flex-item flex-1">
                                    Description
                                </div>
                                <div class="flex-item flex-05 text-right">

                                </div>

                            </div>
                        </div>
                        <div class="table-body">
                            <div *ngFor="let item of category"
                                class="flex-container hover-show align-center table-body-item">


                                <div class="flex-item flex-1">
                                    <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                        [id]="'name'" [value]="item.name"
                                        (onClose)="updateVendorProductCategory($event,item.id)">
                                    </app-form-input>
                                </div>


                                <div class="flex-item flex-1">
                                    <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Description'"
                                        [id]="'description'" [value]="item.description"
                                        (onClose)="updateVendorProductCategory($event,item.id)">
                                    </app-form-input>
                                </div>
                                <div class="flex-item flex-05 text-right">
                                    <app-remove-button (onClick)="deleteVendorProductCategory(item)">
                                        <button class="button tiny clear active">
                                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                                        </button>
                                    </app-remove-button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <app-modal (onClose)="closeModal()" [title]="'Receive Stock'" *ngIf="showModal == 'addStockModal'">

        <form class="form" [formGroup]="stockForm">
            <label for="">Sender</label>
            <input formControlName="sender" type="text" name="" id="">

            <label for="">Variant</label>
            <input formControlName="variant" type="text" name="" id="">

            <label for="">Stock In</label>
            <input formControlName="stock_in" type="number" name="" id="">

            <label for="">Expired Date</label>
            <input formControlName="expired_date" type="date" name="" id="">

            <label for="">Warehouse Location</label>
            <input formControlName="location" type="text" name="" id="">

            <button [disabled]="!stockForm.valid" (click)="addInventoryStock()" class="button expanded">Add
                Stock</button>
        </form>
    </app-modal>
    <!-- *ngIf="showModal == 'addStockModal' -->
    <app-modal (onClose)="closeModal()" *ngIf="showModal == 'addInventoryModal'" [title]="'Add Inventory'">

        <form class="form" [formGroup]="inventoryForm">
            <label for="">Type</label>

            <select formControlName="type" name="" id="">
                <option value="product">Product</option>
                <option value="assets">Assets</option>
            </select>

            <div *ngIf="inventoryForm.get('type').value == 'product'">
                <label for="">Name</label>
                <input formControlName="name" type="text" name="" id="">

                <label for="">Brand</label>
                <input formControlName="brand" type="text" name="" id="">
                <div class="margin-bottom-1">

                    <label for="">Category</label>

                    <app-form-select (onSelect)="selectCategory($event)" (onSearch)="searchCategory($event)"
                        [option]="category_option" [label]="'category'"></app-form-select>

                </div>

            </div>

            <div *ngIf="inventoryForm.get('type').value == 'assets'">
                <label for="">Name</label>
                <input formControlName="name" type="text" name="" id="">

                <label for="">Brand</label>
                <input formControlName="brand" type="text" name="" id="">

                <div class="margin-bottom-1">

                    <label for="">Category</label>

                    <app-form-select (onSelect)="selectCategory($event)" (onSearch)="searchCategory($event)"
                        [option]="category_option" [label]="'category'"></app-form-select>

                </div>

                <label for="">Expired</label>
                <input formControlName="expired_date" type="date" name="" id="">

                <label for="">Assets Location</label>
                <input formControlName="location" type="text" name="" id="">

                <label for="">Cost</label>
                <input formControlName="cost" type="number" name="" id="">


            </div>

            <div>

            </div>

            <button [disabled]="!inventoryForm.valid" (click)="addInventory()" class="button expanded">Add
                Inventory</button>
        </form>
    </app-modal>

    <app-modal isHalf="true" [title]="'Stock'" (onClose)="closeModal()" *ngIf="showModal == 'stockModal'"
        class="margin-bottom-1 fade-in">

        <div class="">
            <button (click)="openModal('addStockModal')" class="button tiny white margin-bottom-1">+ Receive
                Stock</button>
            <div *ngIf="selected_inventory.stock?.length>0">

                <div [ngClass]="{'long-fade-in': item.isNew}" *ngFor="let item of selected_inventory.stock"
                    class="flex-container callout border rounded padding-center-1  margin-bottom-05">




                    <div class="flex-item flex-3 large-text">

                        <div class="flex-container">
                            <div class="flex-item flex-1 margin-right-05">
                                <div *ngIf="item.image_url">
                                    <img class="cursor" [src]="item.image_url" width="200" height="200" alt="">


                                </div>
                                <div *ngIf="!item.image_url_1">
                                    <button (click)="fileUpload.click()"
                                        class="button tiny clear active">{{item.image_url?'Change':'Photo'}}
                                        <fa-icon [icon]="faUpload"></fa-icon> </button>
                                </div>

                                <input class="hide" type="file" (change)="onChangeStock($event,item)" #fileUpload />

                            </div>
                            <div class="flex-item flex-1">

                                Batch #{{item.id}}

                                <div class="margin-bottom-05" *ngIf="item.variant">
                                    Varian : {{item.variant}}
                                </div>



                                <div class="flex-container align-center color-grey tiny-text margin-bottom-05">
                                    <div class="flex-item flex-05">
                                        Sender:
                                    </div>
                                    <div class="flex-item flex-1">
                                        <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'sender'"
                                            [id]="'sender'" [value]="item.sender"
                                            (onClose)="updateInventoryStock($event,item)">
                                        </app-form-input>
                                    </div>
                                </div>




                                <div class="flex-container align-center color-grey tiny-text margin-bottom-05">
                                    <div class="flex-item flex-05">
                                        Receive Date :
                                    </div>
                                    <div class="flex-item flex-1">
                                        <app-form-input [type]="'date'" [isHideLabel]="true" [isHideAction]="true"
                                            [label]="'created_at'" [id]="'created_at'" [value]="item.created_at"
                                            (onClose)="updateInventoryStock($event,item)">

                                        </app-form-input>
                                        <span class="span-label Macro">
                                            {{_getAge(item.created_at)}}

                                        </span>
                                    </div>
                                </div>


                                <div class="flex-container align-center color-grey tiny-text margin-bottom-05">
                                    <div class="flex-item flex-05">
                                        Expired Date :
                                    </div>
                                    <div class="flex-item flex-1">
                                        <app-form-input [type]="'date'" [isHideLabel]="true" [isHideAction]="true"
                                            [label]="'expired_date'" [id]="'expired_date'" [value]="item.expired_date"
                                            (onClose)="updateInventoryStock($event,item)">
                                        </app-form-input>

                                        <div *ngIf="item.expired_date ">
                                            <span class="span-label Macro">
                                                {{_getExpired(item.expired_date)}}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-container align-center color-grey tiny-text">
                                    <div class="flex-item flex-05">
                                        Location
                                    </div>
                                    <div class="flex-item flex-1">

                                        <app-form-input [isHideAction]="true" [isHideLabel]="true" [label]="'Location'"
                                            [id]="'location'" [value]="item.location"
                                            (onClose)="updateInventoryStock($event,item)">
                                        </app-form-input>

                                    </div>
                                </div>

                            </div>
                        </div>















                    </div>









                    <div class="flex-item flex-1">
                        <div class="small-text color-grey">
                            Stock In
                        </div>
                        <app-form-input [type]="'number'" isHideLabel="true" [isHideAction]="true" [label]="'Stock In'"
                            [id]="'stock_in'" [value]="item.stock_in" (onClose)="updateInventoryStock($event,item)">
                        </app-form-input>


                    </div>


                    <div class="flex-item flex-1">
                        <div class="small-text color-grey">
                            Stock Out
                        </div>
                        {{item.stock_out}}


                    </div>



                    <div class="flex-item flex-1">

                        <div class="small-text color-grey">
                            Available Stock
                        </div>
                        <div class="flex-container margin-bottom-1">
                            <div class="flex-item margin-right-02">
                                <button [disabled]="item.stock_out === item.stock_in" (click)="updateStock('add',item)"
                                    class="button tiny clear active margin-bottom-0">-</button>




                            </div>
                            <div class="flex-item margin-right-02">
                                {{item.stock_in - item.stock_out}}

                            </div>
                            <div class="flex-item">

                                <button [disabled]="item.stock_out === 0" (click)="updateStock('reduce',item)"
                                    class="button tiny clear active margin-bottom-0">+</button>
                            </div>


                        </div>

                        <div class="small-text color-grey">
                            Custom Value
                        </div>
                        <div class="flex-container">
                            <div class="flex-item flex-1 margin-right-05">
                                <input class="reduce" type="number" [(ngModel)]="item.bulk_stock">

                            </div>
                            <div class="flex-item flex-1">

                                <button [disabled]="!item.bulk_stock" (click)="bulkStock(item)"
                                    class="button tiny active clear">
                                    Reduce
                                </button>
                            </div>

                        </div>
                    </div>






                </div>
            </div>
            <app-placeholder *ngIf="selected_inventory.stock?.length == 0"></app-placeholder>
        </div>

    </app-modal>

</app-body>