<app-top-navigation-client></app-top-navigation-client>

<div *ngIf="management" class="page-container">
    <div class="row" style="max-width: 76rem;">
        <div class=" show-for-medium medium-4 columns">
            <div class="callout border padding-center rounded medium-grey-bg margin-bottom-1 halfheight">


                <div class="margin-bottom-1">
                    <h1>{{management.name | titlecase}}</h1>
                    <span class="span-label">
                        Management Account
                    </span>
                </div>

                <div class="list-tile-container">
                    <div class="list-tile-item">
                        <app-form-input (onClose)="updateManagement($event)" 
                                [label]="'Address'"  [id]="'location'" [value]="management.location">
                            </app-form-input>

                    </div>
                    <div class="list-tile-item">
                        <app-form-input (onClose)="updateManagement($event)" 
                        [label]="'Email'"  [id]="'email'" [value]="management.email">
                    </app-form-input>
                    </div>
                    <div class="list-tile-item">
                        <app-form-input (onClose)="updateManagement($event)" 
                        [label]="'Phone'"  [id]="'phone'" [value]="management.phone">
                    </app-form-input>
                    </div>
                </div>
            </div>
        </div>
        <div class="medium-8 columns">


            <div class="callout padding-center small-container border rounded medium-grey-bg margin-bottom-1 halfheight">


                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                       <h1>Manage Creator</h1>
                    </div>

                </div>

                <div *ngIf="management.creator.length>0" class="show-for-medium">
                    <div class="table-header">
                        <div class="flex-container table-header-item">
                            <div class="flex-item flex-2">
                                Creator
                            </div>
                            <div class="flex-item flex-1">
                                Campaign
                            </div>




                            <div class="flex-item flex-1">
                                Ratecard


                            </div>




                        </div>
                    </div>

                    <div *ngFor="let item of management.creator" class="table-body">
                        <div class="flex-container table-body-item border">
                            <div class="flex-item flex-2">
                              <div>  {{item.first_name}}
                                {{item.last_name}}</div>

                                <span class="span-label Micro margin-right-02" *ngFor="let item of item.persona">
                                    {{item.label}}
                                </span>
                            </div>
                            <div class="flex-item flex-1">
                                {{item.campaign_count}}
                            </div>




                            <div class="flex-item flex-1">
                                <button (click)="viewRate(item)" class="button tiny clear active margin-right-02">
                                    {{item.rate.length}}
                                    Service
                                </button>

                                <button (click)="viewRate(item)"
                                    class="button tiny clear active margin-bottom-0 margin-right-02">
                                    <fa-icon [icon]="faExpandAlt"></fa-icon>
                                </button>

                            </div>



                        </div>
                    </div>


                </div>

                <div *ngIf="management.creator.length>0" class="padding-center show-for-small-only">
                    

                    <div *ngFor="let item of management.creator" class="callout padding-center-1 rounded border margin-bottom-05 medium-grey-bg">
                        <div class="flex-container table-body-item border">
                            <div class="flex-item flex-2">
                              <div>  {{item.first_name}}
                                {{item.last_name}}</div>

                                <span class="span-label Micro margin-right-02" *ngFor="let item of item.persona">
                                    {{item.label}}
                                </span>
                            </div>
                            <div class="flex-item flex-1">
                                <div class="tiny-text">
                                    Total Campaign
                                </div>
                                {{item.campaign_count}}
                            </div>




                            <div class="flex-item flex-">
                              

                                <button (click)="viewRate(item)"
                                    class="button tiny clear active margin-bottom-0 margin-right-02">
                                    <fa-icon [icon]="faExpandAlt"></fa-icon>
                                </button>

                            </div>



                        </div>
                    </div>


                </div>

                <app-placeholder *ngIf="management.creator.length==0"></app-placeholder>




            </div>




        </div>

    </div>





</div>


<app-modal-full [title]="'Ratecard'" *ngIf="showModal == 'rateModal'" (onClose)="closeModal()">
    <div class="table-body" *ngIf="selected_creator">

        <button (click)="addNewRateCart()" class="button clear tiny active hollow">
            + Add Rate Cart
        </button>



        <div class="show-for-medium" *ngIf="selected_creator.rate.length>0">
            <div class="table-header">
                <div class="flex-container table-header-item">

                    <div class="flex-item flex-1">
                        Platform
                    </div>




                    <div class="flex-item flex-2">
                        Service
                    </div>

                    <div class="flex-item flex-1">
                        Price
                    </div>
                    <div class="flex-item text-right" style="width: 15px;">


                    </div>



                </div>
            </div>

            <div class="table-body">
                <div [ngClass]="{'long-fade-in': item.isNew}" *ngFor="let item of selected_creator.rate"
                    class="flex-container table-body-item border align-center  form">



                    <div class="flex-item flex-1">

                        <app-form-select [isClean]="true" (onSelect)="updateRate($event,item.id)"
                            [option]="platform_list" [label]="'Platform'" [selected_option]="item.platform_name">
                        </app-form-select>




                    </div>


                    <div class="flex-item flex-2">



                        <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                            [value]="item.rate_name" [id]="'rate_name'" (onClose)="updateRate($event,item.id)">
                        </app-form-input>
                        <div class="color-grey tiny-text"> Last Update {{item.updated_at | date}}</div>

                    </div>
                    <div class="flex-item flex-1">



                        <app-form-input [type]="'currency'" [isHideLabel]="true" [isHideAction]="true" [label]="'Price'"
                            [value]="item.rate_price" [id]="'rate_price'" (onClose)="updateRate($event,item.id)">
                        </app-form-input>


                    </div>

                    <div class="flex-item text-right" style="width: 15px;">

                        <app-remove-button (onClick)="deleteCreatorRate(item)">
                            <button class="button clear  tiny active margin-bottom-0">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>

                        </app-remove-button>

                    </div>



                </div>
            </div>
        </div>

        <div class="show-for-small-only padding-center" *ngIf="selected_creator.rate.length>0">


            <div class="table-body">
                <div [ngClass]="{'long-fade-in': item.isNew}" *ngFor="let item of selected_creator.rate"
                    class="callout list-tile-container border medium-grey-bg padding-center-1 rounded margin-bottom-05 form">



                    <div class="list-tile-item">
                        <div class="color-grey tiny-text margin-bottom-05"> Last Update
                            {{item.updated_at | date}}</div>

                        <app-form-select [isClean]="true" (onSelect)="updateRate($event,item.id)"
                            [option]="platform_list" [label]="'Platform'"
                            [selected_option]="item.platform_name"></app-form-select>



                    </div>



                    <div class="list-tile-item">



                        <app-form-input [label]="'Name'" [value]="item.rate_name" [id]="'rate_name'"
                            (onClose)="updateRate($event,item.id)">
                        </app-form-input>
                    </div>



                    <div class="list-tile-item margin-bottom-05">



                        <app-form-input [type]="'currency'" [label]="'Price'" [value]="item.rate_price"
                            [id]="'rate_price'" (onClose)="updateRate($event,item.id)">
                        </app-form-input>


                    </div>

                    <div class="list-tile-items">

                        <app-remove-button (onClick)="deleteCreatorRate(item)">
                            <button class="button clear  tiny active margin-bottom-0">
                                <fa-icon [icon]="faTrash"></fa-icon> Remove
                            </button>

                        </app-remove-button>

                    </div>


                </div>
            </div>
        </div>

    </div>

</app-modal-full>