.modal-container {
  background: #050607a8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 3% 15%;
  z-index: 99999999999999;
  transition: all 10s ease;


@media screen and (max-width: 39.9375em) {
 
  padding: 0 !important;
    


    
}




  .modal-content {
      background: rgb( 42, 46, 52 );
    box-shadow: 0 2px 16px #0006;
    min-height: 80vh;
    border-radius: 10px;

    @media screen and (max-width: 39.9375em) {
 
      min-height: 100vh  !important;
        
    
    
        
    }
    

    position: relative;
    .modal-header{
      padding: 1rem 1.5rem;
    border-bottom: 1px solid rgb( 60, 65, 74 )!important;
     
    }
    .modal-body{
      padding: 1.5rem;
      max-height: 80vh;
      min-height: 80vh;
      overflow-y: scroll;

      @media screen and (max-width: 39.9375em) {
 
        min-height: 100vh  !important;
          
        max-height: 100vh  !important;
      
      
          
      }
      

    }
  }


  .close {
    font-size: 22px;
    position: absolute;
    top: 2%;
    right: 2%;
    font-weight: bold;
    color: white !important;

  }
}



.zoom-in {
  animation: zoom 0.2s;
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

