.option-container{
    border: 1px solid rgb( 60, 65, 74 )!important;

   
    background: rgb( 42, 46, 52 );
    border-radius: 6px;
      box-shadow: 0 2px 16px #0006;
   // background: #29292947 !important;
    .search-container{
        padding: 1rem;
        max-height: 175px;
        overflow: auto;
    
    }
    .search-input{
        padding: 0.5rem 1rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background-color: rgb( 48, 53, 60 ) !important;
    }
    .done-container{
        padding: 0.5rem 1rem;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: rgb( 48, 53, 60 ) !important;
 
       
    }
   
}
.close-button{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 12px  !important;
}