<app-body [hideNav]="true">
    <div *ngIf="campaign" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/creator/campaign/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Campaign
                    </a>
                </div>

                <div class="callout border padding-center rounded medium-grey-bg margin-bottom-1">



                    <div class="flex-container align-center">
                        <div class="flex-item margin-right-2 text-center">
                            <div class="callout border padding-center medium-grey-bg rounded border">
                                <h1 class="margin-bottom-0">{{campaign.start_date | date : "dd"}}</h1>
                                <div class="large-text color-grey">{{campaign.start_date | date : "MMM"}}
                                    {{campaign.start_date | date : "yyyy"}}</div>
                            </div>
                        </div>

                        <div class="flex-item flex-2">
                            

                            <app-form-input  class="mega-text" [isHideAction]="true" 
                           [value]="campaign.campaign_name" [id]="'campaign_name'"
                            (onClose)="updateCampaign($event)"></app-form-input>


                            <div class="large-text margin-bottom-1">
                                Project Owner : {{campaign.owner?.first_name}}
                            </div>

                            <div *ngIf="overview" class="row medium-up-3">
                                <div class="columns">

                                    <app-form-input class="huge-text" [isHideAction]="true" [type]="'date'"
                                        [label]="'Start Date'" [value]="campaign.start_date" [id]="'start_date'"
                                        (onClose)="updateCampaign($event)"></app-form-input>
                                </div>

                                <div class="columns">

                                    <app-form-input class="huge-text" [isHideAction]="true" [type]="'currency'"
                                        [label]="'Budget'" [value]="campaign.budget" [id]="'budget'"
                                        (onClose)="updateCampaign($event)"></app-form-input>
                                </div>

                                <div class="columns">

                                    <app-form-input class="huge-text" [isHideAction]="true"
                                        [label]="'Creator Requirement'" [value]="campaign.creator_count"
                                        [id]="'creator_count'" (onClose)="updateCampaign($event)"></app-form-input>
                                </div>

                            </div>

                        </div>



                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <app-card [title]="'General Information'">
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <div class="flex-container">
                                    <div class="flex-item large-text flex-1">
                                        Status
                                    </div>
                                    <div class="flex-item flex-1 text-right">
                                        <label class="switch">
                                            <input type="checkbox" [checked]="campaign.status"
                                                (change)="updateStatus(campaign)">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <div class="small-text">Client</div>
                                <app-form-select [isClean]="true" (onSelect)="updateCampaign($event)"
                                    (onSearch)="searchClient($event)" [option]="client_list" [label]="'Client'"
                                    [selected_option]="campaign.client?.client_name"></app-form-select>



                            </div>




                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Location'" [value]="campaign.location" [id]="'location'"
                                    (onClose)="updateCampaign($event)"></app-form-input>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Address'" [value]="campaign.custom_data_1"
                                    [id]="'custom_data_1'" (onClose)="updateCampaign($event)"></app-form-input>
                            </div>
                        </app-card>
                        


                        
                    </div>

                    <div class="medium-8 columns">

                        <app-card [title]="'Invited Creator'" [is_add]="true" [is_expand]="true"
                            (onAdd)="inviteCreator()">
                            <div>

                                <div *ngIf="campaign.invited_creator.length !== 0">
                                   
                                    <div *ngFor="let item of campaign.invited_creator"
                                            class="flex-container callout padding-center-1 rounded border">
                                            <div class="flex-item flex-2">

                                                <div class="flex-container align-center">
                                                    <div class="flex-item margin-right-05">
                                                        <div class="avatar-container">
                                                            <img *ngIf="item.creator.profile_photo_url"
                                                                class="avatar-image"
                                                                [src]="item.creator.profile_photo_url" alt="">

                                                            <div *ngIf="!item.creator.profile_photo_url"
                                                                class="avatar-placeholder">
                                                                {{ getPlaceholderName(item.creator)}}
                                                            </div>
                                                        </div>



                                                    </div>

                                                    <div class="flex-item flex-1">
                                                        <div>
                                                            {{item.creator.first_name}} {{item.creator.last_name}}
                                                        </div>
                                                    


                                                    </div>

                                                </div>
                                            </div>








                                            <div class="flex-item  text-right">

                                               

                                                <!-- <button (click)="createContract(item)" class="button tiny white">+
                                                Add Contract</button> -->

                                                <button ngClass="margin-right-05" *ngIf="item.contract_id"
                                                    (click)="viewContract(item)" class="button  tiny clear active ">
                                                    View {{item.contracts.length}} Contract
                                                </button>

                                                 <button ngClass="margin-right-05" 
                                                    (click)="createContract(item)" class="button tiny clear active">+
                                                    Add Contract</button>

                                                <app-remove-button (onClick)="deleteInvitedCreator(item)">
                                                    <button [disabled]="item.contract_id"
                                                        class="button tiny clear active">
                                                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                                                    </button>
                                                </app-remove-button>
                                            </div>
                                        </div>
                                </div>

                                <app-placeholder *ngIf="campaign.invited_creator.length === 0"></app-placeholder>


                            </div>
                        </app-card>





                    </div>


                </div>




            </div>




        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">
                    <app-note (afterSubmit)="ngOnInit()" [id]="'campaign_id'" [value]="campaign.id"
                        [note]="campaign.note"></app-note>

                </div>
            </div>
        </div>
    </div>

    <!-- *ngIf="showModal == 'addCreatorModal'" -->



    <app-modal *ngIf="showModal == 'addCreatorModal'" (onClose)="closeModal()" [title]="'Add Creator'">
        <app-form-search (onSearch)="getCreator($event)"></app-form-search>
        <div *ngIf="creator" class="table-body ">



            <div *ngFor="let item of creator" class="flex-container table-body-item align-center">



                <div class="flex-item flex-2 cursor">


                    <div class="flex-container align-center">
                        <div class="flex-item margin-right-05">
                            <div class="avatar-container" style="width: 60px;height: 60px;">
                                <img style="width: 60px;height: 60px;" *ngIf="item.profile_photo_url"
                                    class="avatar-image" [src]="item.profile_photo_url" alt="">

                                <div *ngIf="!item.profile_photo_url" style="width: 60px;height: 60px;line-height: 60px;"
                                    class="avatar-placeholder">
                                    {{ getPlaceholderName(item)}}
                                </div>
                            </div>



                        </div>
                        <div class="flex-item flex-1">
                            <div>
                                {{item.first_name}} {{item.last_name}} <span
                                    class="span-label macro tiny-text">{{item.tier}}</span>
                            </div>

                            <div class="color-grey">
                                {{item.location}}
                            </div>
                        </div>

                    </div>
                </div>




                <div class="flex-item text-right">

                    <button [disabled]="item.isAdded" (click)="addToCampaign(item)" class="button  tiny clear">
                        {{item.isAdded?'Added!':'+ Add'}}

                    </button>
                </div>


            </div>

        </div>

    </app-modal>
    <app-modal [title]="'Create Contract'" (onClose)="closeModal()" *ngIf="showModal == 'addContractModal'">
        <div *ngIf="contract" class="form">
            <div class="margin-bottom-1">
                <h5>Scope of Work</h5>
                <div *ngFor="let item of contract.scope" class="flex-container">
                    <div class="flex-05 margin-right-05">
                        <label for="">Platform</label>
                        <select [(ngModel)]="item.platform_name" id="">
                            <option value="instagram">Instagram</option>
                            <option value="tiktok">Tiktok</option>
                        </select>

                    </div>
                    <div class="flex-1 margin-right-05">
                        <label for="">Service Name</label>
                        <input [(ngModel)]="item.name" type="text">
                    </div>
                </div>

                <a (click)="addMoreScope()" class="link">+Add More</a>
            </div>

            <label for="">Budget</label>
            <input type="number" [(ngModel)]="contract.budget">

            <label for="">Gross Up</label>
            <input type="number" [(ngModel)]="contract.gross_up">

            <h5>Term of Payment ( days )</h5>
            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Down Payment</label>
                    <input type="number" [(ngModel)]="contract.term_of_payment_1">
                </div>
                <div class="flex-item flex-1">
                    <label for="">Full Payment</label>
                    <input type="number" [(ngModel)]="contract.term_of_payment">
                </div>
            </div>

            <div class="padding-center">
                <app-remove-button (onClick)="addContract()">
                    <button class="button expanded">Create Contract</button>
                </app-remove-button>

            </div>

        </div>

    </app-modal>

    <app-modal (onClose)="closeModal()" [title]="'Contract'" *ngIf="showModal == 'contractModal'">
        <div *ngIf="selected_contract">
           <div class="callout padding-center-1 rounded border margin-bottom-05 medium-grey-bg" *ngFor="let item of selected_contract">
            <div class="list-tile-container margin-bottom-2">
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Create Date

                        </div>
                        <div class="flex-item flex-1">
                            {{item.created_at | date}}

                        </div>
                    </div>
                </div>


                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Contract ID #{{item.id}}
                            <div class="color-grey">
                                Custom ID #{{item.custom_contract_id}}
                            </div>
                        </div>

                        <div class="flex-item flex-1">
                          

                            <button *ngIf="item.legal_doc_url" (click)="download(item.legal_doc_url)" class="button tiny clear active margin-right-02"> 
                            Download    
                            </button> 
                        </div>
                    </div>
                </div>

                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Status

                        </div>
                        <div class="flex-item flex-1">


                            <app-status-label [label]="item.status"></app-status-label>


                        </div>
                    </div>
                </div>


                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Payment Status
                            <div class="color-grey">
                                Invoice #{{item.invoice_number}}
                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="status-label">
                                <app-status-label [label]="item.invoice_number?'Paid':'UnPaid'">
                                </app-status-label>

                            </div>


                        </div>
                    </div>
                </div>


                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Budget
                        </div>
                        <div class="flex-item flex-1">
                            {{item.budget | currency :'Rp'}}
                        </div>
                    </div>
                </div>
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Gross Up
                        </div>
                        <div class="flex-item flex-1">
                            {{item.gross_up | currency :'Rp'}}
                        </div>
                    </div>
                </div>
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Term of Payment
                        </div>
                        <div class="flex-item flex-1">
                            {{item.term_of_payment}}
                        </div>
                    </div>
                </div>


            </div>
            <h5>Scope of Work</h5>
            <div *ngIf="item?.scope" class="list-tile-container">
                <div *ngFor="let item of item.scope" class="list-tile-item">

                    <div class="flex-container">
                        <div class="flex-05">
                            {{item.platform_name}}
                        </div>
                        <div class="flex-1">
                            {{item.name}}
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </app-modal>

  
</app-body>