<div class="flex-container align-center margin-bottom-1">
    <div class="flex-item flex-1">
        <h3 class="margin-bottom-0">Note</h3>
    </div>
    <div class="flex-item flex-1 text-right">
        <button  (click)="addNote()" class="button margin-bottom-0 tiny clear active">+ Add Note</button>

    </div>
</div>
<div *ngIf="note">

    <div *ngFor="let item of note"
        class="callout padding-center-1 medium-grey-bg hover-show rounded border small-text margin-bottom-05">

        <div class="flex-container align-center margin-bottom-05">
            <div class="flex-item flex-1">
               {{item.account?.first_name}} {{item.account?.last_name}}

            </div>
            <div class="flex-item text-right color-grey tiny-text">
                {{item.created_at | date}}

            </div>
            
        </div>

        <div>

           <div class="flex-container align-center">
                <div class="flex-item flex-1">
                    <app-form-input isHideLabel="true" class="large-text" [isHideAction]="true" [label]="'Note'" [id]="'description'"
                    [value]="item.description" (onClose)="updateNote(item.id,$event)"></app-form-input>
                </div>
                <div class="hide flex-item margin-left-05">
                    <app-remove-button  (onClick)="removeNote(item.id)">
                        <button class="button tiny clear active"><fa-icon [icon]="faTrash"></fa-icon> </button>
        
                    </app-remove-button> 
                </div>
           </div>

                

        </div>
       

    </div>
</div>

<!-- <app-modal (onClose)="closeModal()" *ngIf="showModal == 'noteModal'" [title]="'Add Note'">
    <div class="form">
        <label for="">Note</label>

        <textarea [(ngModel)]="description" id="" cols="30" rows="3"></textarea>
        <button (click)="addNote()" class="">Add Note</button>
    </div>
</app-modal> -->