<div class="fly-in">
    <div class="callout border padding-center medium-grey-bg small-container rounded margin-bottom-1">

        <div *ngIf="isLoading">
            <div class="flex-container">
                <div class="flex-item margin-right-05">
                    <div class="avatar-image loading"></div>
                </div>
    
                <div class="flex-item flex-1">
                    <div class="loading margin-bottom-05 small-text" style="width: 75px;">.</div>
                    <div class="loading small-text margin-bottom-1" style="width: 170px;">.</div>
    
                </div>
            </div>
            <div class="loading margin-bottom-05 small-text" style="width: 100%;height: 50px;">.</div>
        </div>
    
        <div *ngIf="!isLoading">
            <div class="margin-bottom-2" *ngIf="post">
                <div class="margin-bottom-1">
    
                    <a class="white" [routerLink]="['/newsfeed']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Post
                    </a>
                </div>
                <div class="flex-container align-center margin-bottom-1">
                    <div class="flex-item margin-right-05">
                        <img class="avatar-image" src="https://placehold.co/200x200" alt="">
                    </div>
                    <div class="flex-item flex-1">
                        <div class="cursor huge-text">
                            {{post.title}}
                        </div>
    
                        <div class="large-text" *ngIf="!post.author && !post.account">
                            Anonymous
                            , <span class="color-grey small-text">{{post.created_at | date}}</span>
                        </div>
                        <div class="large-text" *ngIf="post.author">
                            {{post.author?.first_name}}
                            {{post.author?.last_name}}
                            , <span class="color-grey small-text">{{post.created_at | date}}</span>
                        </div>
    
                        <div class="large-text" *ngIf="post.account">
                            {{post.account?.first_name}}
                            {{post.account?.last_name}}
                            <span class=" span-label">Moderator</span> , <span
                                class="color-grey small-text">{{post.created_at | date}}</span>
                        </div>
                    </div>
                    <!-- <div class="flex-item">
                        <fa-icon class="cursor" [icon]="faEllipsisV"></fa-icon>
                    </div> -->
                </div>
    
    
                <div class="huge-text margin-bottom-1">
                    {{post.description}}
                </div>
    
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <span class="span-label margin-right-02 cursor Micro" *ngFor="let item of post.category">
                            {{item.category.name}}
                        </span>
                    </div>
                    <div class="flex-item">
                        <div class="flex-container color-grey large-text">
                            <div class="flex-item margin-right-1">
                                <span (click)="addReaction('like')" class="cursor">
                                    {{post.like_count}} <fa-icon [ngClass]="{'like': post.is_like}" [icon]="faHeart">
                                    </fa-icon>
                                </span>
    
                            </div>
                            <!-- <div class="flex-item margin-right-1">
                                <span (click)="addReaction('dislike')" class="cursor">
                                    {{post.dislike_count}} <fa-icon [icon]="faThumbsDown"></fa-icon>
                                </span>
                            </div> -->
    
                            <div class="flex-item margin-right-1">
                                <span (click)="addReaction('pinned')" class="cursor">
                                    {{post.pinned_count}} <fa-icon [ngClass]="{'pinned': post.is_pinned}"
                                        [icon]="faBookmark"></fa-icon>
                                </span>
                            </div>
    
                            <div tabindex="-1" (blur)="onBlur($event,post)" class="flex-item relative">
                                <span class="cursor " (click)="share(post)">
                                    <fa-icon [icon]="faShareAlt"></fa-icon> Share
    
                                </span>
                                <div *ngIf="post.isShowShare" class=" share callout padding-center-1  border rounded white">
                                    <ul class="menu vertical">
                                        <li><a (click)="shareTo('whatsapp',post)">Share to Whatsapp</a></li>
                                        <li><a (click)="shareTo('facebook',post)">Share to Facebook</a></li>
                                        <li><a (click)="shareTo('twitter',post)">Share to Twitter</a></li>
                                    </ul>
    
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
    
    
    </div>
    
    <div *ngIf="!isLoading">
        <div *ngIf="post" class="callout border padding-center rounded medium-grey-bg margin-bottom-1">
            <h5> {{post.discussion.length}} Discussion</h5>
    
            <button *ngIf="!author_account" class="button small clear active hollow expanded">Login to Add Comment</button>
            <div *ngIf="author_account" class="form">
                <textarea name="" id="" cols="30" [(ngModel)]="discussion_message" rows="3"></textarea>
                <button [disabled]="!discussion_message" (click)="addDiscussion()" class="button small">
                    Send
                </button>
            </div>
    
            <div class="">
                <div *ngFor="let item of post.discussion" class="callout border-bottom flex-container">
                    <!-- <div class="flex-item margin-right-05">
                    ..
                </div> -->
    
                    <div class="flex-item flex-1 large-text">
                        <div *ngIf="item.account">
                            <div class="margin-bottom-05">{{item.account.first_name}} <span
                                    class="span-label Micro">Admin</span>, <span
                                    class="color-grey small-text">{{item.created_at | date}}</span></div>
                        </div>
                        <div *ngIf="item.author">
                            <div class="margin-bottom-05">{{item.author.first_name}}, <span
                                    class="color-grey small-text">{{item.created_at | date}}</span></div>
                        </div>
                        <div class="large-text">{{item.message}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>