.share{
    position: absolute;
    top: 25px;
    z-index: 99;
    right: 0;
    width: auto;
    min-width: 200px;
    padding: 0.5rem !important;
    background: rgb( 42, 46, 52 );
    box-shadow: 0 2px 16px #0006;
}



@media screen and (max-width: 39.9375em) {
 
    .small-container{
        background: unset !important;
        padding: 0 !important;
        border: unset !important;
      
      
      }
     
     
  }

  .fly-in{
      animation: page-enter-from-right .3s;
  }