
.notification-container{
  position: fixed;
  top: 5%;
  right: 5%;
  .notification-content{
    padding: 1rem;
    width: 300px;
    border-radius: 10px;
    background: #333;
    .title{
      
    }

  }
}


.notif-containers{
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    padding: 10%;
    z-index: 99999999999999;
    transition: all 10s ease;
    .notif-content{
        position: absolute; 
        width: 250px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        border-radius: 10px;
        background: #333;
        padding: 1.5rem;

    }
    .icon{font-size:25px}
    
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 4px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  