<nav *ngIf="user_account" class="global-navigation show-for-medium elevate">
    <div class="flex-container align-center large-text">
        <div class="flex-item flex-4">
            <img class="margin-right-1" height="40px" width="70px" src="/assets/image/logo.png" alt="">
            <button  [routerLink]="'/newsfeed'" class="button tiny clear active    margin-bottom-0 margin-right-02">
                Newsfeed</button>
                 <button [routerLink]="'/client/login'" class="button tiny clear active    margin-bottom-0 margin-right-02">
                     Client Area</button>

                     <button [routerLink]="'/client/register'" class="button tiny clear active    margin-bottom-0 margin-right-02">
                        Community Register</button>
            

        </div>


        <!-- <div class="flex-item text-right margin-right-05">
            <button class="button small clear margin-bottom-0">
                <fa-icon [icon]="faHome"></fa-icon>
            </button>
        </div> -->
        <div class="flex-item text-right margin-right-05">
            <button (click)="openModal('notificationModal')" class="button tiny clear active hollow   margin-bottom-0 icon-container">

                <div class="notif">{{notification_count}}</div>
                <fa-icon [icon]="faInbox"></fa-icon>

            </button>
        </div>
        <div class="flex-item text-right margin-right-1">
            <button (click)="openModal('taskModal')" class="button tiny clear active hollow   margin-bottom-0 margin-right-02">
                <fa-icon [icon]="faCheckCircle"></fa-icon> Add Task</button>
            
           
        </div>

        <div class="flex-item text-right margin-right-05">
           
            <button (click)="userLogout()" class="button tiny clear active hollow  margin-bottom-0">
              <fa-icon [icon]="faSignOutAlt"></fa-icon>  Logout</button>
        </div>
        <div class="flex-item text-right ">
            <img *ngIf="user_account.profile_photo_url" class="avatar-image" src="https://placehold.co/200x200" alt="">
            <!-- <img class="avatar-image" [src]="user_account.user_image" alt="">

                
            -->

            <div *ngIf="!user_account.profile_photo_url" class="avatar-placeholder" style="background: #30353c !important">
                {{inital_name}}
            </div>
        </div>




    </div>
</nav>

<app-modal *ngIf="showModal == 'notificationModal'" [title]="'Notification'" (onClose)="closeModal()">
    <div *ngIf="notification">
        <div *ngFor="let item of notification" class="callout padding-center-1 rounded medium-grey-bg margin-bottom-1">
            <div class="flex-container">
                <div class="flex-item flex-1">
                    <div class="large-text">
                        {{item.title}}
                    </div>
                    <div class="tiny-text">
                        {{item.description}}
                    </div>
                </div>
                <div class="flex-item">
                    <div class="tiny-text color-grey margin-bottom-05">
                        {{item.created_at | date}}
                    </div>
                    <button [routerLink]="[item.navigation_link]" *ngIf="item.navigation_link"
                        class="button tiny clear  active">
                        View
                    </button>


                </div>
            </div>
        </div>
    </div>

</app-modal>


<app-modal [title]="'Add Task'" *ngIf="showModal == 'taskModal' " (onClose)="closeModal()">
    <app-task (onClose)="closeModal()"></app-task>
</app-modal>