<div class="task-detail-container form">
    <div class="callout border-bottom">
        <div class="flex-container margin-bottom-05">

            <div class="flex-item margin-right-05">

               
                <app-status-label [label]="'Priority'" [option]="priority"
                        (onSelect)="setPriority($event)"></app-status-label>
            </div>
            <div class="flex-item  margin-right">

                <app-status-label [label]="'Label'" [option]="label"
                        (onSelect)="setLabel($event)"></app-status-label>
            </div>
        </div>

       
        <input placeholder="Write a title" type="text" [(ngModel)]="task.title">

       
        <textarea placeholder="Add a description to your task" [(ngModel)]="task.description" name="" id="" cols="30" rows="3"></textarea>

    </div>


    <div class="callout border-bottom">
        <label>Assign to :</label>
       

        <div class="flex-container">
            <div *ngFor="let item of task.member" class="flex-item margin-right-05">
                <img *ngIf="item.profile_photo_url" class="avatar-image" src="https://placehold.co/200x200" alt="">

                <div *ngIf="!item.profile_photo_url" class="avatar-placeholder" style="border: 1px solid #cacaca;">
                    {{ getPlaceholderName(item)}}
                </div>
            </div>

            <div class="flex-item">
                <div (click)="openModal('accountModal')" class="add-person cursor">
                    <div class="icon">
                        <fa-icon [icon]="faUserPlus"></fa-icon>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <button (click)="addUserAccountTask()" class="button expanded">
        Create Task
    </button>


    <app-modal-sheets  [title]="'Assign To'" *ngIf="showModal == 'accountModal'" (onClose)="closeModal()">
        <div (click)="addMember(item)"  *ngFor="let item of user_account" class="callout padding-center-1 medium-grey-bg border cursor rounded">
            <div class="flex-container align-center">
                <div class="flex-item margin-right-05">
                    <img *ngIf="item.profile_photo_url" class="avatar-image" src="https://placehold.co/200x200" alt="">

                    <div *ngIf="!item.profile_photo_url" class="avatar-placeholder">
                        {{ getPlaceholderName(item)}}
                    </div>
                </div>
                <div class="flex-item flex-1">
                    <div class="large-text">
                        {{item.first_name}} {{item.last_name}}
                    </div>
                </div>
                <div class="flex-item">
                    <button class="button tiny clear active">
                        Add
                    </button>

                </div>
            </div>
        </div>

    </app-modal-sheets>




</div>