<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Campaign</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('createCampaignFormModal')"
                                        class="button rounded small ">+ Add Campaign</button></li>

                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <!-- <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu> -->
            <app-table-action *ngIf="sortListItems" [sortListItems]="sortListItems"></app-table-action>

            <div class="event-homepage">

                <div *ngIf="campaign" class="fade-in">
                    <div *ngIf="campaign.length !== 0">
                        <div (click)="_navigateTo(item.id)" *ngFor="let item of campaign"
                            class="callout padding-center-1 rounded medium-grey-bg event-item status margin-bottom-05 cursor relative">
                            <div class="flex-container align-center">
                                <div class="flex-item flex-05 ">
                                    <div class="rounded border">
                                        <div class="mega-text margin-bottom-0 bold">{{item.start_date | date : "dd"}}</div>
                                        <div class="large-text color-grey">{{item.start_date | date : "MMM"}}
                                            {{item.start_date | date : "yyyy"}}</div>
                                    </div>
                                </div>

                                <div class="flex-item flex-15 separator">

                                    <div class="maga-text ">{{item.campaign_name | titlecase}}</div>
                                    <div class="small-text">
                                        <span class="color-grey">Project Owner</span>  {{item.owner?.first_name}} 
                                    </div>

                                    <div class="flex-container">

                                        <div class="flex-item ">

                                            <!-- <div class="kol-container" style="margin-left: 10px;">
                                                <div class="flex-container">
                                                    <div *ngFor="let child of item.invited_creator | slice:0:3;"
                                                        class="flex-item">
                                                        <div *ngIf="!child.creator.profile_photo_url"
                                                            class="placeholder-container">
                                                            <div style="margin-left: -10px;border:  1px solid #ccc !important;"
                                                                class="avatar-placeholder">
                                                                {{getPlaceholderName(child.creator)}}


                                                            </div>

                                                        </div>

                                                        <img style="border:  1px solid #ccc !important;"
                                                            *ngIf="child.creator.profile_photo_url" class="avatar-image"
                                                            [src]="child.creator.profile_photo_url" alt="">
                                                    </div>


                                                    <div *ngIf="item.invited_creator?.length>3" class="flex-item">
                                                        <div class="placeholder-container">
                                                            <div style="margin-left: -10px;border:  1px solid #ccc !important;"
                                                                class="avatar-placeholder">
                                                                + {{item.invited_creator?.length - 3}}
                                                            </div>

                                                        </div>
                                                    </div>


                                                </div>

                                            </div> -->
                                        </div>
                                    </div>



                                </div>
                                <div class="flex-item flex-3">


                                    <div class="insight-container">
                                        <div class="row medium-up-4">
                                            <div class="columns">
                                                <div class="small-text color-grey">
                                                    Client
                                                </div>
                                                <h5>{{item.client?.client_name?item.client?.client_name:'Not Set'}}</h5>
                                            </div>

                                            <div class="columns">
                                                <div class="small-text color-grey">
                                                    Budget
                                                </div>
                                                <h5>{{item.budget | currency : "Rp" }} </h5>
                                            </div>


                                            <div class="columns">
                                                <div class="small-text color-grey">
                                                    Creator Need
                                                </div>
                                                <h5>{{item.creator_count}} </h5>
                                            </div>



                                        </div>





                                    </div>

                                </div>

                            </div>


                            <div class="more-button">


                                <app-status-label [class]="'confirm'" *ngIf="item.status=='1'" [label]="'Active'">
                                </app-status-label>
                                <app-status-label [class]="'in_active'" *ngIf="item.status=='0'" [label]="'In Active'">
                                </app-status-label>
                            </div>
                        </div>
                    </div>

                    <div lazyload (onShown)="loadMore()"></div>


                    <app-placeholder *ngIf="campaign.length === 0"></app-placeholder>



                </div>




            </div>






        </div>

    </div>

    <app-modal [title]="'Create Campaign'" *ngIf="showModal == 'createCampaignFormModal' " (onClose)="closeModal()">

        <div class="campaign-container sub-menu-container">
            <form class="form" [formGroup]="createCampaignForm">
                <label for="">Campaign Name</label>
                <input formControlName="campaign_name" type="text" name="" id="">



                <div class="date-cotainer margin-bottom-1 padding-bottom-1 border-bottom">
                    <div class="flex-container">
                        <div class="flex-item flex-1">
                            <label for="">Start Date </label>
                            <input class="margin-bottom-0" formControlName="start_date" type="date" name="" id="">
                        </div>
                        <div *ngIf="is_end_date" class="flex-item flex-1 margin-left-05">
                            <label for="">End Date</label>
                            <input class="margin-bottom-0" formControlName="end_date" type="date" name="" id="">
                        </div>
                    </div>
                    <a (click)="toggleEndDate()"
                        class="white small-text">{{!is_end_date?'+ Add End Date?':'Remove End Date'}} </a>

                </div>




                <label for="">Budget</label>
                <input formControlName="budget" type="number" name="" id="">


                <label for="">Number of Creator</label>
                <input formControlName="creator_count" type="number" name="" id="">




                
            </form>
           

        </div>

        <div footer>
            <button [disabled]="!createCampaignForm.valid" (click)="addCampaign()" class="button expanded">Create
                Campaign</button>
        </div>
    </app-modal>


</app-body>
