<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Newsfeed</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addPostModal')" class="button rounded small ">+
                                        Create Post</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>


            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>

            <app-newsfeed-backend-post (onChange)="ngOnInit()" [post]="post" *ngIf="tab_view=='post'"></app-newsfeed-backend-post>

       
            <app-newsfeed-backend-category (onChange)="ngOnInit()" [category]="category" *ngIf="tab_view == 'category' || tab_view == 'brand'">
            </app-newsfeed-backend-category>
            <app-newsfeed-backend-filtering (onChange)="ngOnInit()" [keyword]="keyword" *ngIf="tab_view == 'keyword_filtering'"></app-newsfeed-backend-filtering>
            <app-newsfeed-backend-account [account]="account" *ngIf="tab_view == 'account'"></app-newsfeed-backend-account>
           
            <app-newsfeed-backend-contact [contact]="contact" *ngIf="tab_view =='contact'"></app-newsfeed-backend-contact>






        </div>

    </div>

    <app-modal (onClose)="closeModal()" *ngIf="showModal=='addPostModal'" [title]="'Add Post'">
        <form class="form" [formGroup]="postForm">

            <div class="margin-bottom-1">
                <label for="">Title</label>
                <input formControlName="title" type="text" name="" id="">

                <label for="">Description</label>
                <textarea formControlName="description" name="" id="" cols="30" rows="3"></textarea>
            </div>

            <button [disabled]="!postForm.valid" (click)="addPost()" class="button">
                Create Post
            </button>
        </form>
    </app-modal>

</app-body>