.modal-sheets-container{
 
    .modal-sheets-content{
        position: fixed;
        width: 30%;
        right: 0;
        bottom: 0;
        border: 1px solid rgb( 60, 65, 74 )!important;


        background: rgb( 60, 65, 74 )  !important;
    
          box-shadow: 0 2px 16px #0006;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: auto;
        min-height: 70vh;
        
    }
}
