.notif-containers{
  background: #050607a8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    padding: 10%;
    z-index: 99999999999999;
   
    .notif-content{
      
        position: absolute; 
        width: 250px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
       
    }
  }

.notification-container{
    animation: fadeIn 0.4s; 
    position: fixed;
    top: 5%;
    right: 5%;
    .notification-content{
      padding: 1rem;
      width: 300px;
      border-radius: 10px;
      background: #333;
      .title{
        
      }
  
    }
  }
  