<app-body [hideNav]="true">
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Points</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <!-- <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('createContractModal')" class="button rounded  clear ">+ Create Contract</button></li>
                              

                            </ul>
                        </div> -->

                    </div>

                </div>
            </div>


            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>



            <div *ngIf="tab_view == 'report'">
                <app-table-action></app-table-action>
                <div class="table-header">
                    <div class="flex-container table-header-item">


                        <div class="flex-item flex-2">
                            Month
                        </div>
                        <div class="flex-item flex-1">
                            Total Point Collect
                        </div>
                        <div class="flex-item flex-1">
                            Total Point Redeem
                        </div>




                        <div class="flex-item flex-1">
                            Top Member Collect
                        </div>

                        <div class="flex-item flex-1">
                            Top Member Redeem
                        </div>




                    </div>
                </div>
                <div class="table-body ">
                    <div class="flex-container cursor table-body-item align-center">


                        <div class="flex-item flex-2">
                            Month
                        </div>
                        <div class="flex-item flex-1">
                            Total Point Collect
                        </div>
                        <div class="flex-item flex-1">
                            Total Point Redeem
                        </div>




                        <div class="flex-item flex-1">
                            Top Member Earning
                        </div>

                        <div class="flex-item flex-1">
                            Top Member Redeem
                        </div>





                    </div>

                </div>

            </div>

            <div *ngIf="tab_view == 'collection'">
                <app-table-action></app-table-action>
                <div class="table-header">
                    <div class="flex-container table-header-item">


                        <div class="flex-item flex-2">
                            Activity
                        </div>
                        <div class="flex-item flex-2">
                            Description
                        </div>
                        <div class="flex-item flex-1">
                            Community
                        </div>




                        <div class="flex-item flex-1">
                            Point
                        </div>

                        <div class="flex-item flex-1">
                            Status
                        </div>




                    </div>
                </div>
                <div class="table-body ">
                    <div class="flex-container cursor table-body-item align-center">


                        <div class="flex-item flex-2">
                            Activity
                        </div>
                        <div class="flex-item flex-2">
                            Description
                        </div>
                        <div class="flex-item flex-1">
                            Community
                        </div>




                        <div class="flex-item flex-1">
                            Point
                        </div>

                        <div class="flex-item flex-1">
                            Status
                        </div>





                    </div>

                </div>

            </div>

            <div *ngIf="tab_view == 'account_balance'">
                <app-table-action></app-table-action>
                <div class="table-header">
                    <div class="flex-container table-header-item">


                        <div class="flex-item flex-2">
                            Member
                        </div>
                        <div class="flex-item flex-1">
                            Total Points Collect
                        </div>

                        <div class="flex-item flex-1">
                            Total Points Redeem
                        </div>


                        <div class="flex-item flex-1">
                            Available Points
                        </div>

                       
                        <div class="flex-item flex-1">
                            Action
                        </div>






                    </div>
                </div>
                <div class="table-body ">
                    <div class="flex-container table-body-item align-center">


                        <div class="flex-item flex-2">
                            Member
                        </div>
                        <div class="flex-item flex-1">
                            Total Points Earn
                        </div>


                      

                        <div class="flex-item flex-1">
                            Total Points Redeem
                        </div>

                        <div class="flex-item flex-1">
                            Available Points
                        </div>

                        <div class="flex-item flex-1">
                            <a (click)="openModal('activityModal')">
                                View Activity
                            </a>

                            <a (click)="openModal('addPointModal')">
                                + Add Point
                            </a>

                        </div>



                    </div>

                </div>

            </div>












        </div>

    </div>

</app-body>