<app-top-navigation-newsfeed></app-top-navigation-newsfeed>
<div class="padding-center ">
    <div class="row">
        <div class="medium-5 medium-centered columns">
            <div class="callout padding-center rounded border medium-grey-bg">
                <h1>Contact</h1>
            <p>For business inquiry and partnership please do contact us</p>
            <div class="form">

                <form class="form" [formGroup]="contactForm">

                    <label for="">Name</label>
    
    
                    <input formControlName="first_name" type="text">
    
                    <label for="">Email</label>
    
    
                    <input formControlName="email"  type="text">
    
                    <label for="">Phone</label>
    
    
                    <input formControlName="phone" type="number">
                    <label for="">Message</label>
    
    
                    <textarea formControlName="message" rows="3"></textarea>
                    
    
    
    
    
    
    
    
    
                </form>
                
                <button (click)="addContact()" [disabled]="!this.contactForm.valid" class="button small">
                    Submit
                </button>
            </div>
            </div>
        </div>
    </div>
</div>
<app-news-footer></app-news-footer>