<div class="padding-center border-top">

    <div class="row">
       
       
        <div class="medium-8 columns">
            
           
            <ul class="menu white large-text">

                <li *ngFor="let item of top_link"><a  [routerLink]="item.link" >{{item.label}}</a></li>

               
            </ul>
        </div>
        <div class="medium-4 columns">
            <div class="large-text">
                Copyright © 2024 Eden. All rights reserved.

            </div>
        </div>
    </div>
</div>