.body-container{
    .sidebar-container{
       
       position: sticky;
       top:0;
       min-height: 100vh;
        align-self: flex-start; /* <-- this is the fix */
        background: rgb( 48, 53, 60 );


       
    }
    
    
}

.sidebar-content{
    width: 16%;
}
.body-content{
    width: 84%;
    @media screen and (max-width: 39.9375em) {
        width: 100%;
    }

}

.body-content-100{
   width: 100%;

}