<app-body [hideNav]="true">
    <div *ngIf="aquisition" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container border-bottom">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/client/aquisition/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Contact
                    </a>
                </div>

                <div class="callout border padding-center rounded medium-grey-bg margin-bottom-1">



                    <div class="flex-container align-center">

                        <div class="flex-item flex-2">
                            <div class="margin-bottom-1">
                                <h1>{{aquisition.aquisition_name}}</h1>

                            </div>

                            <div class="row medium-up-4">
                                <!-- <div class="columns">
                                    <div class="small-text color-grey">Create Date</div>
                                    <div class="huge-text">{{aquisition.created_at | date}}</div>
                                </div> -->
                                <!-- <div class="columns">
                                    <div class="small-text color-grey">Last Update</div>
                                    <div class="huge-text">{{aquisition.updated_at | date}}</div>
                                </div> -->

                                <div class="columns">
                                    <div class="small-text color-grey">Periode Start Date</div>
                                    <div class="huge-text">
                                        
                                        <app-form-input [type]="'date'" [isHideLabel]="true" [isHideAction]="true" [label]="'Periode'" [id]="'periode'"
                                        [value]="aquisition.periode"   (onClose)="updateAquisition($event,aquisition.id)">
                                    </app-form-input>
                                    </div>
                                </div>

                                <div class="columns">
                                    <div class="small-text color-grey">Period End Date</div>
                                    <div class="huge-text">
                                        
                                        <app-form-input [type]="'date'" [isHideLabel]="true" [isHideAction]="true" [label]="'Periode'" [id]="'periode_end'"
                                        [value]="aquisition.periode_end"   (onClose)="updateAquisition($event,aquisition.id)">
                                    </app-form-input>
                                    </div>
                                </div>

                                <div class="columns">
                                    <div class="small-text color-grey">Status</div>
                                    <app-status-label [label]="aquisition.deal_stage"
                                        (onSelect)="updateAquisition($event,aquisition.id)" [option]="contract_status">
                                    </app-status-label>

                                </div>
                                <div class="columns">
                                    <div class="small-text color-grey">Aquisition Value</div>
                                    <div class="huge-text">
                                        {{aquisition?.budget? (aquisition.budget  | currency : 'IDR' ) : (0 | currency :'IDR')}}
                                    </div>
                                </div>

                            </div>



                        </div>

                        <!-- <div class="flex-item text-center">
                            <div class="callout padding-center medium-grey-bg rounded border">
                                <h1 class="margin-bottom-0">1</h1>
                                <div class="large-text color-grey">300K Follower</div>
                            </div>
                        </div>
 -->
                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">


                        <app-card title="Information">
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <div class="small-text color-grey">
                                    Project Owner
                                </div>
                                {{aquisition.owner.first_name}} {{aquisition.owner.last_name}}

                            </div>


                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <div class="small-text color-grey">
                                    Client
                                </div>
                                {{aquisition.client.client_name}}

                            </div>


                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <div class="small-text color-grey">
                                    Location
                                </div>

                                {{aquisition.client.location}}
                            </div>






                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [type]="'currency'" [label]="'Aquisition Value (IDR)'"
                                    [value]="aquisition.budget" [id]="'budget'"
                                    (onClose)="updateAquisition($event,aquisition.id)"></app-form-input>

                            </div>
                        </app-card>

                        <app-card title="contact" is_expand="true" is_add="true" (onAdd)="openModal('addContactModal')">
                            <div class="list-tile-container">
                                <div *ngFor="let item of aquisition.client.contact" class="margin-bottom-2">
                                    <div class="large-text margin-bottom-05">
                                        <fa-icon [icon]="faAddressBook"></fa-icon> {{item.name | titlecase}} <span
                                            class="span-label mega"> {{item.position}}</span>
                                    </div>

                                    <div class="list-tile-container">
                                        <div class="list-tile-item">
                                            <app-form-input [isHideAction]="true" [label]="'Mobile'" [id]="'mobile'"
                                                [value]="item.mobile" (onClose)="updateContact(item.id,$event)">
                                            </app-form-input>


                                        </div>

                                        <div class="list-tile-item">
                                            <app-form-input [isHideAction]="true" [label]="'Email'" [id]="'email'"
                                                [value]="item.email" (onClose)="updateContact(item.id,$event)">
                                            </app-form-input>
                                        </div>

                                    </div>



                                </div>
                            </div>
                        </app-card>


                    </div>

                    <div class="medium-8 columns">


                        <app-card is_expand="true" title="Scope of Work" is_add="true"
                            (onAdd)="openModal('addScopeModal')">
                            <app-placeholder [message]="'Information about your client scope of work'"
                                *ngIf="aquisition.scope.length === 0"></app-placeholder>
                            <div *ngIf="aquisition.scope.length !== 0">
                                <div class="table-header">
                                    <div class="flex-container table-header-item">
                                        <div class="flex-item flex-1">
                                            Name
                                        </div>
                                        <div class="flex-item flex-1">
                                            Description
                                        </div>

                                    </div>
                                </div>

                                <div class="table-body">
                                    <div *ngFor="let item of aquisition.scope"
                                        class="flex-container border table-body-item">
                                        <div class="flex-item flex-1">
                                            <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                                [value]="item.name" [id]="'name'"
                                                (onClose)="updateScope($event,item.id)">
                                            </app-form-input>
                                        </div>
                                        <div class="flex-item flex-1">
                                            <app-form-input [isHideLabel]="true" [isHideAction]="true"
                                                [label]="'Description'" [value]="item.description" [id]="'description'"
                                                (onClose)="updateScope($event,item.id)"></app-form-input>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </app-card>




                    </div>


                </div>




            </div>




        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">
                    <app-note (afterSubmit)="ngOnInit()" [id]="'client_aquisition_id'" [value]="aquisition.id"
                        [note]="aquisition.note"></app-note>




                </div>
            </div>
        </div>
    </div>


    <app-modal *ngIf="showModal=='addScopeModal'" [title]="'Add Scope of Work'">


        <form class="form margin-bottom-1" [formGroup]="scopeForm">


            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">

            <label for="">Description</label>
            <input formControlName="description" type="text" name="" id="">






        </form>
        <button [disabled]="!scopeForm.valid" (click)="addScope()" class="button expanded">Add Scope</button>
    </app-modal>


    <app-modal *ngIf="showModal=='addContactModal'" [title]="'Add Contact'">


        <form class="form margin-bottom-1" [formGroup]="contactForm">




            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">


            <label for="">Position</label>
            <input formControlName="position" type="text" name="" id="">


            <label for="">Mobile</label>
            <input formControlName="mobile" type="number" name="" id="">



        </form>
        <button [disabled]="!contactForm.valid" (click)="addContact()" class="button expanded">Add Contact</button>
    </app-modal>

</app-body>