.sidebar {
    padding: 1rem;
   

    a {
        position: relative;
        font-size: 14px;
        line-height: 1.7;
        padding: 0.5rem;
        color: rgb(240, 241, 243) ;
        border-radius: 8px;
        margin: 0;
        &.child_link{
            padding-left: 2.3rem;
        }
        &.active{
            background:rgb(30, 81, 113) !important;

        }
    }

    a:hover {
        background: rgb( 60, 65, 74 ) !important;

        transition: all .3s ease;
    }
    .icon {

        position: absolute;
        left: 0.5rem;
        
      }
      
}
.icon {
    
  position: absolute;
  left: 1rem;
  
}





  