<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Acquisition Pipeline</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">


                                <li> <button (click)="openModal('addForm')" class="button rounded small ">+
                                        New Aquisition</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

          
            <div class="flex-container margin-bottom-1">
                <div class="flex-item">
                    <div class="callout padding-center medium-grey-bg rounded rounded">
                        <div class="small-text color-grey">
                            Total Aquisition Value
                        </div>
                        <h3>{{total_aquisition_value | currency :'IDR'}}</h3>
                    </div>
                </div>
            </div>
            <app-table-action [sortListItems]="sortListItems"></app-table-action>

            <div class="table-container relative" >
                <div class="bar"></div>
                <div class="fade-in parrent"  *ngIf="aquisition">

                    <div class="child" *ngIf="aquisition.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div style="width: 300px;" class="flex-item ">


                                    <app-table-sort (onChange)="aquisition" [data]="aquisition"
                                        [key]="'aquisition_name'">
                                        Acquisition Name

                                    </app-table-sort>
                                </div>

                                <div  style="width: 350px;" class="flex-item flex-1">
                                    <app-table-sort [type]="'number'" (onChange)="aquisition" [data]="aquisition"
                                        [key]="'owner_id'">
                                         Project Owner
                                    </app-table-sort>
                                </div>



                                <div style="width: 350px;" class="flex-item flex-1">
                                    <app-table-sort (onChange)="aquisition" [data]="aquisition" [key]="'client_id'">
                                        Client
                                    </app-table-sort>
                                </div>



                                <div  style="width: 100px;" class="flex-item flex-1">
                                    <app-table-sort [type]="'number'" (onChange)="aquisition" [data]="aquisition"
                                        [key]="'scope_count'">
                                        SOW
                                    </app-table-sort>
                                </div>
                               
                                <div  class="flex-item flex-1">
                                    <app-table-sort [type]="'number'" (onChange)="aquisition" [data]="aquisition"
                                        [key]="'budget'">
                                        Value
                                    </app-table-sort>
                                </div>

                                <div class="flex-item flex-1">
                                    <app-table-sort (onChange)="aquisition" [data]="aquisition" [key]="'deal_stage'">
                                        Stages
                                    </app-table-sort>
                                </div>
                                <div style="width: 350px;" class="flex-item flex-1">
                                    <app-table-sort (onChange)="aquisition" [data]="aquisition" [key]="'periode'">
                                         Periode
                                    </app-table-sort>
                                </div>
                               

                                <div  class="flex-item flex-05 text-right">
                                    <app-table-sort (onChange)="aquisition" [data]="aquisition" [key]="'deal_stage'">
                                        Last Update
                                    </app-table-sort>
                                </div>
                               






                            </div>
                        </div>
                        <div class="table-body">
                            <div *ngFor="let item of aquisition"
                                class="flex-container hover-show table-body-item align-center hover-show">



                                <div style="width: 300px;" (click)="_navigateTo(item.id)" class="flex-item  cursor">
                                    {{item.aquisition_name}} <fa-icon class="hide" [icon]="faExpandArrowsAlt"></fa-icon>

                                
                                </div>


                                <div class="flex-item flex-1">
                                    {{item.owner.first_name}}

                                </div>



                                <div class="flex-item flex-1">
                                    {{item.client.client_name}}
                                </div>


                                <div class="flex-item flex-1">
                                    {{item.scope_count}} Service
                                    
                                </div>
                             

                                <div class="flex-item flex-1">
                                    {{item.budget? (item.budget | currency :'IDR') : (0 | currency : 'IDR')}}
                                </div>

                                <div class="flex-item flex-1">
                                    <app-status-label [class]="item.deal_stage" [label]="item.deal_stage"
                                        (onSelect)="updateAquisition($event,item.id)" [option]="contract_status">
                                    </app-status-label>
                                </div>
                                <div class="flex-item flex-1">
                                    {{item.periode | date}} -     {{item.periode_end | date}}
                                </div>

                                <div class="flex-item flex-05 text-right">
                                    {{item.updated_at | date}}
                                </div>
                            



                            </div>

                        </div>

                        <div lazyload (onShown)="loadMore()"></div>
                    </div>

                    <app-placeholder *ngIf="aquisition.length === 0"></app-placeholder>
                </div>

            </div>






        </div>

    </div>

</app-body>

<app-modal [title]="'Create Aquisition'" (onClose)="closeModal()" *ngIf="showModal == 'addForm'">
    <form class="form" [formGroup]="clientForm">

        <div>
            <label for="">Aquisition Name</label>
            <input formControlName="aquisition_name" type="text" name="" id="">

            <label for="">Client</label>
            <div class="margin-bottom-1">
                <app-form-select (onSelect)="selectClient($event)" (onSearch)="searchClient($event)"
                    [option]="client_list" [label]="'Brand'"></app-form-select>

            </div>
        </div>







        <button [disabled]="!clientForm.valid" (click)="addAquisition()" class="button rounded expanded">Create New
            Aquisition</button>



    </form>

</app-modal>