<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Rewards</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addRewardModal')" class="button rounded small">+ Add
                                        Reward Collection</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>


            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>



            <div *ngIf="tab_view == 'collection'">
                <div *ngIf="reward" class="fade-in">
                    <app-placeholder *ngIf="reward.length === 0"></app-placeholder>
                    <div *ngIf="reward.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-1">

                                    <app-table-sort (onChange)="reward" [data]="reward" [key]="'name'">
                                        Reward
                                    </app-table-sort>
                                </div>
                                <div class="flex-item flex-1">
                                    Description
                                </div>


                                <div class="flex-item flex-1">
                                    <app-table-sort (onChange)="reward" [data]="reward" [key]="'start_date'">
                                        Active
                                    </app-table-sort>
                                </div>

                                <div class="flex-item flex-1">
                                    <app-table-sort (onChange)="reward" [data]="reward" [key]="'end_date'">
                                        Expired
                                    </app-table-sort>
                                </div>






                                <div class="flex-item flex-1">
                                    <app-table-sort [type]="'number'" (onChange)="reward" [data]="reward"
                                        [key]="'total_redeem'">
                                        Total Redeem
                                    </app-table-sort>
                                </div>

                                <div class="flex-item flex-1">
                                    <app-table-sort [type]="'number'" (onChange)="reward" [data]="reward"
                                        [key]="'redeem_points'">
                                        Redeem Points
                                    </app-table-sort>
                                </div>

                                <div class="flex-item flex-05 text-right">
                                    Action
                                </div>








                            </div>
                        </div>
                        <div class="table-body ">
                            <div *ngFor="let item of reward" class="flex-container cursor table-body-item align-center">



                                <div class="flex-item flex-1">
                                    {{item.name}}

                                    <div class="tiny-text color-grey">Value in {{item.value | currency : 'IDR'}}</div>
                                </div>
                                <div class="flex-item flex-1">
                                    {{item.description}}
                                </div>



                                <div class="flex-item flex-1">
                                    {{item.start_date | date }}
                                </div>

                                <div class="flex-item flex-1">
                                    {{item.end_date | date}}
                                </div>




                                <div class="flex-item flex-1">
                                    {{item.total_redeem}} of {{item.quota}}
                                </div>

                                <div class="flex-item flex-1">

                                    <app-status-label [label]="item.redeem_points"></app-status-label>
                                </div>

                                <div class="flex-item flex-05 text-right">
                                    <button (click)="memberRedeem(item)" class="button tiny clear active">
                                        Redeem
                                    </button>
                                </div>






                            </div>

                        </div>
                    </div>

                </div>
            </div>


            <div *ngIf="tab_view == 'redeem'">
                <app-table-action [sortListItems]="sortListItems"></app-table-action>
                <div *ngIf="redeem" class="fade-in">
                    <app-placeholder *ngIf="redeem.length === 0"></app-placeholder>
                    <div *ngIf="redeem.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-1">
                                    Member
                                </div>
                                <div class="flex-item flex-1">
                                    Reward
                                </div>


                                <div class="flex-item flex-1">
                                    Description
                                </div>

                                <div class="flex-item flex-1">
                                    Status
                                </div>


                                <div class="flex-item flex-1">
                                    Request Date
                                </div>







                            </div>
                        </div>
                        <div class="table-body ">
                            <div *ngFor="let item of redeem" class="flex-container cursor table-body-item align-center">



                                <div class="flex-item flex-1">
                                    {{item.member?.first_name}} {{item.member?.last_name}}
                                </div>
                                <div class="flex-item flex-1">

                                    <div *ngIf="item.community_reward_id">
                                        {{item.reward?.name}}
                                        <div class="color-grey"> {{item.reward?.value | currency :'IDR'}}</div>
                                    </div>

                                    <div *ngIf="!item.community_reward_id">
                                        {{item.name}}

                                    </div>

                                </div>


                                <div class="flex-item flex-1">

                                    <div *ngIf="!item.community_reward_id">
                                        {{item.description}}


                                    </div>
                                    <div *ngIf="item.community_reward_id">
                                        {{item.reward?.description}}

                                    </div>
                                </div>

                                <div class="flex-item flex-1">

                                    <app-status-label [class]="item.status" [label]="item.status"
                                        [option]="reward_status" (onSelect)="updateRewardRedeem($event,item.id)">
                                    </app-status-label>
                                </div>

                                <div class="flex-item flex-1">
                                    {{item.created_at | date}}
                                </div>







                            </div>

                        </div>
                    </div>

                </div>
            </div>










        </div>

    </div>


    <app-modal title="Add Reward Collection" (onClose)="closeModal()" *ngIf="showModal == 'addRewardModal'">

        <form class="form margin-bottom-1" [formGroup]="rewardForm">


            <label for="">Name</label>
            <input placeholder="ex. Voucher Shopee Rp 500.000,00" formControlName="name" type="text" name="" id="">

            <label for="">Description</label>
            <input placeholder="More info about this reward" formControlName="description" type="text" name="" id="">

            <label for="">Reward Value (IDR)</label>
            <input placeholder="Reward value in Rupiah" formControlName="value" type="number" name="" id="">

            <label for="">Redeem Points</label>
            <input placeholder="Points value to redeem this reward" formControlName="redeem_points" type="number"
                name="" id="">

            <label for="">Quota</label>
            <input placeholder="Max. quota for this reward" formControlName="quota" type="number" name="" id="">

            <label for="">Active Date</label>
            <input formControlName="start_date" type="date" name="" id="">

            <label for="">Expired Date</label>
            <input formControlName="end_date" type="date" name="" id="">








        </form>
        <div footer>
            <button [disabled]="!rewardForm.valid" (click)="addReward()" class="button expanded">Add Reward</button>

        </div>
    </app-modal>

    <app-modal [title]="'Redeem'" *ngIf="showModal == 'memberRedeemModal'" (onClose)="closeModal()">

        <form class="form margin-bottom-1" [formGroup]="redeemForm">


            <label for="">Member</label>
            <app-form-select (onSelect)="selectMember($event)" (onSearch)="searchMember($event)" [option]="member_list"
                [label]="'Member'"></app-form-select>

        </form>
        <app-remove-button (onClick)="addMemberRedeem()">
            <button [disabled]="!redeemForm.valid" class="button expanded">Redeem</button>
        </app-remove-button>

    </app-modal>

</app-body>