<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Vendor</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">


                                <li> <button (click)="openModal('vendorModal')"
                                        class="button rounded  small margin-bottom-0">+ Add
                                        Vendor</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <app-tab-menu [tab_menu_list]="tab_menu_list" (onTab)="selectTabView($event)"></app-tab-menu>

            <div *ngIf="tab_view == 'vendor'">
                <app-table-action [sortListItems]="sortListItems">

                </app-table-action>
                <div *ngIf="vendor" class="fade-in">
                    <div *ngIf="vendor.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-15">
                                    <app-table-sort (onChange)="vendor" [data]="vendor" [key]="'name'">
                                        Name
                                    </app-table-sort>

                                </div>

                                <div class="flex-item flex-1">
                                    <app-table-sort [type]="'number'" (onChange)="vendor" [data]="vendor"
                                        [key]="'category_id'">
                                        Category
                                    </app-table-sort>
                                </div>




                                <div class="flex-item flex-1">
                                    <app-table-sort (onChange)="vendor" [data]="vendor" [key]="'website'">
                                        Website
                                    </app-table-sort>

                                      
                                </div>
                                <div class="flex-item flex-1">
                                    <app-table-sort [type]="'number'"  (onChange)="vendor" [data]="vendor" [key]="'phone'">
                                        Phone
                                    </app-table-sort>

                                      
                                </div>






                                <div class="flex-item flex-1">
                                    <app-table-sort (onChange)="vendor" [data]="vendor" [key]="'rating_name'">
                                        Rating
                                    </app-table-sort>
                                </div>


                                <div class="flex-item flex-1">
                                    <app-table-sort [type]="'number'" (onChange)="vendor" [data]="vendor"
                                        [key]="'product_count'">
                                        Product
                                    </app-table-sort>
                                </div>


                                <div class="flex-item flex-1 text-right">
                                    Action
                                </div>









                            </div>
                        </div>
                        <div class="table-body ">
                            <div *ngFor="let item of vendor">
                                <div class="flex-container hover-show  table-body-item align-center">



                                    <div class="flex-item flex-15">


                                        <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                            [id]="'name'" [value]="item.name" (onClose)="updateVendor($event,item.id)">
                                        </app-form-input>

                                        <div *ngIf="item.name" class="color-grey tiny-text">
                                            Last update on {{item.updated_at | date}}
                                        </div>
                                    </div>

                                    <div class="flex-item flex-1">
                                        <!-- {{item.category?.name}} -->

                                        <app-form-select [isClean]="true" (onSelect)="updateVendor($event,item.id)"
                                            (onSearch)="searchCategory($event)" [option]="category_option"
                                            [selected_option]="item.category?.name" [label]="'category'">
                                        </app-form-select>
                                    </div>





                                    <div class="flex-item flex-1">


                                        <app-form-input  [text_limit]="20"  [isHideLabel]="true" [isHideAction]="true" [label]="'Website'"
                                            [id]="'website'" [value]="item.website"
                                            (onClose)="updateVendor($event,item.id)">
                                        </app-form-input>

                                        

                                    </div>

                                    <div class="flex-item flex-1">


                                        <app-form-input  [text_limit]="20"  [isHideLabel]="true" [isHideAction]="true" [label]="'Phone'"
                                            [id]="'phone'" [value]="item.phone"
                                            (onClose)="updateVendor($event,item.id)">
                                        </app-form-input>

                                        

                                    </div>
                                    





                                    <div class="flex-item flex-1">

                                        <app-status-label [class]="item.rating_name" [label]="item.rating_name"
                                            [option]="rating" (onSelect)="updateVendor($event,item.id)">
                                        </app-status-label>
                                    </div>


                                    <div class="flex-item flex-1">

                                        <button (click)="viewProduct(item)"
                                            class="button tiny clear active  clear margin-right-02">
                                            {{item.product_count}} Product
                                        </button>
                                        <button (click)="createProduct(item)" class="button tiny clear active  clear">
                                            +
                                        </button>
                                    </div>



                                    <div class="flex-item cursor flex-1 text-right">

                                        <button (click)="viewAccess(item)"
                                            class="button tiny clear active margin-bottom-0 margin-right-02">
                                            <fa-icon [icon]="faKey"></fa-icon>
                                        </button>

                                        <button (click)="viewDetails(item)"
                                            class="button tiny active clear margin-right-02">
                                            <fa-icon [icon]="faAddressBook"></fa-icon>
                                        </button>

                                        <app-remove-button (onClick)="deleteVendor(item.id)">
                                            <button class="button tiny active clear">
                                                <fa-icon [icon]="faTrashAlt"></fa-icon>
                                            </button>
                                        </app-remove-button>
                                    </div>


                                </div>





                            </div>

                        </div>
                    </div>


                    <app-placeholder *ngIf="vendor.length === 0"></app-placeholder>

                </div>



            </div>

            <div *ngIf="tab_view == 'product'">
                <app-table-action [sortListItems]="sortListItemss">

                </app-table-action>
                <div *ngIf="product" class="fade-in">
                    <div *ngIf="product.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-2">

                                    <app-table-sort (onChange)="product" [data]="product" [key]="'name'">
                                        Name
                                    </app-table-sort>



                                </div>


                                <div class="flex-item flex-1">

                                    <app-table-sort [type]="'number'" (onChange)="product" [data]="product"
                                        [key]="'category_id'">
                                        Category
                                    </app-table-sort>

                                </div>

                                <div class="flex-item flex-1">

                                    <app-table-sort [type]="'number'" (onChange)="product" [data]="product"
                                        [key]="'vendor_id'">
                                        Vendor
                                    </app-table-sort>

                                </div>



                                <div class="flex-item flex-1">

                                    <app-table-sort [type]="'number'" (onChange)="product" [data]="product"
                                        [key]="'stock'">
                                        Stock
                                    </app-table-sort>

                                </div>

                                <div class="flex-item flex-1">

                                    <app-table-sort [type]="'number'" (onChange)="product" [data]="product"
                                        [key]="'price'">
                                        Price
                                    </app-table-sort>



                                </div>


                                <div class="flex-item flex-05 text-right">
                                    Action
                                </div>














                            </div>
                        </div>
                        <div class="table-body ">
                            <div *ngFor="let item of product" class="flex-container  table-body-item align-center">


                                <div class="flex-item flex-2">
                                    <div class="flex-container">
                                        <div class="flex-item margin-right-05">
                                            <div *ngIf="item.image_url_1">
                                                <img class="cursor" (click)="showModal ='image'"
                                                    [src]="item.image_url_1" width="50" height="50" alt="">
                                                <app-modal-full [title]="item.name" *ngIf="showModal == 'image'"
                                                    (onClose)="showModal=null">
                                                    <div class="text-center">
                                                        <div class="margin-bottom-1">
                                                            <img [src]="item.image_url_1" width="550" height="550"
                                                                alt="">
                                                        </div>
                                                        <button (click)="fileUpload.click()"
                                                            class="button  clear active">{{item.image_url_1?'Change':'Upload'}}
                                                            <fa-icon [icon]="faUpload"></fa-icon> </button>
                                                    </div>


                                                </app-modal-full>
                                            </div>
                                            <div *ngIf="!item.image_url_1">
                                                <button (click)="fileUpload.click()"
                                                    class="button tiny clear active">{{item.image_url_1?'Change':'Photo'}}
                                                    <fa-icon [icon]="faUpload"></fa-icon> </button>
                                            </div>

                                        </div>

                                        <div class="flex-item flex-1">
                                            <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                                [id]="'name'" [value]="item.name"
                                                (onClose)="updateProduct($event,item.id)">
                                            </app-form-input>
                                            <div *ngIf="item.name" class="color-grey tiny-text">
                                                Last update on {{item.updated_at | date}}
                                            </div>
                                        </div>
                                    </div>






                                    <input class="hide" type="file" (change)="onChange($event,item.id)" #fileUpload />

                                </div>


                                <div class="flex-item flex-1">

                                    <app-form-select [isClean]="true" (onSelect)="selectCategory($event)"
                                        (onSearch)="searchCategory($event)" [option]="category_option"
                                        [selected_option]="item.category?.name" [label]="'category'"></app-form-select>
                                </div>



                                <div class="flex-item flex-1">
                                    {{item.vendor?.name}}
                                </div>





                                <div class="flex-item flex-1">
                                    <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Stock'"
                                        [id]="'stock'" [value]="item.stock" (onClose)="updateProduct($event,item.id)">
                                    </app-form-input>
                                </div>

                                <div class="flex-item flex-1">
                                    <app-form-input [type]="'number'" [isHideLabel]="true" [isHideAction]="true"
                                        [type]="'currency'" [label]="'Price'" [id]="'price'" [value]="item.price"
                                        (onClose)="updateProduct($event,item.id)"></app-form-input>
                                </div>

                                <div class="flex-item flex-05 text-right">
                                    <app-remove-button (onClick)="deleteProduct(item.id)">
                                        <button class="button tiny clear active">
                                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                                        </button>
                                    </app-remove-button>
                                </div>





                            </div>


                        </div>
                    </div>

                    <app-placeholder *ngIf="product.length === 0"></app-placeholder>
                </div>
            </div>

            <div *ngIf="tab_view =='category'">
                <app-table-action>
                    <button (click)="addVendorProductCategory()" class="button small active clear hollow">+
                        Category</button>

                </app-table-action>


                <div *ngIf="category" class="fade-in">
                    <app-placeholder *ngIf="category.length === 0"></app-placeholder>
                    <div *ngIf="category.length !==0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-1">

                                    <app-table-sort (onChange)="category" [data]="category" [key]="'name'">
                                        Name
                                    </app-table-sort>
                                </div>


                                <div class="flex-item flex-1">
                                    Description
                                </div>
                                <div class="flex-item flex-05 text-right">

                                </div>

                            </div>
                        </div>
                        <div class="table-body">
                            <div *ngFor="let item of category"
                                class="flex-container align-center hover-show table-body-item">


                                <div class="flex-item flex-1">
                                    <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                        [id]="'name'" [value]="item.name"
                                        (onClose)="updateVendorProductCategory($event,item.id)">
                                    </app-form-input>
                                </div>


                                <div class="flex-item flex-1">
                                    <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Description'"
                                        [id]="'description'" [value]="item.description"
                                        (onClose)="updateVendorProductCategory($event,item.id)">
                                    </app-form-input>
                                </div>
                                <div class="flex-item flex-05 text-right">
                                    <app-remove-button (onClick)="deleteVendorProductCategory(item)">
                                        <button class="button tiny clear active">
                                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                                        </button>
                                    </app-remove-button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

    <app-modal *ngIf="showModal == 'vendorModal'" (onClose)="closeModal()" [title]="'Add Vendor'">
        <form class="form" [formGroup]="vendorForm">
            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">


            <div class="margin-bottom-05">
                <label for="">Category</label>
                <app-form-select (onSelect)="selectCategory($event)" (onSearch)="searchCategory($event)"
                    [option]="category_option" [label]="'category'"></app-form-select>

            </div>
            <label for="">Phone</label>
            <input formControlName="phone" type="number" name="" id="">

            <label for="">Website</label>
            <input formControlName="website" type="text" name="" id="">

            <button [disabled]="!vendorForm.valid" (click)="addVendor()" class="button expanded">Add Vendor</button>
        </form>

    </app-modal>

    <app-modal (onClose)="closeModal()" *ngIf="showModal == 'addProductModal'" (onClose)="closeModal()"
        [title]="'Add Product'">
        <div class="margin-bottom-05"> {{selected_vendor.name}}</div>
        <form class="form" [formGroup]="productForm">
            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">


            <label for="">Category</label>
            <app-form-select (onSelect)="selectCategory($event)" (onSearch)="searchCategory($event)"
                [option]="category_option" [label]="'category'"></app-form-select>





            <label for="">Price</label>
            <input formControlName="price" type="number" name="" id="">

            <label for="">stock</label>
            <input formControlName="stock" type="text" name="" id="">

            <button [disabled]="!productForm.valid" (click)="addVendorProduct()" class="button expanded">Add
                Product</button>
        </form>

    </app-modal>

    <app-modal (onClose)="closeModal()" *ngIf="showModal=='addContactModal'" [title]="'Add Contact'">


        <form class="form margin-bottom-1" [formGroup]="contactForm">


            <div class="flex-containers">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Name</label>
                    <input formControlName="name" type="text" name="" id="">

                </div>
                <div class="flex-item flex-1">
                    <label for="">Position</label>
                    <input formControlName="position" type="text" name="" id="">


                </div>
            </div>


            <div class="flex-containers">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Mobile</label>
                    <input formControlName="mobile" type="number" name="" id="">

                </div>

            </div>



        </form>
        <button [disabled]="!contactForm.valid" (click)="addContact()" class="button expanded">Add Contact</button>
    </app-modal>

    <app-modal (onClose)="closeModal()" *ngIf="showModal =='accessModal'" [title]="'Access'">


        <div class="callout padding-center-1 rounded border color-grey" *ngIf="selected_access.auth">
            <div>
                Username: {{selected_access.auth.username}}
            </div>
            <div class="color-grey">
                Password : {{selected_access.auth.password}}
            </div>
        </div>

        <div *ngIf="!selected_access.auth">
            <form class="form" [formGroup]="accessForm">
                <div *ngIf="error_message" class="callout padding-center-1 rounded medium-grey-bg small-text">
                    {{error_message}}
                </div>
                <div class="margin-bottom-1">
                    <label for="">Username</label>
                    <input class="margin-bottom-0" formControlName="username" type="text" name="" id="">

                    <label for="">Password</label>
                    <input class="margin-bottom-0" formControlName="password" type="text" name="" id="">
                </div>

                <button (click)="addAccess()" class="button margin">
                    Add Access
                </button>
            </form>
        </div>


    </app-modal>


    <app-modal-full (onClose)="closeModal()" [title]="'Product'" *ngIf="showModal == 'productModal'" class="fade-in">


        <div class="">
            <div class="flex-container margin-bottom-05">

                <div class="flex-item text-right">
                    <button (click)="addVendorProduct()" class="button tiny white">+ Product</button>
                </div>
            </div>

            <div *ngIf="this.selected_vendor.product.length !== 0">
                <div class="table-header">
                    <div class="flex-container table-header-item">


                        <div class="flex-item flex-1">
                            Product Name

                        </div>

                        <div class="flex-item flex-1">
                            Category
                        </div>


                        <div class="flex-item flex-1">
                            Price
                        </div>
                        <div class="flex-item flex-1">
                            Stock
                        </div>



                        <div class="flex-item flex-05 text-right">

                        </div>















                    </div>
                </div>
                <div class="table-body">
                    <div [ngClass]="{'long-fade-in': this.selected_vendor.isNew}"
                        *ngFor="let child_item of this.selected_vendor.product ; index as i"
                        class="flex-container border hover-show align-center table-body-item">


                        <div class="flex-item flex-1">
                            <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'" [id]="'name'"
                                [value]="child_item.name" (onClose)="updateProduct($event,child_item.id)">
                            </app-form-input>
                            <div class="tiny-text color-grey"> Last Update
                                {{child_item.updated_at | date}}</div>
                        </div>



                        <div class="flex-item flex-1 ">
                            <app-form-select [isClean]="true" [selected_option]="child_item.category?.name"
                                (onSelect)="updateProduct($event,child_item.id)" (onSearch)="searchCategory($event)"
                                [option]="category_option" [label]="'Category'"
                                [selected_option]="child_item.category?.name"></app-form-select>
                        </div>


                        <div class="flex-item flex-1">
                            <app-form-input type="currency" [isHideLabel]="true" [isHideAction]="true" [label]="'Price'"
                                [id]="'price'" [value]="child_item.price"
                                (onClose)="updateProduct($event,child_item.id)">
                            </app-form-input>
                        </div>

                        <div class="flex-item flex-1">


                            <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Stock'" [id]="'stock'"
                                [value]="child_item.stock" (onClose)="updateProduct($event,child_item.id)">
                            </app-form-input>
                        </div>

                        <div class="flex-item flex-05 text-right">

                            <app-remove-button (onClick)="deleteVendorProduct(child_item,this.selected_vendor,i)">
                                <button class="button tiny clear active">
                                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                                </button>
                            </app-remove-button>

                        </div>


                    </div>
                </div>
            </div>


            <app-placeholder *ngIf="this.selected_vendor.product.length === 0">
            </app-placeholder>






        </div>
    </app-modal-full>

    <app-modal-full [title]="'Contact'" *ngIf="showModal == 'detailModal'" (onClose)="closeModal()" class="fade-in">
        <div>

            <button (click)="createContact(selected_vendor)" class="button tiny clear active margin-bottom-1">+
                Add Contact</button>

            <div class="list-tile-container">
                <div *ngFor="let item of selected_vendor.contact"
                    class="callout flex-container large-text margin-bottom-05 padding-center-1 border rounded">
                    <div class="flex-1">


                        <app-form-input [label]="'Name'" [isHideAction]="true" [id]="'name'" [value]="item.name"
                            (onClose)="updateContact(item.id,$event)">
                        </app-form-input>



                    </div>

                    <div class="flex-1">


                        <app-form-input [label]="'Position'" [isHideAction]="true" [id]="'position'"
                            [value]="item.position" (onClose)="updateContact(item.id,$event)">
                        </app-form-input>



                    </div>

                    <div class="flex-1">
                        <app-form-input [label]="'Mobile'" [isHideAction]="true" [id]="'mobile'" [value]="item.mobile"
                            (onClose)="updateContact(item.id,$event)">
                        </app-form-input>


                    </div>
                    <div class="flex-1">





                        <app-form-input [label]="'Work'" [isHideAction]="true" [id]="'work'" [value]="item.work"
                            (onClose)="updateContact(item.id,$event)">
                        </app-form-input>

                    </div>

                    <div class="flex-1">




                        <app-form-input [label]="'Email'" [id]="'email'" [isHideAction]="true" [value]="item.email"
                            (onClose)="updateContact(item.id,$event)">
                        </app-form-input>

                    </div>


                </div>
            </div>



        </div>



    </app-modal-full>


</app-body>