<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Contract</h1>

                    </div>
                    <div class="flex-item flex-1">


                    </div>

                </div>
            </div>

            <app-table-action [sortListItems]="sortListItems"></app-table-action>
            <div *ngIf="contract" class="fade-in">

                <div *ngIf="contract.length !==0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">


                            <div class="flex-item flex-1">


                                <app-table-sort [type]="'number'" (onChange)="contract" [data]="contract" [key]="'id'">
                                    Contract ID
                                </app-table-sort>
                            </div>




                            <div class="flex-item flex-1">
                                <app-table-sort [type]="'number'" (onChange)="contract" [data]="contract"
                                    [key]="'campaign_id'">
                                    Campaign
                                </app-table-sort>
                            </div>

                            <div class="flex-item flex-1">
                                <app-table-sort [type]="'number'" (onChange)="contract" [data]="contract"
                                    [key]="'creator_id'">
                                    Creator
                                </app-table-sort>
                            </div>







                            <div class="flex-item flex-1">
                                <app-table-sort [type]="'number'" (onChange)="contract" [data]="contract"
                                    [key]="'budget'">
                                    Total Budget
                                </app-table-sort>
                            </div>





                            <div class="flex-item flex-1">
                                <app-table-sort [type]="'number'" (onChange)="contract" [data]="contract"
                                    [key]="'status'">
                                    Status
                                </app-table-sort>
                            </div>
                            <div class="flex-item flex-1">
                                <app-table-sort [type]="'number'" (onChange)="contract" [data]="contract"
                                    [key]="'invoice_number'">
                                    Payment
                                </app-table-sort>
                            </div>
                            <div class="flex-item text-right flex-05">
                                Action
                            </div>

                        </div>
                    </div>

                    <div class="table-body">
                        <div *ngFor="let item of contract">
                            <div class="flex-container table-body-item">


                                <div class="flex-item flex-1">
                                    #{{item.id}}
                                    <div class="tiny-text color-grey">
                                        Create on {{item.created_at | date}}
                                    </div>
                                </div>





                                <div class="flex-item flex-1">

                                    <div>
                                        {{item.campaign.campaign_name}}
                                    </div>

                                </div>

                                <div class="flex-item flex-1">
                                    <div class="cursor" [routerLink]="'/creator/creator/view/'+item.creator.id">
                                        {{item.creator.first_name}} {{item.creator.last_name}}
                                    </div>

                                </div>







                                <div class="flex-item flex-1">
                                    {{item.budget + item.gross_up | currency : 'IDR'}}
                                </div>







                                <div class="flex-item flex-1">
                                    <app-status-label [disabled]="item.invoice_number" [class]="item.status"
                                        [label]="item.status" [option]="contract_status"
                                        (onSelect)="updateContract($event,item.id)">
                                    </app-status-label>

                                </div>
                                <div class="flex-item flex-1">


                                    <app-status-label [class]="item.invoice_number?'Paid':'UnPaid'"
                                        [label]="item.invoice_number?'Paid':'UnPaid'"></app-status-label>

                                </div>
                                <div class="flex-item cursor text-right flex-05">

                                    <button *ngIf="item.legal_doc_url" (click)="download(item.legal_doc_url)"
                                        class="button tiny clear active margin-right-02">
                                        <fa-icon [icon]="faDownload"></fa-icon>
                                    </button>

                                    <button (click)="toggleShow(item)" class="button tiny clear active">
                                        <fa-icon [icon]="faExpandAlt"></fa-icon>
                                    </button>




                                </div>


                            </div>

                        </div>

                    </div>
                </div>
                <app-placeholder *ngIf="contract.length === 0"></app-placeholder>


            </div>





        </div>

    </div>


</app-body>

<app-modal [isBorder]="true"  [isHalf]="true" [title]="'Contract #'+selected_item.id" (onClose)="closeModal();ngOnInit()" *ngIf="showModal =='contractModal'" class="callout padding-center rounded medium-grey-bg margin-bottom-1">

    <div class="timeline-container medium-grey-bg" sidebar>
       <div class="callout padding-center">
        <h3 class="margin-bottom-1">Campaign Information</h3>
        <div class="list-tile-container">
            <div class="list-tile-container">
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-1">
                            Contract <span *ngIf="selected_item.legal_doc_url"
                                (click)="download(selected_item.legal_doc_url)" class="link cursor">Download <fa-icon
                                    [icon]="faDownload"></fa-icon> </span>

                        </div>
                        <div class=" text-right">
                            <input class="hide" type="file" (change)="onChange($event,selected_item.id)" #fileUpload />



                            <button (click)="fileUpload.click()"
                                class="tiny clear white">{{selected_item.legal_doc_url?'Change':'Upload'}} <fa-icon
                                    [icon]="faUpload"></fa-icon> </button>

                        </div>
                    </div>
                </div>

                <div class="list-tile-item">
                    <app-form-input [type]="'number'" [label]="'Custom Contract ID'"
                        [value]="selected_item.custom_contract_id" [id]="'custom_contract_id'"
                        (onClose)="updateContract($event,selected_item.id)"></app-form-input>
                </div>
                <div *ngIf="selected_item.status == 'signed'" class="list-tile-item">

                    <app-form-input [disabled]="selected_item.invoice_number" [type]="'number'"
                        [label]="'Invoice Number'" [value]="selected_item.invoice_number" [id]="'invoice_number'"
                        (onClose)="updateContract($event,selected_item.id)">
                    </app-form-input>
                </div>
                <div class="list-tile-item">
                    <app-form-input [type]="'number'" [label]="'Term of Payment'"
                        [value]="selected_item.term_of_payment" [id]="'term_of_payment'"
                        (onClose)="updateContract($event,selected_item.id)"></app-form-input>
                </div>


            </div>
            <div class="list-tile-item">
                <div class="flex-container">
                    <div class="flex-1">
                        Name
                    </div>
                    <div class="flex-1 text-right">
                        {{selected_item.campaign.campaign_name}}
                        <div class="color-grey">
                            {{selected_item.campaign.start_date | date}}
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-tile-item">
                <div class="flex-container">
                    <div class="flex-1">
                        Creator
                    </div>
                    <div  target="_blank" [routerLink]="'/creator/creator/view/'+selected_item.creator.id" class="flex-1 cursor text-right">
                        <div class="flex-container align-center">
                            <div class="flex-item flex-1 margin-right-05">
                                <div class="cursor" >
                                    {{selected_item.creator.first_name}}
                                    {{selected_item.creator.last_name}}
                                </div>


                            </div>
                            <div class="flex-item  ">
                                <div class="avatar-container">
                                    <img *ngIf="selected_item.creator.profile_photo_url" class="avatar-image"
                                        [src]="selected_item.profile_photo_url" alt="">

                                    <div *ngIf="!selected_item.creator.profile_photo_url" class="avatar-placeholder">
                                        {{ getPlaceholderName(selected_item.creator)}}
                                    </div>
                                </div>





                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <div class="list-tile-item">
                <div class="flex-container">
                    <div class="flex-1">
                        Client
                    </div>
                    <div class="flex-1 text-right">
                        {{selected_item.client?.client_name}}
                    </div>
                </div>
            </div>
            <div class="list-tile-item">
                <app-form-input [type]="'number'" [label]="'Budget'" [value]="selected_item.budget" [id]="'budget'"
                    (onClose)="updateContract($event,selected_item.id)"></app-form-input>
            </div>

            <div class="list-tile-item">

                <app-form-input [type]="'number'" [label]="'Gross Up'" [value]="selected_item.gross_up"
                    [id]="'gross_up'" (onClose)="updateContract($event,selected_item.id)"></app-form-input>
            </div>
        </div>
       </div>
    </div>

    <div class="callout  form padding-center medium-grey-bg rounded margin-bottom-1" style="min-height: 35vh">
        <h3 class="margin-bottom-1">Scope of Work</h3>

        <div class="list-tile-container">
            <div *ngFor="let item of selected_item.scope" class="list-tile-item flex-container">
                <div class="flex-item flex-05">
                    {{item.platform_name}}
                </div>
                <div class="flex-item flex-1">
                    {{item.name}}
                </div>
            </div>
        </div>


    </div>





</app-modal>