<app-table-action>
</app-table-action>

<div *ngIf="account">
    <app-placeholder *ngIf="account.length === 0"></app-placeholder>
    <div *ngIf="account.length !==0">
        <div class="table-header">
            <div class="flex-container table-header-item">
    
    
                <div class="flex-item flex-1">
                    Name
                </div>
    
                <div class="flex-item flex-1">
                    Email
                </div>
    
    
    
    
                <div class="flex-item flex-1">
                    Join Date
                </div>
    
                <!-- <div class="flex-item flex-1 text-right">
                Action
            </div> -->
    
    
    
    
    
    
    
    
    
            </div>
        </div>
        <div class="table-body ">
            <div *ngFor="let item of account" class="flex-container cursor table-body-item align-center ">
    
                <div class="flex-item flex-1">
                    {{item.first_name}}
                    {{item.last_name}}
    
    
                </div>
    
                <div class="flex-item flex-1">
    
                    {{item.email}}
    
                </div>
    
    
    
    
                <div class="flex-item flex-1">
                    {{item.created_at | date}}
                </div>
    
    
                <!-- <div class="flex-item flex-1 text-right">
                Action
            </div> -->
    
    
    
    
    
            </div>
    
        </div>
    </div>

</div>