
.status-label {
border: 1px solid #3c414a !important;
    border-radius: 6px;
    color:  #87909e ;
    text-align: center;
    display: inline-block;
   
    padding: 0 10px;
    height: 29px;
    line-height: 29px;

   position: relative;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
    background: #2a2e34 !important;
    cursor: pointer;

    @media screen and (max-width: 39.9375em) {
      font-size: 11px;
      padding: 0px 8px;
    
    
    }
    
    .icon-container{
     
      .icon {
        line-height: 1.5;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        background: #cccccc !important;
        @media screen and (max-width: 39.9375em) {
          height: 2px;
        width: 2px;
        
        
        }
      }
    }
  
  
    .action {
      // position: absolute;
      // right: 2px;
    border-left: 1px solid #5e5e5ea5 !important;
      padding-left: 7px;
      margin-left:7px;
      margin-right: 0 !important;
  
      
    }
  
    .status-menu {
      position: absolute;
      border: 1px solid rgba(119, 119, 119, 0.189) !important;
      bottom: 1;
      box-shadow: 0 2px 16px #0006;
      background: rgb( 48, 53, 60 )  !important;
      padding: 0.5rem;
      margin-top: 7px;
      
      min-width: 200px;
     right: 0;
      width:fit-content;
      border-radius: 6px;
      z-index:9999;
  
      a {
        font-size: 12px;
        color: #cccccc;
        text-align: left !important;
        padding: 0.5rem;
        display: block;
        
        border-radius: 3px;
        margin: 0;
  
        &:hover {
          background: rgb( 60, 65, 74 )  !important;
    
        }
      }
  
    }
  
    cursor: pointer;
  
    &.confirm {
      color:  rgb( 127, 119, 241 ) !important;
      ;
    }
  
    &.cancel {
      color: #ff981f !important;
      ;
    }
    &.not-signed,&.introductory_meeting,&.in_service,&.interviewed,&.medium,&.request{
      color: #ff981f !important;
      ;
    }
    &.good,&.candidates,&.redeem,&.signed,&.proposal_sent,&.contract_sent,&.on_board,&.in_use,&.active,&.on_going,&.on_process{
      color: rgb( 127, 119, 241 ) !important;
      ;
    }
    &.draft,&.off_board,&.expired,&.sold,&.in_storage,&.in_active,&.complete,&.archive {
      color: #928f8c !important;
      ;
    }
    
    &.terminated,&.rejected,&.deny{
      color: #961616 !important;
      ;
    }
    &.bad,&.lost,&.missing {
      color: #961616 !important;
      ;
    }
  

  
    &.best,&.reward_sent,&.publish,&.Paid,&.approve  {
      color: rgb( 51, 160, 105 ) !important;
      
    }

    &.onboard {
      color: rgb( 51, 160, 105 ) !important;


      
      ;
    }
  
    &.excelent,&.won,&.high {
      color: rgb( 51, 160, 105 ) !important;
    }
  
  
  
  }
  
  .labelContainer {
    height: 28px;
    line-height: 28px;
   
   
    width: 120px;
    overflow: hidden;
    position: relative;
    .icon{
      position: absolute;
      right: 0;
      display: inline;
    }
   
  }
  
  .scroll {
    height: 28px;
    line-height: 28px;
    width: 120px;
    
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    transform: translateX(0);
    transition: 1s;
  }
  
  .labelContainer:first-of-type:hover span {
    width: auto;
    transform: translateX(calc(100px - 100%));
  }