<nav style="top: 0;position: sticky;z-index: 999999;"
    class="global-navigation border-bottom elevate">
    <div class="flex-container align-center large-text">
        <div class="flex-item flex-4">
            <ul class="menu">
                <li><a [routerLink]="'/newsfeed'">
                
                    <img height="40px" width="70px" src="/assets/image/logo.png" alt="">
                </a></li>
                <li class="show-for-medium" *ngFor="let item of top_link"><a  [routerLink]="item.link" >{{item.label}}</a></li>
              
            </ul>
        </div>




        <div *ngIf="!isHideLogin" class="flex-item text-right">
            <div *ngIf="author_account">
               <span class="huge-text margin-bottom-0"> Hi, {{author_account?.first_name | titlecase}} </span> <button (click)="authorLogout()" class="button tiny clear active  margin-left-1 margin-bottom-0">logout</button>
            </div>
            <button *ngIf="!author_account" (click)="toggleLogin()" class="button tiny clear active hollow margin-bottom-0 margin-right-05">
                Login / Register
            </button>

          

        </div>

        
       





    </div>
</nav>


<app-news-login (onClose)="toggleLogin()" (afterLogin)="toggleLogin()" *ngIf="isShowlogin"></app-news-login>

