<app-top-navigation-client></app-top-navigation-client>
<div *ngIf="member" class=" community show-for-medium">

   


    <div class="row collapse">
        <div class="medium-3 show-for-medium columns" style="position: sticky;top:0">

            <div class="callout small-container  padding-center medium-grey-bg "
                style="min-height: 100vh;">
             


                <div class="list-tile-container show-for-medium margin-bottom-1">
                    <div (click)="_navigateTo(item.id)" *ngFor="let item of main_menu" class="cursor list-tile-item">
                        <div [ngClass]="{'active': page_view === item.id}"
                            class="flex-container  align-center">
                            <div class="flex-item flex-05 margin-right-05">
                                <fa-icon [icon]="item.icon"></fa-icon>
                            </div>
                            <div class="flex-item flex-4">
                                {{item.label}}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="callout border levate padding-center rounded  medium-grey-bg margin-bottom-1">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-1">
                            <h5>
                                <fa-icon [icon]="faHandHolding"></fa-icon> Refer your friends
                            </h5>
    
    
                        </div>
                       
                    </div>
                    <div class="small-text color-grey margin-bottom-05">
                        Dapatkan 5 Points dengan mengajak teman Anda bergabung.
                    </div>
    
                    <button class="button tiny active clear hollow">
                        Copy Link
                    </button>
                </div>



            </div>
          
        </div>
        <div class="medium-9 columns">
            <div class="page-container">
                <div class="callout show-for-medium border padding-center rounded medium-grey-bg  margin-bottom-1">

                    <div class="margin-bottom-1">
                        <h1 class="margin-bottom-0">{{member.first_name}} {{member.last_name}} </h1>
                        <div><span class="span-label">
                            Member Id #{{member.id}}
                        </span> </div>
                        <div class="large-text">{{member.email}}</div>
    
    
                    </div>
    
    
                    <div class="flex-container align-center">
    
                        <div class="flex-item flex-3 margin-right-1">
    
                            <div class="row medium-up-4">
                                <div class="columns">
                                    <div class="small-text color-grey">Join Date</div>
                                    <div class="large-text">
                                        {{member.created_at | date}}
                                    </div>
                                </div>
    
                                <div class="columns">
                                    <div class="small-text color-grey">Community</div>
                                    <div class="large-text">
                                        {{member.community_name}}
                                    </div>
                                </div>
    
    
    
                                <div class="columns">
                                    <div class="small-text color-grey">Total Points</div>
                                    <div class="large-text">
                                        <fa-icon [icon]="faCoins"></fa-icon> {{member.total_points}}
                                    </div>
                                </div>
    
                                <div class="columns">
                                    <div class="small-text color-grey">Status</div>
                                    <app-status-label [label]="member.status"></app-status-label>
                                </div>
    
    
                            </div>
                        </div>
    
    
                    </div>
                </div>
    
    
                <!-- TABLE SAMPLE -->
    
                <div>
                    <div *ngIf="page_view =='points'"
                        class="callout form padding-center small-container medium-grey-bg border halfheight rounded margin-bottom-1">
    
                        <div class="flex-container align-center margin-bottom-1">
                            <div class="flex-item flex-1">
                                <div class="margin-bottom-05 show-for-small-only">
                                    <a (click)="_navigateTo('main_menu')" class="white">
                                        <fa-icon [icon]="faChevronLeft"></fa-icon>
                                        Back
                                    </a>
                                </div>
                                <h1>Points Activity</h1>
    
    
    
                            </div>
    
                        </div>
                       
                        <div class="callout border rounded small-text padding-center-1" *ngIf="member.points?.length == 0">
                            Informasi mengenai daftar points
                        </div>
                        <div class="list-tile-container">
                            <div *ngFor="let item of member.points" class="list-tile-item flex-container">
                                <div class="flex-item flex-1">
    
                                    <div *ngIf="!item.activity_id">
                                        {{item.description}}
                                    </div>
                                    <div *ngIf="item.activity_id">
                                        {{item.points.description}}
                                    </div>
                                    <div class="tiny-text color-grey">
                                        {{item.created_at | date}}
                                    </div>
                                </div>
                                <div class="flex-item text-right">
                                   
                                    <span class="span-label">
                                        <span *ngIf="item.type == 'credit'">+</span>
                                        <span *ngIf="item.type == 'debit'">-</span>
                                        {{item.value}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="page_view =='reward'"
                        class="callout form padding-center border medium-grey-bg halfheight  small-container rounded margin-bottom-1">
                        <div class="flex-container align-center margin-bottom-1">
                            <div class="flex-item flex-1">
                                <div class="margin-bottom-05 show-for-small-only">
                                    <a (click)="_navigateTo('main_menu')" class="white">
                                        <fa-icon [icon]="faChevronLeft"></fa-icon>
                                        Back
                                    </a>
                                </div>
                                <h1>Reward</h1>
    
                            </div>
    
                        </div>
    
                        <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>
    
                        <div *ngIf="tab_view == 'collection'">
                            <div class="">
    
                                <div *ngFor="let item of reward_collection"
                                    class="callout padding-center-1 medium-grey-bg rounded border margin-bottom-05 flex-container">
    
    
    
                                    <div class="flex-item flex-2 ">
                                        <div class="tiny-text color-grey"> {{item.start_date | date}} </div>
                                        <div class="large-text">
                                            {{item.name}}
                                        </div>
                                        <div class="color-grey tiny-text">
    
    
                                            {{item.description}}
    
                                        </div>
    
                                    </div>
    
    
    
    
    
    
    
    
    
    
    
                                    <div class="flex-item flex-1">
                                        <div class="tiny-text color-grey">
                                            Redeem Points
                                        </div>
                                        <fa-icon [icon]="faCoins"></fa-icon> {{item.redeem_points}}
    
    
    
                                    </div>
    
                                    <div class="flex-item flex-1 text-right">
                                        <app-remove-button
                                            [message]="'Redeem ' + item.redeem_points + ' points with ' + item.name + '?'"
                                            (onClick)="redeem(item)">
                                            <button class="button tiny clear active">
                                                Redeem
                                            </button>
    
                                        </app-remove-button>
                                    </div>
    
    
    
    
    
    
                                </div>
    
    
    
                            </div>
                        </div>
    
                        <div *ngIf="tab_view == 'my_reward'">
                            <app-placeholder [message]="'Informasi mengenai daftar reward'"
                                *ngIf="member.reward?.length==0"></app-placeholder>
    
                            <div class="">
    
    
                                <div *ngFor="let item of member?.reward"
                                    class="callout padding-center-1 medium-grey-bg rounded border margin-bottom-05 flex-container">
    
    
    
                                    <div class="flex-item flex-2  ">
                                        <div class="tiny-text color-grey"> {{item.start_date | date}} </div>
                                        <div class="large-text">
                                            <div *ngIf="!item.community_reward_id"> {{item.name}} </div>
                                            <div *ngIf="item.community_reward_id"> {{item.reward.name}} </div>
                                        </div>
                                        <div class="color-grey tiny-text">
    
    
                                            <div *ngIf="!item.community_reward_id"> {{item.description}} </div>
                                            <div *ngIf="item.community_reward_id"> {{item.reward.description}}
                                            </div>
    
                                        </div>
    
                                    </div>
    
    
    
    
    
    
    
    
    
    
    
                                    <div class="flex-item flex-1 large-text">
                                        <div *ngIf="item.reward?.redeem_points">
                                            <div class="tiny-text color-grey">
                                                Redeem Points
                                            </div>
                                            <fa-icon [icon]="faCoins"></fa-icon> {{item.reward?.redeem_points}}
                                        </div>
    
                                        <div *ngIf="!item.reward?.redeem_points">
                                            <div class="tiny-text color-grey">
                                                Redeem Points
                                            </div>
                                            <div class="tiny-text">
                                                Manual Reward
                                            </div>
                                        </div>
    
    
    
                                    </div>
    
                                    <div class="flex-item flex-1 text-right">
                                        <app-status-label [label]="item.status"></app-status-label>
                                    </div>
    
    
    
    
    
    
                                </div>
                            </div>
                        </div>
    
    
    
    
    
                    </div>
    
                    <div *ngIf="page_view =='campaign'"
                        class="callout halfheight border padding-center medium-grey-bg rounded  small-container">
                        <div class="margin-bottom-1">
                            <div class="margin-bottom-05 show-for-small-only">
                                <a (click)="_navigateTo('main_menu')" class="white">
                                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                                    Back
                                </a>
                            </div>
    
                            <h1>Campaign</h1>
                        </div>
    
                        <app-tab-menu [tab_menu_list]="tab_menu_list_campaign"></app-tab-menu>
    
                        <div *ngIf="tab_view=='collection'">
                            <div *ngIf="campaign" class="fade-in">
    
                                <div *ngIf="campaign.length !==0">
    
                                    <div *ngFor="let item of campaign"
                                        class="callout medium-grey-bg padding-center-1 rounded border margin-bottom-05">
    
    
    
                                        <div class="">
                                            <div class="tiny-text color-grey">
                                                {{item.start_date | date : 'dd/MM/yyyy'}}
                                                -
                                                {{item.end_date | date : 'dd/MM/yyyy'}}</div>
                                            <div class="large-text">
                                                {{item.campaign_name}}
                                            </div>
                                            <div class="color-grey small-text margin-bottom-1">
    
    
                                                {{item.description}}
    
                                            </div>
                                            <div>
                                                {{item.total_participant}}
                                            </div>
                                        </div>
    
    
    
                                        <div class="flex-container">
                                            <div class="flex-item flex-1">
                                                <div *ngIf="item.points_value">
                                                    <div class="color-grey tiny-text">
                                                        Points
                                                    </div>
                                                    <div class="small-text  margin-bottom-05">
                                                        <fa-icon [icon]="faCoins"></fa-icon> {{item.points_value}}
                                                    </div>
                                                </div>
    
    
    
    
                                            </div>
    
                                            <div class="flex-item flex-1">
    
                                                <div *ngIf="item.reward_value">
                                                    <div class="color-grey tiny-text">
                                                        Reward
                                                    </div>
                                                    <div class="small-text">
                                                        <fa-icon [icon]="faGift"></fa-icon> {{item.reward_value}}
                                                    </div>
                                                </div>
    
    
    
                                            </div>
    
                                            <div class="flex-item flex-1 text-right">
                                                <button *ngIf="!item.is_apply" (click)="addToCampaign(item)"
                                                    class="button tiny clear active">
                                                    {{item.is_apply?'Terdaftar!':'Daftar'}}
                                                </button>
                                            </div>
                                        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
                                    </div>
                                </div>
    
                                <div class="callout padding-center-1 medium-grey-bg rounded " *ngIf="campaign.length === 0">
                                    No Campaign
                                </div>
    
                            </div>
                        </div>
    
    
                        <div *ngIf="tab_view=='my_campaign'">
                           
                            <div class="callout padding-center-1 medium-grey-bg rounded "  *ngIf="member.campaign?.length == 0">
                                No Campaign
                            </div>
    
    
                            <div *ngFor="let item of member.campaign"
                                class="callout padding-center-1 rounded  medium-grey-bg border margin-bottom-05">
    
    
    
                                <div class="">
                                    <div class="tiny-text color-grey">
                                        {{item.campaign.start_date | date : 'dd/MM/yyyy'}}
                                        -
                                        {{item.campaign.end_date | date : 'dd/MM/yyyy'}}</div>
                                    <div class="large-text">
                                        {{item.campaign.campaign_name}}
                                    </div>
                                    <div class="color-grey small-text margin-bottom-1">
    
    
                                        {{item.campaign.description}}
    
                                    </div>
                                    <div>
                                        {{item.total_participant}}
                                    </div>
                                </div>
    
    
    
                                <div class="flex-container">
                                    <div class="flex-item flex-1">
                                        <div *ngIf="item.campaign.points_value">
                                            <div class="color-grey tiny-text">
                                                Points
                                            </div>
                                            <div class="small-text  margin-bottom-05">
                                                <fa-icon [icon]="faCoins"></fa-icon> {{item.campaign.points_value}}
                                            </div>
                                        </div>
    
    
    
    
                                    </div>
    
                                    <div class="flex-item flex-1">
    
                                        <div *ngIf="item.campaign.reward_value">
                                            <div class="color-grey tiny-text">
                                                Reward
                                            </div>
                                            <div class="small-text">
                                                <fa-icon [icon]="faGift"></fa-icon> {{item.campaign.reward_value}}
                                            </div>
                                        </div>
    
    
    
                                    </div>
    
                                    <div class="flex-item flex-1 text-right">
                                        <app-status-label [label]="item.status"></app-status-label>
    
                                    </div>
                                </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
                            </div>
                        </div>
    
                    </div>
    
                    <div *ngIf="page_view =='personal'"
                        class="callout halfheight border padding-center small-container medium-grey-bg rounded">
                        <div class="flex-container align-center margin-bottom-1">
                            <div class="flex-item flex-2">
                                <div class="margin-bottom-05 show-for-small-only">
                                    <a (click)="_navigateTo('main_menu')" class="white">
                                        <fa-icon [icon]="faChevronLeft"></fa-icon>
                                        Back
                                    </a>
                                </div>
                                <h1>Personal Information</h1>
    
    
    
                            </div>
    
                            <div class="flex-item text-right">
                                <button (click)="toggleUpdate()" class="button tiny clear active">
                                    {{this.is_update?'Cancel':'Update'}}
                                </button>
    
    
                            </div>
    
    
                        </div>
    
                        <div *ngIf="!is_update">
                            <div class="list-tile-container">
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Phone
                                    </div>
                                    {{member.phone}}
                                </div>
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Email
                                    </div>
                                    {{member.email}}
                                </div>
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Domisili
                                    </div>
                                    {{member.location}}
                                </div>
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Kota / Kabupaten
                                    </div>
                                    {{member.city}}
                                </div>
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Birthday
                                    </div>
                                    {{member.dob}}
                                </div>
    
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Status Kerja
                                    </div>
                                    {{member.working_status}}
                                </div>
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Bidang yang diminati
                                    </div>
                                    {{member.field}}
                                </div>
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Pengeluaran setiap bulan
                                    </div>
                                    {{member.mothly_expense}}
                                </div>
    
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Instagram Account
                                    </div>
                                    {{member.instagram_account}}
                                </div>
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Link Profile
                                    </div>
                                    {{member.instagram_account_link}}
                                </div>
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Jumlah Follower
                                    </div>
                                    {{member.instagram_follower}}
                                </div>
    
                                <div *ngIf="member.community_id =='1'" class="">
                                    <div class="list-tile-item">
                                        <div class="small-text color-grey">
                                            Jumlah Anak
                                        </div>
                                        {{member.number_of_kids}}
                                    </div>
    
                                    <div class="list-tile-item">
                                        <div class="small-text color-grey">
                                            Apakah sedang menyusui
                                        </div>
                                        {{member.is_breast_feed}}
                                    </div>
                                </div>
                            </div>
    
    
    
                        </div>
                        <form *ngIf="is_update" class="form" [formGroup]="registerForm">
    
    
                            <label for="">Nama Lengkap</label>
                            <input formControlName="first_name" type="text">
    
    
                            <div class="margin-bottom-1">
    
                                <label for="">Domisili</label>
                                <select formControlName="location">
                                    <option *ngFor="let item of domicile_list" [value]="item">{{item}}</option>
                                </select>
                            </div>
    
                            <div class="margin-bottom-1">
    
                                <label for="">Kota & Kabupaten</label>
                                <input formControlName="city" type="text">
                            </div>
    
    
    
    
    
    
                            <label for="">Tanggal Lahir</label>
                            <input formControlName="dob" type="date">
    
                            <label for="">No. WhatsApp Aktif</label>
    
    
                            <div class="flex-container align-center margin-bottom-1">
                                <div class="flex-item margin-right-05">
    
                                    <div>
                                        +62
                                    </div>
                                </div>
                                <div class="flex-item flex-1">
                                    <input type="text" placeholder="Phone Number" class="form-control margin-bottom-0"
                                        id="phone" name="phone" maxlength="12" formControlName="phone" phoneMask
                                        (input)="numbersOnlyValidator($event)" />
                                </div>
                            </div>
    
    
    
    
    
    
    
    
    
    
    
                            <label for="">Instagram Account</label>
                            <input formControlName="instagram_account" type="text">
    
                            <label for="">Jumlah Follower Instagram</label>
                            <input placeholder="Masukan jumlah follower instagram anda" formControlName="instagram_follower"
                                (input)="numbersOnlyValidator($event)" type="text">
    
    
                            <label for="">Link Profile Instagram</label>
                            <input placeholder="ex. https://www.instagram.com/edencreativenetwork/"
                                formControlName="instagram_account_link" type="text">
    
    
    
                            <div class="margin-bottom-1">
                                <label class="large-text white margin-bottom-05" for="">Status Kerja</label>
    
                                <div (click)="selectOption(item,working_status,'working_status')"
                                    class="cursor large-text  " *ngFor="let item of working_status ; let last = last;">
                                    <div class="flex-container margin-bottom-05">
                                        <div class="flex-item margin-right-05">
                                            <fa-icon class="color-grey" *ngIf="item.selected !== item.value"
                                                [icon]="faCircle">
                                            </fa-icon>
                                            <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                            </fa-icon>
    
                                        </div>
                                        <div class="flex-item">
                                            {{item.label }}
    
                                        </div>
                                    </div>
                                    <div>
                                        <input type="text" *ngIf="item.selected == 'Lainnya'"
                                            (input)="addCustomData($event,'working_status')">
    
                                    </div>
    
    
                                </div>
    
    
    
    
    
    
    
    
    
                            </div>
    
                            <div *ngIf="member.community_id == '1'">
    
    
    
                                <div class="margin-bottom-1">
                                    <label class="large-text white margin-bottom-05" for="">Jumlah Anak</label>
    
                                    <div (click)="selectOption(item,number_of_kids,'number_of_kids')"
                                        class="cursor large-text  " *ngFor="let item of number_of_kids ; let last = last;">
                                        <div class="flex-container margin-bottom-05">
                                            <div class="flex-item margin-right-05">
                                                <fa-icon class="color-grey" *ngIf="item.selected !== item.value"
                                                    [icon]="faCircle">
                                                </fa-icon>
                                                <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                                </fa-icon>
    
                                            </div>
                                            <div class="flex-item">
                                                {{item.label }}
    
                                            </div>
                                        </div>
                                        <div>
                                            <input type="text" *ngIf="item.selected == 'Lainnya'"
                                                (input)="addCustomData($event,'number_of_kids')">
    
                                        </div>
    
    
                                    </div>
    
    
    
    
    
    
    
    
    
                                </div>
    
    
    
    
    
                                <div class="margin-bottom-1">
                                    <label class="large-text white margin-bottom-05" for="">Apakah sedang
                                        menyusui?</label>
    
    
    
                                    <div (click)="selectOption(item,is_breast_feed,'is_breast_feed')"
                                        class="cursor large-text  " *ngFor="let item of is_breast_feed ; let last = last;">
                                        <div class="flex-container margin-bottom-05">
                                            <div class="flex-item margin-right-05">
                                                <fa-icon class="color-grey" *ngIf="item.selected !== item.value"
                                                    [icon]="faCircle">
                                                </fa-icon>
                                                <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                                </fa-icon>
    
                                            </div>
                                            <div class="flex-item">
                                                {{item.label }}
    
                                            </div>
                                        </div>
                                        <div>
                                            <input type="text" *ngIf="item.selected == 'Lainnya'"
                                                (input)="addCustomData($event,'is_breast_feed')">
    
                                        </div>
    
    
                                    </div>
                                </div>
    
                            </div>
    
    
    
    
    
    
                            <div class="margin-bottom-1">
                                <label class="large-text white margin-bottom-05" for="">Bidang yang
                                    diminati:</label>
    
    
                                <div (click)="selectOption(item,field,'field')" class="cursor large-text  "
                                    *ngFor="let item of field ; let last = last;">
                                    <div class="flex-container margin-bottom-05">
                                        <div class="flex-item margin-right-05">
                                            <fa-icon class="color-grey" *ngIf="item.selected !== item.value"
                                                [icon]="faCircle">
                                            </fa-icon>
                                            <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                            </fa-icon>
    
                                        </div>
                                        <div class="flex-item">
                                            {{item.label }}
    
                                        </div>
                                    </div>
                                    <div>
                                        <input type="text" *ngIf="item.selected == 'Lainnya'"
                                            (input)="addCustomData($event,'field')">
    
                                    </div>
    
    
                                </div>
    
                            </div>
    
    
                            <div class="margin-bottom-1">
                                <label class="large-text white margin-bottom-05" for="">Pengeluaran tiap
                                    bulan</label>
    
    
                                <div (click)="selectOption(item,mothly_expense,'mothly_expense')"
                                    class="cursor large-text  " *ngFor="let item of mothly_expense ; let last = last;">
                                    <div class="flex-container margin-bottom-05">
                                        <div class="flex-item margin-right-05">
                                            <fa-icon class="color-grey" *ngIf="item.selected !== item.value"
                                                [icon]="faCircle">
                                            </fa-icon>
                                            <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                            </fa-icon>
    
                                        </div>
                                        <div class="flex-item">
                                            {{item.label }}
    
                                        </div>
                                    </div>
                                    <div>
                                        <input type="text" *ngIf="item.selected == 'Lainnya'"
                                            (input)="addCustomData($event,'mothly_expense')">
    
                                    </div>
    
    
                                </div>
    
    
    
                            </div>
    
    
                            <div class="margin-bottom-1">
                                <label class="large-text white margin-bottom-05">Apa yang diharapkan dari
                                    komunitas?</label>
    
                                <textarea formControlName="what_to_expect"></textarea>
                            </div>
                            <button [disabled]="!registerForm.valid" (click)="updateCommunityMember()"
                                class="button expanded">Update</button>
    
                        </form>
                    </div>
    
                    <div *ngIf="page_view =='ticket'"
                        class="callout form padding-center halfheight small-container border medium-grey-bg rounded margin-bottom-1">
    
                        <div class="flex-container align-center margin-bottom-1">
                            <div class="flex-item flex-1">
                                <div class="margin-bottom-05 show-for-small-only">
                                    <a (click)="_navigateTo('main_menu')" class="white">
                                        <fa-icon [icon]="faChevronLeft"></fa-icon>
                                        Back
                                    </a>
                                </div>
                                <h1>Message</h1>
    
    
    
                            </div>
    
                            <div class="flex-item flex-1 text-right">
                                <button (click)="openModal('addTicketModal')" class="button tiny clear active">
                                    Add Ticket
                                </button>
    
    
                            </div>
    
    
                        </div>
    
                        <div *ngIf="ticket?.length !==0">
    
    
                            <div class="table-body">
                                <div (click)="viewTicket(item)" *ngFor="let item of ticket"
                                    class="callout padding-center-1 border  rounded medium-grey-bg margin-bottom-05 flex-container cursor">
                                    <div class="flex-1">
                                        <div class="color-grey tiny-text">{{item.created_at | date}}</div>
                                        {{item.title}} <span class="span-label"> {{item.topic}}</span>
                                    </div>
    
    
                                    <div class="flex-1 text-right">
                                        <app-status-label [label]="item.status"></app-status-label>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <app-placeholder *ngIf="ticket?.length==0"></app-placeholder>
                    </div>
                </div>
    
            </div>

            




        </div>

    </div>



</div>

<div  *ngIf="member" class="padding-center community show-for-small-only">
    <div class="row">
        <div class="small-12 columns">
            <div class=" margin-bottom-1">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1 margin-right-05">
                        <h1>{{member.first_name}} {{member.last_name}}
                        </h1>
                        <div><span class="span-label">
                                Member Id #{{member.id}}
                            </span></div>
                        <div class="small-text">{{member.email}}</div>
                    </div>
                    <div class="flex-item">
                        <a class="color-grey" (click)="_navigateTo('personal')">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </a>

                    </div>
                </div>

            </div>




            <div class="padding-center border-bottom margin-bottom-1">
                <div class="flex-container margin-bottom-1">


                    <div class="flex-1 margin-right-1">
                        <div class="callout padding-center-1 elevate border rounded medium-grey-bg">
                            <div class="small-text color-grey">Community</div>
                            <div class="large-text">
                                {{member.community_name}}
                            </div>
                        </div>
                    </div>

                    <div class="flex-1">
                        <div class="callout elevate padding-center-1 border rounded medium-grey-bg">
                            <div class="small-text color-grey">Total Points</div>
                            <div class="large-text">
                                <fa-icon [icon]="faCoins"></fa-icon> {{member.total_points}}
                            </div>
                        </div>
                    </div>






                </div>
                <div class="callout elevate border padding-center rounded  medium-grey-bg margin-bottom-1">
                    <div class="flex-container margin-bottom-05 align-center">
                        <div class="flex-item flex-1">
                            <h3>
                                <fa-icon [icon]="faHandHolding"></fa-icon> Refer your friends
                            </h3>


                        </div>
                        <div class="flex-item text-right">
                            <button class="button tiny active clear hollow">
                                Copy Link
                            </button>
                        </div>
                    </div>

                    <div class="large-text color-grey margin-bottom-05">
                        Dapatkan 5 Points dengan mengajak teman Anda bergabung.
                    </div>
                </div>

                <div class="row small-up-4 margin-bottom-1">
                    <div (click)="_navigateTo(item.id)" *ngFor="let item of small_main_menu" class="cursor columns">
                        <div class="text-center">
                            <fa-icon [icon]="item.icon"></fa-icon>
                        </div>
                        <div class="tiny-text text-center color-grey ">
                            {{item.label}}
                        </div>

                    </div>
                </div>


            </div>

            <div>
                <div  *ngIf="page_view =='points'"
                    class="small-container">

                    <div class="flex-container align-center margin-bottom-1">
                        <div class="flex-item flex-1">
                           
                            <h1>Points Activity</h1>



                        </div>

                    </div>
                   
                    <div class="callout border rounded small-text padding-center-1" *ngIf="member.points?.length == 0">
                        Informasi mengenai daftar points
                    </div>
                    <div class="list-tile-container">
                        <div *ngFor="let item of member.points" class="list-tile-item flex-container">
                            <div class="flex-item flex-1">

                                <div *ngIf="!item.activity_id">
                                    {{item.description}}
                                </div>
                                <div *ngIf="item.activity_id">
                                    {{item.points.description}}
                                </div>
                                <div class="tiny-text color-grey">
                                    {{item.created_at | date}}
                                </div>
                            </div>
                            <div class="flex-item text-right">
                               
                                <span class="span-label">
                                    <span *ngIf="item.type == 'credit'">+</span>
                                    <span *ngIf="item.type == 'debit'">-</span>
                                    {{item.value}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="page_view =='reward'"
                    class="small-container">
                    <div class="flex-container align-center margin-bottom-1">
                        <div class="flex-item flex-1">
                           
                            <h1>Reward</h1>

                        </div>

                    </div>

                    <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>

                    <div *ngIf="tab_view == 'collection'">
                        <div class="">

                            <div *ngFor="let item of reward_collection"
                                class="callout padding-center-1 medium-grey-bg rounded border margin-bottom-05 flex-container">



                                <div class="flex-item flex-2 ">
                                    <div class="tiny-text color-grey"> {{item.start_date | date}} </div>
                                    <div class="large-text">
                                        {{item.name}}
                                    </div>
                                    <div class="color-grey tiny-text">


                                        {{item.description}}

                                    </div>

                                </div>











                                <div class="flex-item flex-1">
                                    <div class="tiny-text color-grey">
                                        Redeem Points
                                    </div>
                                    <fa-icon [icon]="faCoins"></fa-icon> {{item.redeem_points}}



                                </div>

                                <div class="flex-item flex-1 text-right">
                                    <app-remove-button
                                        [message]="'Redeem ' + item.redeem_points + ' points with ' + item.name + '?'"
                                        (onClick)="redeem(item)">
                                        <button class="button tiny clear active">
                                            Redeem
                                        </button>

                                    </app-remove-button>
                                </div>






                            </div>



                        </div>
                    </div>

                    <div *ngIf="tab_view == 'my_reward'">
                        <app-placeholder [message]="'Informasi mengenai daftar reward'"
                            *ngIf="member.reward?.length==0"></app-placeholder>

                        <div class="">


                            <div *ngFor="let item of member?.reward"
                                class="callout padding-center-1 medium-grey-bg rounded border margin-bottom-05 flex-container">



                                <div class="flex-item flex-2  ">
                                    <div class="tiny-text color-grey"> {{item.start_date | date}} </div>
                                    <div class="large-text">
                                        <div *ngIf="!item.community_reward_id"> {{item.name}} </div>
                                        <div *ngIf="item.community_reward_id"> {{item.reward.name}} </div>
                                    </div>
                                    <div class="color-grey tiny-text">


                                        <div *ngIf="!item.community_reward_id"> {{item.description}} </div>
                                        <div *ngIf="item.community_reward_id"> {{item.reward.description}}
                                        </div>

                                    </div>

                                </div>











                                <div class="flex-item flex-1 large-text">
                                    <div *ngIf="item.reward?.redeem_points">
                                        <div class="tiny-text color-grey">
                                            Redeem Points
                                        </div>
                                        <fa-icon [icon]="faCoins"></fa-icon> {{item.reward?.redeem_points}}
                                    </div>

                                    <div *ngIf="!item.reward?.redeem_points">
                                        <div class="tiny-text color-grey">
                                            Redeem Points
                                        </div>
                                        <div class="tiny-text">
                                            Manual Reward
                                        </div>
                                    </div>



                                </div>

                                <div class="flex-item flex-1 text-right">
                                    <app-status-label [label]="item.status"></app-status-label>
                                </div>






                            </div>
                        </div>
                    </div>





                </div>

                <div *ngIf="page_view =='campaign'"
                    class=" small-container">
                    <div class="margin-bottom-1">
                       

                        <h1>Campaign</h1>
                    </div>

                    <app-tab-menu [tab_menu_list]="tab_menu_list_campaign"></app-tab-menu>

                    <div *ngIf="tab_view=='collection'">
                        <div *ngIf="campaign" class="fade-in">

                            <div *ngIf="campaign.length !==0">

                                <div *ngFor="let item of campaign"
                                    class="callout medium-grey-bg padding-center-1 rounded border margin-bottom-05">



                                    <div class="">
                                        <div class="tiny-text color-grey">
                                            {{item.start_date | date : 'dd/MM/yyyy'}}
                                            -
                                            {{item.end_date | date : 'dd/MM/yyyy'}}</div>
                                        <div class="large-text">
                                            {{item.campaign_name}}
                                        </div>
                                        <div class="color-grey small-text margin-bottom-1">


                                            {{item.description}}

                                        </div>
                                        <div>
                                            {{item.total_participant}}
                                        </div>
                                    </div>



                                    <div class="flex-container">
                                        <div class="flex-item flex-1">
                                            <div *ngIf="item.points_value">
                                                <div class="color-grey tiny-text">
                                                    Points
                                                </div>
                                                <div class="small-text  margin-bottom-05">
                                                    <fa-icon [icon]="faCoins"></fa-icon> {{item.points_value}}
                                                </div>
                                            </div>




                                        </div>

                                        <div class="flex-item flex-1">

                                            <div *ngIf="item.reward_value">
                                                <div class="color-grey tiny-text">
                                                    Reward
                                                </div>
                                                <div class="small-text">
                                                    <fa-icon [icon]="faGift"></fa-icon> {{item.reward_value}}
                                                </div>
                                            </div>



                                        </div>

                                        <div class="flex-item flex-1 text-right">
                                            <button *ngIf="!item.is_apply" (click)="addToCampaign(item)"
                                                class="button tiny clear active">
                                                {{item.is_apply?'Terdaftar!':'Daftar'}}
                                            </button>
                                        </div>
                                    </div>














                                </div>
                            </div>

                            <div class="callout padding-center-1 medium-grey-bg rounded " *ngIf="campaign.length === 0">
                                No Campaign
                            </div>

                        </div>
                    </div>


                    <div *ngIf="tab_view=='my_campaign'">
                        <app-placeholder *ngIf="member.campaign?.length == 0"></app-placeholder>



                        <div *ngFor="let item of member.campaign"
                            class="callout padding-center-1 rounded  medium-grey-bg border margin-bottom-05">



                            <div class="">
                                <div class="tiny-text color-grey">
                                    {{item.campaign.start_date | date : 'dd/MM/yyyy'}}
                                    -
                                    {{item.campaign.end_date | date : 'dd/MM/yyyy'}}</div>
                                <div class="large-text">
                                    {{item.campaign.campaign_name}}
                                </div>
                                <div class="color-grey small-text margin-bottom-1">


                                    {{item.campaign.description}}

                                </div>
                                <div>
                                    {{item.total_participant}}
                                </div>
                            </div>



                            <div class="flex-container">
                                <div class="flex-item flex-1">
                                    <div *ngIf="item.campaign.points_value">
                                        <div class="color-grey tiny-text">
                                            Points
                                        </div>
                                        <div class="small-text  margin-bottom-05">
                                            <fa-icon [icon]="faCoins"></fa-icon> {{item.campaign.points_value}}
                                        </div>
                                    </div>




                                </div>

                                <div class="flex-item flex-1">

                                    <div *ngIf="item.campaign.reward_value">
                                        <div class="color-grey tiny-text">
                                            Reward
                                        </div>
                                        <div class="small-text">
                                            <fa-icon [icon]="faGift"></fa-icon> {{item.campaign.reward_value}}
                                        </div>
                                    </div>



                                </div>

                                <div class="flex-item flex-1 text-right">
                                    <app-status-label [label]="item.status"></app-status-label>

                                </div>
                            </div>














                        </div>
                    </div>

                </div>

                <div *ngIf="page_view =='personal'"
                    class="small-container">
                    <div class="flex-container align-center margin-bottom-1">
                        <div class="flex-item flex-2">
                            
                            <h1>Personal Information</h1>



                        </div>

                        <div class="flex-item text-right">
                            <button (click)="toggleUpdate()" class="button tiny clear active">
                                {{this.is_update?'Cancel':'Update'}}
                            </button>


                        </div>


                    </div>

                    <div *ngIf="!is_update">
                        <div class="list-tile-container">
                            <div class="list-tile-item">
                                <div class="small-text color-grey">
                                    Phone
                                </div>
                                {{member.phone}}
                            </div>
                            <div class="list-tile-item">
                                <div class="small-text color-grey">
                                    Email
                                </div>
                                {{member.email}}
                            </div>
                            <div class="list-tile-item">
                                <div class="small-text color-grey">
                                    Domisili
                                </div>
                                {{member.location}}
                            </div>
                            <div class="list-tile-item">
                                <div class="small-text color-grey">
                                    Kota / Kabupaten
                                </div>
                                {{member.city}}
                            </div>
                            <div class="list-tile-item">
                                <div class="small-text color-grey">
                                    Birthday
                                </div>
                                {{member.dob}}
                            </div>

                            <div class="list-tile-item">
                                <div class="small-text color-grey">
                                    Status Kerja
                                </div>
                                {{member.working_status}}
                            </div>
                            <div class="list-tile-item">
                                <div class="small-text color-grey">
                                    Bidang yang diminati
                                </div>
                                {{member.field}}
                            </div>
                            <div class="list-tile-item">
                                <div class="small-text color-grey">
                                    Pengeluaran setiap bulan
                                </div>
                                {{member.mothly_expense}}
                            </div>

                            <div class="list-tile-item">
                                <div class="small-text color-grey">
                                    Instagram Account
                                </div>
                                {{member.instagram_account}}
                            </div>
                            <div class="list-tile-item">
                                <div class="small-text color-grey">
                                    Link Profile
                                </div>
                                {{member.instagram_account_link}}
                            </div>
                            <div class="list-tile-item">
                                <div class="small-text color-grey">
                                    Jumlah Follower
                                </div>
                                {{member.instagram_follower}}
                            </div>

                            <div *ngIf="member.community_id =='1'" class="">
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Jumlah Anak
                                    </div>
                                    {{member.number_of_kids}}
                                </div>

                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Apakah sedang menyusui
                                    </div>
                                    {{member.is_breast_feed}}
                                </div>
                            </div>
                        </div>



                    </div>
                    <form *ngIf="is_update" class="form" [formGroup]="registerForm">


                        <label for="">Nama Lengkap</label>
                        <input formControlName="first_name" type="text">


                        <div class="margin-bottom-1">

                            <label for="">Domisili</label>
                            <select formControlName="location">
                                <option *ngFor="let item of domicile_list" [value]="item">{{item}}</option>
                            </select>
                        </div>

                        <div class="margin-bottom-1">

                            <label for="">Kota & Kabupaten</label>
                            <input formControlName="city" type="text">
                        </div>






                        <label for="">Tanggal Lahir</label>
                        <input formControlName="dob" type="date">

                        <label for="">No. WhatsApp Aktif</label>


                        <div class="flex-container align-center margin-bottom-1">
                            <div class="flex-item margin-right-05">

                                <div>
                                    +62
                                </div>
                            </div>
                            <div class="flex-item flex-1">
                                <input type="text" placeholder="Phone Number" class="form-control margin-bottom-0"
                                    id="phone" name="phone" maxlength="12" formControlName="phone" phoneMask
                                    (input)="numbersOnlyValidator($event)" />
                            </div>
                        </div>











                        <label for="">Instagram Account</label>
                        <input formControlName="instagram_account" type="text">

                        <label for="">Jumlah Follower Instagram</label>
                        <input placeholder="Masukan jumlah follower instagram anda" formControlName="instagram_follower"
                            (input)="numbersOnlyValidator($event)" type="text">


                        <label for="">Link Profile Instagram</label>
                        <input placeholder="ex. https://www.instagram.com/edencreativenetwork/"
                            formControlName="instagram_account_link" type="text">



                        <div class="margin-bottom-1">
                            <label class="large-text white margin-bottom-05" for="">Status Kerja</label>

                            <div (click)="selectOption(item,working_status,'working_status')"
                                class="cursor large-text  " *ngFor="let item of working_status ; let last = last;">
                                <div class="flex-container margin-bottom-05">
                                    <div class="flex-item margin-right-05">
                                        <fa-icon class="color-grey" *ngIf="item.selected !== item.value"
                                            [icon]="faCircle">
                                        </fa-icon>
                                        <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                        </fa-icon>

                                    </div>
                                    <div class="flex-item">
                                        {{item.label }}

                                    </div>
                                </div>
                                <div>
                                    <input type="text" *ngIf="item.selected == 'Lainnya'"
                                        (input)="addCustomData($event,'working_status')">

                                </div>


                            </div>









                        </div>

                        <div *ngIf="member.community_id == '1'">



                            <div class="margin-bottom-1">
                                <label class="large-text white margin-bottom-05" for="">Jumlah Anak</label>

                                <div (click)="selectOption(item,number_of_kids,'number_of_kids')"
                                    class="cursor large-text  " *ngFor="let item of number_of_kids ; let last = last;">
                                    <div class="flex-container margin-bottom-05">
                                        <div class="flex-item margin-right-05">
                                            <fa-icon class="color-grey" *ngIf="item.selected !== item.value"
                                                [icon]="faCircle">
                                            </fa-icon>
                                            <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                            </fa-icon>

                                        </div>
                                        <div class="flex-item">
                                            {{item.label }}

                                        </div>
                                    </div>
                                    <div>
                                        <input type="text" *ngIf="item.selected == 'Lainnya'"
                                            (input)="addCustomData($event,'number_of_kids')">

                                    </div>


                                </div>









                            </div>





                            <div class="margin-bottom-1">
                                <label class="large-text white margin-bottom-05" for="">Apakah sedang
                                    menyusui?</label>



                                <div (click)="selectOption(item,is_breast_feed,'is_breast_feed')"
                                    class="cursor large-text  " *ngFor="let item of is_breast_feed ; let last = last;">
                                    <div class="flex-container margin-bottom-05">
                                        <div class="flex-item margin-right-05">
                                            <fa-icon class="color-grey" *ngIf="item.selected !== item.value"
                                                [icon]="faCircle">
                                            </fa-icon>
                                            <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                            </fa-icon>

                                        </div>
                                        <div class="flex-item">
                                            {{item.label }}

                                        </div>
                                    </div>
                                    <div>
                                        <input type="text" *ngIf="item.selected == 'Lainnya'"
                                            (input)="addCustomData($event,'is_breast_feed')">

                                    </div>


                                </div>
                            </div>

                        </div>






                        <div class="margin-bottom-1">
                            <label class="large-text white margin-bottom-05" for="">Bidang yang
                                diminati:</label>


                            <div (click)="selectOption(item,field,'field')" class="cursor large-text  "
                                *ngFor="let item of field ; let last = last;">
                                <div class="flex-container margin-bottom-05">
                                    <div class="flex-item margin-right-05">
                                        <fa-icon class="color-grey" *ngIf="item.selected !== item.value"
                                            [icon]="faCircle">
                                        </fa-icon>
                                        <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                        </fa-icon>

                                    </div>
                                    <div class="flex-item">
                                        {{item.label }}

                                    </div>
                                </div>
                                <div>
                                    <input type="text" *ngIf="item.selected == 'Lainnya'"
                                        (input)="addCustomData($event,'field')">

                                </div>


                            </div>

                        </div>


                        <div class="margin-bottom-1">
                            <label class="large-text white margin-bottom-05" for="">Pengeluaran tiap
                                bulan</label>


                            <div (click)="selectOption(item,mothly_expense,'mothly_expense')"
                                class="cursor large-text  " *ngFor="let item of mothly_expense ; let last = last;">
                                <div class="flex-container margin-bottom-05">
                                    <div class="flex-item margin-right-05">
                                        <fa-icon class="color-grey" *ngIf="item.selected !== item.value"
                                            [icon]="faCircle">
                                        </fa-icon>
                                        <fa-icon *ngIf="item.selected == item.value" [icon]="faCheckCircle">
                                        </fa-icon>

                                    </div>
                                    <div class="flex-item">
                                        {{item.label }}

                                    </div>
                                </div>
                                <div>
                                    <input type="text" *ngIf="item.selected == 'Lainnya'"
                                        (input)="addCustomData($event,'mothly_expense')">

                                </div>


                            </div>



                        </div>


                        <div class="margin-bottom-1">
                            <label class="large-text white margin-bottom-05">Apa yang diharapkan dari
                                komunitas?</label>

                            <textarea formControlName="what_to_expect"></textarea>
                        </div>
                        <button [disabled]="!registerForm.valid" (click)="updateCommunityMember()"
                            class="button expanded">Update</button>

                    </form>
                </div>

                <div *ngIf="page_view =='ticket'"
                    class="small-container">

                    <div class="flex-container align-center margin-bottom-1">
                        <div class="flex-item flex-1">
                           
                            <h1>Message</h1>



                        </div>

                        <div class="flex-item flex-1 text-right">
                            <button (click)="openModal('addTicketModal')" class="button tiny clear active">
                                Add Ticket
                            </button>


                        </div>


                    </div>

                    <div *ngIf="ticket?.length !==0">


                        <div class="table-body">
                            <div (click)="viewTicket(item)" *ngFor="let item of ticket"
                                class="callout padding-center-1 border  rounded medium-grey-bg margin-bottom-05 flex-container cursor">
                                <div class="flex-1">
                                    <div class="color-grey tiny-text">{{item.created_at | date}}</div>
                                    {{item.title}} <span class="span-label"> {{item.topic}}</span>
                                </div>


                                <div class="flex-1 text-right">
                                    <app-status-label [label]="item.status"></app-status-label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <app-placeholder *ngIf="ticket?.length==0"></app-placeholder>
                </div>
            </div>

          
        </div>
    </div>
</div>

<app-modal *ngIf="showModal == 'addTicketModal'" [title]="'Add Ticket'" (onClose)="closeModal()">
    <form class="form margin-bottom-1" [formGroup]="ticketForm">


        <label for="">Title</label>
        <input formControlName="title" type="text" name="" id="">

        <label for="">Topic</label>
        <select formControlName="topic">
            <option value="account">Account</option>
            <option value="campaign">Campaign</option>
            <option value="points_reward">Points & Reward</option>
        </select>

        <label for="">Message</label>
        <textarea formControlName="message" name="" id="" cols="30" rows="10"></textarea>


        <button [disabled]="!ticketForm.valid" class="button" (click)="addTicket()">Add Ticket</button>



    </form>

</app-modal>

<app-modal [title]="selected_ticket.title" (onClose)="closeModal()" *ngIf="showModal == 'ticketModal'">

    <div class="form margin-bottom-1" style="min-height: 70vh;">

        <div class="margin-bottom-2">

            <textarea placeholder="Add Comment" [(ngModel)]="message" name="" id="" cols="30" rows="2"></textarea>
            <button [disabled]="!message" (click)="addTicketDiscussion()" class="button tiny">Send Messsage</button>

        </div>
        <div *ngFor="let item of selected_ticket.discussion">
            <div class="flex-container">
                <div class="flex-item margin-right-05">
                    <img class="avatar-image" src="https://placehold.co/200x200" alt="">
                </div>
                <div class="flex-item flex-1">
                    <div class="callout padding-center-1  large-text rounded medium-grey-bg margin-bottom-1">


                        <div class="flex-container large-text align align-center">
                            <div class="flex-item flex-1">
                                <div *ngIf="item.account_id">
                                    {{item.account?.first_name}}
                                </div>
                                <div *ngIf="item.community_member_id">
                                    {{item.member?.first_name}}
                                </div>
                            </div>
                            <div class="flex-item small-text color-grey">
                                {{item.created_at | date}}

                            </div>
                        </div>

                        {{item.message}}
                    </div>
                </div>
            </div>


        </div>

    </div>
</app-modal>