<app-body [hideNav]="true">
    <div *ngIf="ticket" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container border-bottom">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/community/ticket/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Ticket
                    </a>
                </div>

                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">



                    <div class="flex-container align-center">

                        <div class="flex-item flex-2">

                            <h1>{{ticket.title | titlecase}}</h1>




                        </div>

                  
                    </div>

                    <div class="row medium-up-4">
                        <div class="columns">
                            <div class="small-text color-grey">Status</div>

                            <app-status-label [label]="ticket.status" [option]="ticket_status"
                                (onSelect)="updateTicket($event)"></app-status-label>


                        </div>

                        <div class="columns">
                            <div class="small-text color-grey">Priority</div>

                            <app-status-label [label]="ticket.priority" [option]="priority_status"
                                (onSelect)="updateTicket($event)"></app-status-label>


                        </div>

                        <div class="columns">
                            <div class="small-text color-grey">Topic</div>

                            <app-status-label [label]="ticket.topic" [option]="topic_status"
                                (onSelect)="updateTicket($event)"></app-status-label>


                        </div>

                        <div class="columns">
                            <app-form-input [isHideAction]="true" [type]="'date'" class="huge-text" [label]="'Due Date'"
                                [value]="ticket.due_date" [id]="'due_date'" (onClose)="updateTicket($event)">
                            </app-form-input>


                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Member Information</h3>
                            <div class="list-tile-container">
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Name
                                    </div>
                                    <div class="large-text">
                                        {{ticket.member?.first_name}}
                                    </div>
                                </div>
                                <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Domicile
                                    </div>
                                    <div class="large-text">
                                        {{ticket.member?.location}}
                                    </div>
                                </div>

                                <!-- <div class="list-tile-item">
                                    <div class="small-text color-grey">
                                        Points
                                    </div>
                                    <div class="large-text">
                                        {{ticket.member?.total_points}}
                                    </div>
                                </div> -->



                            </div>



                        </div>


                        <app-card is_expand="true" [title]="'Member Points'">
                            <div class="list-tile-container">
                                <div *ngFor="let item of ticket.member?.points" class="list-tile-item flex-container">
                                    <div class="flex-item flex-1">

                                        <div *ngIf="!item.activity_id">
                                            {{item.description}}
                                        </div>
                                        <div *ngIf="item.activity_id">
                                            {{item.points?.description}}
                                        </div>
                                        <div class="tiny-text color-grey">
                                            {{item.created_at | date}}
                                        </div>
                                    </div>
                                    <div class="flex-item text-right">
                                        <app-status-label *ngIf="item.type=='credit'" [class]="'best'" [label]="'+ '+item.value"></app-status-label>
                                   <app-status-label *ngIf="item.type=='debit'"  [class]="'bad'" [label]="'- '+item.value"></app-status-label>

                                   <app-status-label *ngIf="item.type=='refund'" [class]="'cancel'" [label]="'Refund '+item.value"></app-status-label>
                                    </div>
                                </div>
                            </div>
                        </app-card>
                      

                        <app-card is_expand="true" [title]="'Reward'">
                            <div class="list-tile-container">
                                <div *ngFor="let item of ticket.member?.reward"
                                    class="list-tile-item flex-container align-center">
                                    <div class="flex-item flex-1">
                                        <div *ngIf="!item.community_reward_id"> {{item.name}} </div>
                                        <div *ngIf="item.community_reward_id"> {{item.reward?.name}} </div>

                                        <div class="tiny-text color-grey">


                                            <div *ngIf="!item.community_reward_id"> {{item.description}} </div>
                                            <div *ngIf="item.community_reward_id"> {{item.reward?.description}} </div>

                                        </div>
                                    </div>
                                    <div class="flex-item text-right">

                                        <app-status-label [label]="item.status"></app-status-label>

                                    </div>
                                </div>
                            </div>
                        </app-card>
                       



                    </div>
                    <div class="medium-8 columns">

                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 70vh;">
                            <div class="flex-container align-center margin-bottom-1">
                                <div class="flex-item flex-1">
                                    <h3 class="margin-bottom-0">Discussion</h3>



                                </div>
                                <div class="flex-item text-right">

                                </div>
                            </div>
                            <div class="margin-bottom-1">

                                <textarea [(ngModel)]="message" name="" id="" cols="30" rows="2"></textarea>
                                <button [disabled]="!message" (click)="addTicketDiscussion()" class="button tiny">Send</button>

                            </div>
                            <div *ngFor="let item of ticket.discussion">
                                <div class="flex-container">
                                    <div class="flex-item margin-right-05">
                                        <img class="avatar-image" src="https://placehold.co/200x200" alt="">
                                    </div>
                                    <div class="flex-item flex-1">
                                        <div class="callout padding-center-1 rounded border medium-grey-bg margin-bottom-1">


                                            <div class="flex-container">
                                                <div class="flex-item flex-1">
                                                    <div *ngIf="item.account_id">
                                                        {{item.account?.first_name}}
                                                    </div>
                                                    <div *ngIf="item.community_member_id">
                                                        {{item.member?.first_name}}
                                                    </div>
                                                </div>
                                                <div class="flex-item small-text color-grey">
                                                    {{item.created_at | date}}

                                                </div>
                                            </div>
                                            {{item.message}}
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">
                    <h3 class="margin-bottom-1">Member Campaign</h3>

                    <div *ngFor="let item of ticket.member?.campaign    " class="list-tile-container large-text">
                        <div class="list-tile item flex-container border-bottom">
                            <div class="flex-item flex-1">
                                {{item.campaign?.campaign_name}}
                                <div class="color-grey">
                                    {{item.campaign?.start_date | date}}
                                </div>
                            </div>
                            <div class="flex-item flex-1 text-right">
                                <app-status-label [label]="item.status"></app-status-label>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</app-body>