<app-body>
    
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Employee</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addEmployeeModal')"
                                        class="button rounded  small">+ Add Employee</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <app-table-action [sortListItems]="sortListItems"></app-table-action>

            <div *ngIf="employee" class="fade-in">
                <div *ngIf="employee.length !== 0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">
    
    
                            <div class="flex-item flex-15">
                            

                                    <app-table-sort [type]="'number'"  (onChange)="employee" [data]="employee" [key]="'first_name'">
                                       Name
                                     </app-table-sort>
                            </div>
    
    
                            <div class="flex-item flex-1">
                                Division
                            </div>
    
    
                            <div class="flex-item flex-1">
                                Experience
                            </div>
    
                            <div class="flex-item flex-1">
                                Education
                            </div>
    
                            <div class="flex-item flex-1">
                            



                                    <app-table-sort [type]="'number'"  (onChange)="employee" [data]="employee" [key]="'total_performance'">
                                        Performance
                                      </app-table-sort>
                            </div>
    
    
    
    
    
                            <div class="flex-item flex-1">
                                <app-table-sort [type]="'number'"  (onChange)="employee" [data]="employee" [key]="'status'">
                                    Status
                                  </app-table-sort>
                            </div>
    
    
    
    
                        </div>
                    </div>
                    <div class="table-body ">
                        <div *ngFor="let item of employee"
                            class="flex-container table-body-item align-center">
    
    
    
    
                            <div  (click)="_navigateTo(item.id)"  class="flex-item flex-15 cursor">
                                <div class="flex-container align-center">
                                    <div class="flex-item margin-right-05">
                                        <div class="avatar-container" >
                                            <img *ngIf="item.profile_photo_url"
                                                class="avatar-image" [src]="item.profile_photo_url" alt="">
    
                                            <div *ngIf="!item.profile_photo_url"
                                               
                                                class="avatar-placeholder">
                                                {{ getPlaceholderName(item)}}
                                            </div>
                                        </div> 
    
    
    
    
    
                                    </div>

                                    
                                    <div class="flex-item flex-1">
                                        <div>
                                            {{item.first_name | titlecase}} {{item.last_name | titlecase}}
                                        </div>
    
    
                                        <div class="tiny-text color-grey">
                                           {{item.age}}, {{item.location | titlecase}}
                                        </div>
                                    </div>
    
    
                                </div>
    
                            </div>
    
    
                            <div class="flex-item flex-1">
                                {{item.position}}
                            </div>
    
    
    
                            <div class="flex-item flex-1">
                                <div *ngIf="item.experience.length>0">
                                    <fa-icon [icon]="faBriefcase"></fa-icon> {{item.experience[0]?.industry | titlecase}} ,
                                    {{item.experience[0]?.position}}
                                    <div class="tiny-text color-grey">{{item.experience[0]?.start_date | date}} - {{item.experience[0]?.end_date | date}}</div>
                                </div>

                                <div *ngIf="item.experience.length == 0">
                                   -
                                </div>
                                
    
                            </div>
    
                            <div class="flex-item flex-1">
                                <div *ngIf="item.education?.length >0">
                                    <fa-icon [icon]="faGraduationCap"></fa-icon> {{item.education[0]?.education_level | titlecase}},
                                    {{item.education[0]?.major | titlecase}}
                                    <div class=" tiny-text color-grey"> {{item.education[0]?.education_name}}</div>
                                </div>

                                <div *ngIf="item.education?.length ==0">
                                  -
                                </div>
                                
    
                            </div>
    
                            <div class="flex-item flex-1">
                               
                                <app-status-label [class]="item.total_performance" [label]="item.total_performance"></app-status-label>
                            </div>
    
    
    
    
    
                            <div class="flex-item flex-1">
                             
                                <app-status-label [class]="item.status" [label]="item.status" [option]="employee_status"   (onSelect)="updateEmployee($event,item.id)"></app-status-label>
                            </div>
    
                        </div>
    
                    </div>
                    <div lazyload (onShown)="loadMore()"></div>
    
                </div>
                 
                <app-placeholder *ngIf="employee.length === 0"></app-placeholder>

            </div>








        </div>

    </div>
    <app-modal title="Add Employee" (onClose)="closeModal()" *ngIf="showModal == 'addEmployeeModal'">

        <form class="form margin-bottom-1" [formGroup]="employeForm">


            <label for="">First Name</label>
            <input formControlName="first_name" type="text" name="" id="">

            <label for="">Last Name</label>
            <input formControlName="last_name" type="text" name="" id="">

           

         <div class="margin-bottom-1">
            <label for="">Domicile</label>
        

            <app-form-select [label]="'City'" [option]="city_list" (onSelect)="selectCity($event)"
            (onSearch)="searchCity($event)"></app-form-select>

         </div>

            <label for="">Day of Birth</label>
            <input formControlName="dob" type="date" name="" id="">

            <label for="">Division</label>
         

            <select formControlName="position">
                <option *ngFor="let item of divisi" [value]="item">{{item}}</option>
            </select>

            <label for="">Phone</label>
            <input formControlName="phone" type="number" name="" id="">

            <label for="">Email</label>
            <input formControlName="email" type="email" name="" id="">

        </form>
       <div footer>
        <div class="flex-container">
            <div class="flex-item flex-1 margin-right-05">
        <button [disabled]="!employeForm.valid" (click)="addEmployee(false)" class="button expanded active clear hollow">Add Employee</button>

            </div>
            <div class="flex-item flex-1 margin-right-05">
                <button [disabled]="!employeForm.valid" (click)="addEmployee(true)" class="button expanded">Add & Continue</button>

            </div>
        </div>
       </div>
    </app-modal>

</app-body>