<app-table-action>
    <button (click)="addPostCategory()" class="button small clear active rounded hollow">
        + Add {{tab_view | titlecase   }}
    </button>
</app-table-action>

<div *ngIf="category">
    <app-placeholder *ngIf="category.length ===0"></app-placeholder>
    <div *ngIf="category.length !==0">
        <div class="table-header">
            <div class="flex-container table-header-item">


                <div class="flex-item flex-1">
                    Name
                </div>




                <div class="flex-item flex-1">
                    Description
                </div>

                <div class="flex-item flex-1 text-right">
                    Action
                </div>









            </div>
        </div>
        <div class="table-body ">
            <div *ngFor="let item of category" class="flex-container cursor table-body-item align-center">

                <div class="flex-item flex-1">

                    <app-form-input isHideLabel="true" [isHideAction]="true" [label]="'Name'" [id]="'name'"
                        [value]="item.name" (onClose)="updatePostCategory(item.id,$event)">
                    </app-form-input>
                </div>




                <div class="flex-item flex-1">


                    <app-form-input isHideLabel="true" [isHideAction]="true" [label]="'Description'" [id]="'description'"
                        [value]="item.description" (onClose)="updatePostCategory(item.id,$event)">
                    </app-form-input>
                </div>

                <div class="flex-item flex-1 text-right">
                    <app-remove-button (onClick)="deletePostCategory(item.id)">
                        <button class="button tiny clear active ">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                    </app-remove-button>
                </div>





            </div>

        </div>
    </div>

</div>