.progress-container{
    position: relative;
  
    width: 100%;
   
    height: 1rem;
    .progress-goal{
        padding: 3px;
        background: white;
        position: absolute;
        left: 0;
        bottom: 0;
        background: black;
    
        width: 100%;
        border-radius: 10px;
      
    }
    .progress-content{
        padding: 3px;
        background:  rgb( 127, 119, 241 );
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 10px;
     
      
    }
    .progress-value{
        
       font-size: 12px;
      padding-left: 5px;
        position: absolute;
      
        top: -7px;
     
      
    }

    .animate {
        animation:p 0.5s .3s both;
      }

      @keyframes p {
        from{width: 0}
      }
}