<app-body [hideNav]="true">
    <div *ngIf="campaign" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container ">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/community/campaign/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Campaign
                    </a>
                </div>

                <div class="callout padding-center border rounded medium-grey-bg margin-bottom-1">



                    <div class="flex-container">

                        <div class="flex-item flex-2">

                            <div class="margin-bottom-1">
                                <app-form-input [isHideAction]="true" [isHideLabel]="true" class="mega-text"
                                    [label]="'Description'" [value]="campaign.campaign_name" [id]="'campaign_name'"
                                    (onClose)="updateCommunityCampaign($event)"></app-form-input>

                                <app-form-input class="large-text color-grey" [isHideAction]="true" [isHideLabel]="true"
                                    [label]="'Description'" [value]="campaign.description" [id]="'description'"
                                    (onClose)="updateCommunityCampaign($event)"></app-form-input>
                            </div>


                            <div class="row medium-up-4">

                                <div class="columns">
                                    <div class="small-text color-grey">Total Participant</div>


                                    <div>{{campaign.total_participant}} <span class="span-label Macro"
                                            *ngIf="campaign.total_participant > campaign.quota">Quota Overlimit</span>
                                    </div>


                                </div>

                                <div class="columns">
                                    <div class="small-text color-grey">Community</div>


                                    <div>{{campaign.community_name}} </div>


                                </div>



                                <div class="columns">
                                    <app-form-input [isHideAction]="true" [type]="'number'" [label]="'Quota'"
                                        [value]="campaign.quota" [id]="'quota'"
                                        (onClose)="updateCommunityCampaign($event)"></app-form-input>



                                </div>


                                <div class="columns">
                                    <div class="small-text color-grey">Status</div>

                                    <app-status-label [label]="campaign.status"></app-status-label>


                                </div>

                            </div>

                        </div>
                        <div class="flex-item">
                            <app-remove-button (onClick)="updateStatus('on_going')" >
                                <app-tooltips *ngIf="campaign.status == 'open_registration'" [text]="'Setelah campaign dimulai, member tidak dapat bergabung / ditambahkan. semua member yang statusnya tidak di-approve akan otomatis ditolak'" isNotif="true">
                                    <button 
                                    class="button small">Start Campaign</button>
                                </app-tooltips>
                                
                            </app-remove-button>
                           

                            <app-remove-button (onClick)="updateStatus('open_registration')" >
                                <app-tooltips *ngIf="campaign.status == 'draft'" [text]="'Setelah campaign dipublish, member dapat bergabung atau ditambahkan kedalam campaign'" isNotif="true">
                                    <button 
                                    class="button small">Publish Campaign</button>
                                </app-tooltips>
                            </app-remove-button>
                          
                            <app-remove-button (onClick)="updateStatus('complete')" >
                                <app-tooltips *ngIf="campaign.status == 'on_going'" [text]="'Setelah campaign selesai, semua member yang bergabung dengan status approve akan mendapatkan reward/points'" isNotif="true">
                                    <button 
                                    class="button small">End Campaign</button>
                                </app-tooltips>
                                
                            </app-remove-button>

                          
                            <div>

                            </div>

                        </div>



                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <app-card class="large-text" title="Campaign Details">

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Client'" [value]="campaign.client" [id]="'client'"
                                    (onClose)="updateCommunityCampaign($event)"></app-form-input>
                            </div>




                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [type]="'date'" [label]="'Start Date'" [value]="campaign.start_date"
                                    [id]="'start_date'" (onClose)="updateCommunityCampaign($event)"></app-form-input>
                            </div>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [type]="'date'" [label]="'Start Date'" [value]="campaign.end_date"
                                    [id]="'end_date'" (onClose)="updateCommunityCampaign($event)"></app-form-input>
                            </div>
                        </app-card>




                    </div>

                    <div class="medium-8 columns">

                        <app-card title="Participant" [is_add]="_getStatus()" (onAdd)="openModal('addParticipantModal')">
                            <div>
                                <div *ngFor="let item of campaign.participant"
                                    class="callout padding-center-1 border flex-container rounded large-text margin-bottom-05">
                                    <div class="flex-1">
                                        {{item.member?.first_name | titlecase}} {{item.member?.last_name | titlecase}}
                                        <div class="cursor color-grey" (click)="goToInstagram(item)">
                                            Intagram : {{item.member?.instagram_account}}
                                            <span>
                                                <fa-icon [icon]="faExpandAlt"></fa-icon>
                                            </span>
                                        </div>
                                        <span class="color-grey">{{item.member?.instagram_follower}} Follower</span>
                                    </div>



                                    <div class="text-right margin-right-05">
                                        <div *ngIf="!item.reward_redeem_id || !item.points_activity_id"
                                            class="margin-bottom-1">
                                            <app-status-label
                                                [class]="item.status"
                                                [disabled]="campaign.status !=='open_registration'"
                                                [label]="item.status" [option]="participant_status"
                                                (onSelect)="updateCommunityCampaignMember($event,item.id)">
                                            </app-status-label>
                                        </div>

                                        <div *ngIf="item.status == 'approve'" class="text-right">


                                            <!-- <button
                                                *ngIf="!item.reward_redeem_id || !item.points_activity_id"
                                                (click)="addMemberReward(item);addCampaignPoints(item)"
                                                class="button tiny  white margin-bottom-0">Set as Winner</button> -->

                                            <app-status-label [class]="'confirm'"
                                                *ngIf="item.reward_redeem_id || item.points_activity_id"
                                                [label]="'Winner'"></app-status-label>


                                        </div>


                                    </div>

                                </div>
                            </div>
                        </app-card>





                    </div>


                </div>




            </div>




        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">
                    <app-note (afterSubmit)="ngOnInit()" [id]="'community_campaign_id'" [value]="campaign.id"
                        [note]="campaign.note"></app-note>


                </div>
            </div>
        </div>
    </div>

    <app-modal *ngIf="showModal == 'addParticipantModal'" (onClose)="closeModal()" [title]="'Add Participant'">
        <app-form-search (onSearch)="getMember($event)"></app-form-search>
        <div *ngIf="member" class="table-body ">



            <div *ngFor="let item of member" class="flex-container table-body-item align-center">



                <div class="flex-item flex-2 cursor">


                    <div class="flex-container align-center">
                        <div class="flex-item margin-right-05">
                            <div class="avatar-container" style="width: 60px;height: 60px;">
                                <img style="width: 60px;height: 60px;" *ngIf="item.profile_photo_url"
                                    class="avatar-image" [src]="item.profile_photo_url" alt="">

                                <div *ngIf="!item.profile_photo_url" style="width: 60px;height: 60px;line-height: 60px;"
                                    class="avatar-placeholder">
                                    {{ getPlaceholderName(item)}}
                                </div>
                            </div>



                        </div>
                        <div class="flex-item flex-1">
                            <div>
                                {{item.first_name}} {{item.last_name}}
                                <div>
                                    {{item.instagram_account}}
                                </div>
                            </div>



                        </div>

                    </div>
                </div>




                <div class="flex-item text-right">

                    <button [disabled]="item.isAdded" (click)="addToCampaign(item)" class="button active tiny clear">
                        {{item.isAdded?'Added!':'+ Add'}}

                    </button>


                </div>


            </div>

        </div>

    </app-modal>

</app-body>