.card-container{
    background: #050607a8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 3% 0;
    z-index: 99999999999999;

    
    .card-content{
        width: 100vh;
        margin-left: auto;
        margin-right: auto;
        animation: zoom 0.2s;
       
        background: rgb( 42, 46, 52 ) !important;
        box-shadow: 0 2px 16px #0006;
        min-height: 80vh;
        border-radius: 12px;
        &.half{
            width: 50vh;
        }

        .title{
            font-size: 20px;
            font-weight: 600;
            color: rgb(240, 241, 243) !important
        
        }

        .card-body{
            min-height: 400px;
           // max-height: unset !important;
            max-height: 600px;
             overflow: auto;
            
             scrollbar-width: none;
         }
        
   
    }
}

.card-content{
    border-radius: 12px;
    border: 1px solid rgb( 60, 65, 74 )!important;
    position: relative;
}


.card-body{
    min-height: 350px;
    position: relative;
    

    &.is_expanded{
        min-height: 350px;
        max-height: 350px;
        overflow-y: auto;
       
        scrollbar-width: none;
    }
    &.is_fullheigth{
        min-height: 80vh  !important;
        max-height: 80vh  !important;
    }

    padding: 0 1.5rem;
    padding-bottom: 4rem;

  
}
.shadow{
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
   // background: rgba(0, 0, 0, 0.29);
   background: rgb(48,53,60);
   background: linear-gradient(0deg, rgb(41, 45, 51) 0%, rgba(48,53,60,0) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.card-header{
    padding:1.5rem;
   
}


.clear_bg{
    background: unset  !important;
}
.margin-left-02{
    margin-left: 2px;
}
.title{
    font-size: 16px;
    font-weight: 600;
    color: rgb(240, 241, 243) !important

}


.zoom-in {
    animation: zoom 0.2s;
  }
  
  @keyframes zoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }
  