<app-body [hideNav]="true">
    <div *ngIf="employee" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container border-bottom">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/channel/employee/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Employee
                    </a>
                </div>

                <div class="callout padding-center border rounded medium-grey-bg margin-bottom-1">
                    <div class="margin-bottom-1">
                        <h1>{{employee.first_name}} {{employee.last_name}}</h1>

                    </div>


                    <div class="flex-container align-center">
                        <!-- <div class="flex-item  margin-right-2">
                            <img style="width: 130px;height: 130px;" class="avatar-image"
                                src="https://placehold.co/200x200" alt="">

                         

                        </div> -->
                        <div class="flex-item flex-2 margin">


                            <div class="row medium-up-4">
                                <div class="columns">

                                    <app-form-input class="huge-text" [isHideAction]="true" [type]="'date'"
                                        [label]="'Join Date'" [value]="employee.join_date" [id]="'join_date'"
                                        (onClose)="updateEmployee($event)"></app-form-input>
                                </div>
                                <div class="columns">

                                    <app-form-input class="huge-text" [isHideAction]="true" [label]="'Division'"
                                        [value]="employee.position" [id]="'position'"
                                        (onClose)="updateEmployee($event)"></app-form-input>
                                </div>
                                <div class="columns">
                                    <div class="large-text color-grey">Age</div>
                                    <div class="huge-text">
                                        {{employee.age}}
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="small-text color-grey">Status</div>

                                    <app-status-label [class]="employee.status" [label]="employee.status" [option]="employee_status"
                                        (onSelect)="updateEmployee($event)"></app-status-label>


                                </div>

                            </div>

                        </div>



                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">

                        <app-card [title]="'Personal Information'">
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [type]="'date'" [label]="'Day of Birth'" [value]="employee.dob"
                                    [id]="'dob'" (onClose)="updateEmployee($event)"></app-form-input>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Marital Status'" [value]="employee.marital_status"
                                    [id]="'marital_status'" (onClose)="updateEmployee($event)"></app-form-input>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Religion'" [value]="employee.religion"
                                    [id]="'religion'" (onClose)="updateEmployee($event)"></app-form-input>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Email'" [value]="employee.email" [id]="'email'"
                                    (onClose)="updateEmployee($event)"></app-form-input>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [type]="'number'" [label]="'Phone'" [value]="employee.phone"
                                    [id]="'phone'" (onClose)="updateEmployee($event)"></app-form-input>
                            </div>



                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Address'" [value]="employee.address" [id]="'address'"
                                    (onClose)="updateEmployee($event)"></app-form-input>
                            </div>

                        </app-card>


                        <app-card [title]="'Legal Document'">
                            <div  class="list-tile-container">
                                <div class="list-tile-item">
                                    <app-form-input [type]="'currency'" [label]="'Salary'"
                                        [value]="employee.salary_value" [id]="'salary_value'"
                                        (onClose)="updateEmployee($event)"></app-form-input>
                                </div>

                                <div *ngIf="employee.salary_value"  class="list-tile-item">
                                    <div class="flex-container">
                                        <div class="flex-item flex-1">
                                            Salary Document
                                        </div>
                                        <div class="flex-item">
                                            <input class="hide" type="file" (change)="onChange($event,'salary_image_url')" #fileUploadImage />
    
                                            <button (click)="fileUploadImage.click()" class="button tiny clear active margin-right-02">{{employee.salary_image_url?'Update':'Upload'}}</button>
                                            <button (click)="download(employee.salary_image_url)" *ngIf="employee.salary_image_url" class="button tiny clear active">Download</button>
                                        </div>
                                    </div>
                                </div>


                                <div class="list-tile-item">
                                    <app-form-input [type]="'number'" [label]="'KTP'" [value]="employee.ktp"
                                        [id]="'ktp'" (onClose)="updateEmployee($event)"></app-form-input>
                                </div>

                                <div *ngIf="employee.ktp" class="list-tile-item">
                                    <div class="flex-container">
                                        <div class="flex-item flex-1">
                                            KTP Image
                                        </div>
                                        <div class="flex-item">
                                            <input class="hide" type="file" (change)="onChange($event,'ktp_image_url')" #fileUploadImage />
    
                                            <button (click)="fileUploadImage.click()" class="button tiny clear active margin-right-02">{{employee.ktp_image_url?'Update':'Upload'}}</button>
                                            <button (click)="download(employee.ktp_image_url)" *ngIf="employee.ktp_image_url" class="button tiny clear active">Download</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'number'" [label]="'NPWP'" [value]="employee.npwp"
                                        [id]="'npwp'" (onClose)="updateEmployee($event)"></app-form-input>
                                </div>

                                <div *ngIf="employee.npwp" class="list-tile-item">
                                    <div class="flex-container">
                                        <div class="flex-item flex-1">
                                            NPWP Image
                                        </div>
                                        <div class="flex-item">
                                            <input class="hide" type="file" (change)="onChange($event,'npwp_image_url')" #fileUploadImage />
    
                                            <button (click)="fileUploadImage.click()" class="button tiny clear active margin-right-02">{{employee.npwp_image_url?'Update':'Upload'}}</button>
                                            <button (click)="download(employee.npwp_image_url)" *ngIf="employee.npwp_image_url" class="button tiny clear active">Download</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-tile-item">
                                    <div class="flex-container">
                                        <div class="flex-item flex-1">
                                            CV Image
                                        </div>
                                        <div class="flex-item">
                                            <input class="hide" type="file" (change)="onChange($event,'cv_image_url')" #fileUploadImage />
    
                                            <button (click)="fileUploadImage.click()" class="button tiny clear active margin-right-02">{{employee.cv_image_url?'Update':'Upload'}}</button>
                                            <button (click)="download(employee.cv_image_url)" *ngIf="employee.cv_image_url" class="button tiny clear active">Download</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [label]="'Bank'" [value]="employee.bank_account"
                                        [id]="'bank_account'" (onClose)="updateEmployee($event)"></app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'number'" [label]="'BPJS'" [value]="employee.bpjs"
                                        [id]="'bpjs'" (onClose)="updateEmployee($event)"></app-form-input>
                                </div>
                            </div>
                        </app-card>


                    </div>

                    <div class="medium-8 columns">

                        <app-card [title]="'Performance'">
                            <div *ngIf="employee.performance.length == 0" class="padding-center text-center">
                                <button (click)="generatePerformance()" class="button clear active">Generate
                                    Performance</button>

                            </div>


                            <div *ngIf="employee.performance.length > 1">
                                <div *ngFor="let item of employee.performance">
                                    <div class="padding-bottom-05 margin-bottom-05  form-mini">
                                        <app-form-input [placeholder]="'Score 0 - 100'" [isProgress]="true"
                                            [type]="'number'" [label]="item.performance_name"
                                            [value]="item.performance_score" [id]="item.id"
                                            (onClose)="updateEmployeePerformance($event)"></app-form-input>
                                    </div>
                                </div>
                            </div>
                        </app-card>



                        <div class="flex-container">
                            <div class="flex-item flex-1 margin-right-2">

                                <app-card [is_add]="true" is_expand="true" [title]="'Education'"
                                    (onAdd)="openModal('addEducationModal')">
                                    <div *ngIf="employee.education?.length !== 0">
                                        <div class="list-tile-container">
                                            <div *ngFor="let item of employee.education"
                                                class="list-tile-item flex-container hover-show">

                                                <div class="flex-item flex-1">
                                                    <div>{{item.education_level}}, {{item.major}}</div>


                                                    <div class="small-text color-grey">{{item.education_name}}</div>
                                                </div>
                                                <div class="flex-item flex-05 text-right">
                                                    {{item.graduate_year}}
                                                    <app-remove-button (onClick)="deleteEmployeeEducation(item)">
                                                        <button class="button tiny clear active margin-left-05 hide">
                                                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                                                        </button>


                                                    </app-remove-button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <app-placeholder *ngIf="employee.education?.length == 0"
                                        [message]="'Information about employee education'"></app-placeholder>
                                </app-card>

                            </div>
                            <div class="flex-item flex-1 ">
                                <app-card [is_add]="true" is_expand="true" [title]="'Experience'"
                                    (onAdd)="openModal('addExperienceModal')">
                                    <div class="list-tile-container">
                                        <div *ngIf="employee.experience?.length !== 0">
                                            <div *ngFor="let item of employee.experience"
                                                class="list-tile-item flex-container hover-show">

                                                <div class="flex-item flex-1">
                                                    <div>{{item.company_name}}, {{item.industry}}</div>


                                                    <div class="small-text color-grey">{{item.position}}</div>
                                                </div>
                                                <div class="flex-item flex-1 text-right">
                                                    <div class="color-grey small-text"> {{item.start_date | date}} -
                                                        {{item.end_date |date}}</div>
                                                    <app-remove-button (onClick)="deleteEmployeeExperience(item)">
                                                        <button class="button tiny clear active margin-left-05 hide">
                                                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                                                        </button>

                                                    </app-remove-button>



                                                </div>

                                            </div>
                                        </div>

                                        <app-placeholder *ngIf="employee.experience?.length == 0"
                                            [message]="'Information about employee working experience'">
                                        </app-placeholder>
                                    </div>
                                </app-card>

                            </div>
                        </div>






                    </div>


                </div>




            </div>




        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">

                    <app-note (afterSubmit)="ngOnInit()" [id]="'employee_id'" [value]="employee.id"
                        [note]="employee.note"></app-note>


                </div>
            </div>
        </div>
    </div>


    <app-modal title="Add Education" (onClose)="closeModal()" *ngIf="showModal == 'addEducationModal'">
        <form class="form margin-bottom-1" [formGroup]="educationForm">


            <label for="">Education Level</label>

            <select formControlName="education_level">
                <option value="Master">Master</option>
                <option value="Diploma">Diploma</option>
                <option value="Senior">Senior</option>
                <option value="Junior">Junior</option>
            </select>



            <label for="">University / School Name</label>
            <input formControlName="education_name" type="text" name="" id="">

            <label for="">Major</label>
            <input formControlName="major" type="text" name="" id="">

            <label for="">Graduate Year</label>
            <input formControlName="graduate_year" type="number" name="" id="">





        </form>
        <button [disabled]="!educationForm.valid" (click)="addEmployeeEducation()" class="button expanded">Add
            Education</button>
    </app-modal>
    <app-modal title="Add Experience" (onClose)="closeModal()" *ngIf="showModal == 'addExperienceModal'">

        <form class="form margin-bottom-1" [formGroup]="experienceForm">


            <label for="">Company Name</label>
            <input formControlName="company_name" type="text" name="" id="">

            <label for="">Industry</label>
            <input formControlName="industry" type="text" name="" id="">

            <label for="">Position</label>
            <input formControlName="position" type="text" name="" id="">

            <label for="">Start Date</label>

            <input formControlName="start_date" type="date" name="" id="">

            <label for="">End Date</label>

            <input formControlName="end_date" type="date" name="" id="">









        </form>
        <button [disabled]="!experienceForm.valid" (click)="addEmployeeExperience()" class="button expanded">Add
            Experience</button>
    </app-modal>


</app-body>