.row{
    max-width: 76rem;
}
.share{
    position: absolute;
    top: 25px;
    z-index: 99;
    right: 0;
    width: auto;
    min-width: 200px;
    padding: 0.5rem !important;
    background: rgb( 42, 46, 52 );
    box-shadow: 0 2px 16px #0006;
}