<app-top-navigation-newsfeed></app-top-navigation-newsfeed>



<div class="padding-center fullheight">

    <div class="row">

        <div class="medium-3 show-for-medium columns" style="top: 5rem;position: sticky;">

            <div class="callout border padding-center medium-grey-bg rounded margin-bottom-1">
                <h5>Announcement!

                </h5>
                <div class="small-text">
                    Eden moderators will take actions for posts that are having the wrong category and posts that
                    are
                    too
                    "out of topic" or "nothing to do" with Eden.
                </div>
            </div>



            <div class="callout padding-center border medium-grey-bg rounded">
                <h5>Category</h5>

                <div *ngIf="category" class="list-tile-container">
                    <div (click)="navigateToCat(item.name)" class="list-tile-item cursor" *ngFor="let item of category">
                        {{item.name | titlecase}}
                    </div>
                </div>
            </div>
        </div>
        <div class="medium-6 columns">
            <app-news-post [post_id]="this.post_id" *ngIf="is_post_view"></app-news-post>
            <div style="min-height: 70vh;" *ngIf="!is_post_view">

                <div class="margin-bottom-1" *ngIf="selected_category">
                   <div class="margin-bottom-05">
                    <a class="white" [routerLink]="['/newsfeed']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Home
                    </a>
                   </div>
                    <h1>Post in {{selected_category | titlecase}}</h1>
                </div>


                <app-tab-menu [tab_menu_list]="tab_menu_list">
                    <li class="show-for-medium" style=" margin-left: auto;"> <button *ngIf="keyword_filter"
                            (click)="togglePostForm()" class="button small clear active hollow expanded">+ Add New
                            Post</button></li>
                </app-tab-menu>

              


                <button *ngIf="keyword_filter" (click)="togglePostForm()"
                    class="button small show-for-small-only clear active hollow expanded">+ Add New Post</button>


                <div *ngIf="isShowForm"
                    class="callout border padding-center form medium-grey-bg rounded margin-bottom-1">
                    <div class="flex-container">
                        <div class="flex-item margin-right-05">
                            <img class="avatar-image" src="https://placehold.co/200x200" alt="">
                        </div>

                        <div class="flex-item flex-1">
                            <div class="margin-bottom-1">
                                <input [(ngModel)]="postBody.title" placeholder="write a headline" type="text">
                                <textarea [(ngModel)]="postBody.description" placeholder="whats in your mind" name=""
                                    id="" cols="30" rows="3"></textarea>


                                <app-form-multiple-select [label]="'Category'" (onSelect)="selectCategory($event)"
                                    [option]="category_option">
                                </app-form-multiple-select>

                            </div>
                            <div class="text-right">
                                <button (click)="addPost()"
                                    class="button rounded">{{author_account?'Post as ' + author_account.first_name:'Post as Guest' }}</button>
                            </div>



                        </div>


                    </div>


                </div>
                <div *ngIf="isLoading">
                    <div class="callout border  padding-center medium-grey-bg rounded margin-bottom-05">
                        <div class="flex-container">
                            <div class="flex-item margin-right-05">
                                <div class="avatar-image loading"></div>
                            </div>

                            <div class="flex-item flex-1">
                                <div class="loading margin-bottom-05 small-text" style="width: 75px;">.</div>
                                <div class="loading small-text margin-bottom-1" style="width: 170px;">.</div>

                            </div>
                        </div>
                        <div class="loading margin-bottom-05 small-text" style="width: 100%;height: 50px;">.</div>
                    </div>
                    <div class="callout border padding-center medium-grey-bg rounded margin-bottom-05">
                        <div class="flex-container">
                            <div class="flex-item margin-right-05">
                                <div class="avatar-image loading"></div>
                            </div>

                            <div class="flex-item flex-1">
                                <div class="loading margin-bottom-05 small-text" style="width: 75px;">.</div>
                                <div class="loading small-text margin-bottom-1" style="width: 170px;">.</div>

                            </div>
                        </div>
                        <div class="loading margin-bottom-05 small-text" style="width: 100%;height: 50px;">.</div>
                    </div>

                    <div class="callout  padding-center medium-grey-bg rounded margin-bottom-05">
                        <div class="flex-container">
                            <div class="flex-item margin-right-05">
                                <div class="avatar-image loading"></div>
                            </div>

                            <div class="flex-item flex-1">
                                <div class="loading margin-bottom-05 small-text" style="width: 75px;">.</div>
                                <div class="loading small-text margin-bottom-1" style="width: 170px;">.</div>

                            </div>
                        </div>
                        <div class="loading margin-bottom-05 small-text" style="width: 100%;height: 50px;">.</div>
                    </div>

                </div>




                <div *ngIf="!isLoading">


                    <div *ngIf="post">
                        <app-placeholder *ngIf="post?.length == 0"></app-placeholder>
                        <div *ngIf="post.length !== 0">
                            <div *ngFor="let item of post"
                                class="callout border elevate padding-center-1 medium-grey-bg rounded margin-bottom-05">


                                <div (click)="navigateTo(item.id)"
                                    class="post-header cursor large-text margin-bottom-1">
                                    <div class="flex-container align-center">
                                        <div class="flex-item margin-right-05">
                                            <img class="avatar-image" src="https://placehold.co/200x200" alt="">
                                        </div>
                                        <div class="flex-item flex-1">
                                            <div (click)="navigateTo(item.id)" class="cursor huge-text">
                                                {{item.title}}
                                            </div>

                                            <div *ngIf="!item.author && !item.account">
                                                Anonymous
                                                , <span class="color-grey small-text">{{item.created_at | date}}</span>
                                            </div>

                                            <div *ngIf="item.author">
                                                {{item.author?.first_name}}
                                                {{item.author?.last_name}}
                                                , <span class="color-grey small-text">{{item.created_at | date}}</span>
                                            </div>

                                            <div *ngIf="item.account">
                                                {{item.account?.first_name}}
                                                {{item.account?.last_name}}
                                                <span class=" span-label">Admin</span> , <span
                                                    class="color-grey small-text">{{item.created_at | date}}</span>
                                            </div>
                                        </div>
                                        <!-- <div class="flex-item">
                                            <fa-icon class="cursor" [icon]="faEllipsisV"></fa-icon>
                                        </div> -->
                                    </div>
                                </div>

                                <!-- <div class="featured_image margin-bottom-05">
                                <img src="https://placehold.co/600x300" alt="">
                            </div> -->

                                <div (click)="navigateTo(item.id)" class="huge-text cursor margin-bottom-1">
                                    {{item.description}}
                                </div>

                                <div class="flex-container align-center">
                                    <div class="flex-item flex-1">
                                        <span (click)="navigateToCat(item.category.name)"
                                            class="span-label margin-right-02 cursor Micro"
                                            *ngFor="let item of item.category">
                                            {{item.category.name}}
                                        </span>
                                    </div>
                                    <div class="flex-item">
                                        <div class="flex-container color-grey large-text">
                                            <div class="flex-item margin-right-1">
                                                <span (click)="addReaction('like',item.id)" class="cursor">
                                                    {{item.like_count}} <fa-icon [ngClass]="{'like': item.is_like}"
                                                        [icon]="faHeart"></fa-icon>
                                                </span>

                                            </div>


                                            <div class="flex-item margin-right-1">
                                                <span (click)="addReaction('pinned',item.id)" class="cursor">
                                                    {{item.pinned_count}} <fa-icon
                                                        [ngClass]="{'pinned': item.is_pinned}" [icon]="faBookmark">
                                                    </fa-icon>
                                                </span>
                                            </div>
                                            <div class="flex-item margin-right-1">
                                                <span>
                                                    {{item.discussion_count}} <fa-icon [icon]="faComment"></fa-icon>
                                                </span>
                                            </div>

                                            <div tabindex="-1" (blur)="onBlur($event,item)" class="flex-item relative">
                                                <span class="cursor " (click)="share(item)">
                                                    <fa-icon [icon]="faShareAlt"></fa-icon> Share

                                                </span>
                                                <div *ngIf="item.isShowShare"
                                                    class=" share callout padding-center-1  border rounded white">
                                                    <ul class="menu vertical">
                                                        <li><a (click)="shareTo('whatsapp',item)">Share to Whatsapp</a>
                                                        </li>
                                                        <li><a (click)="shareTo('facebook',item)">Share to Facebook</a>
                                                        </li>
                                                        <li><a (click)="shareTo('twitter',item)">Share to Twitter</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <div class="medium-3 columns show-for-medium" style="top: 5rem;position: sticky;">
            <div class="callout border padding-center medium-grey-bg rounded margin-bottom-1">
                <h3 class="margin-bottom-1">Recommended</h3>

                <div class="list-tile-container">
                    <div *ngFor="let item of recommended_post" class="padding-bottom-1 margin-bottom-1 border-bottom">


                        <div class="post-header large-text margin-bottom-1">
                            <div (click)="navigateTo(item.id)" class="cursor huge-text ">
                                {{item.title}}
                            </div>
                            <div class="flex-container align-center margin-bottom-05">

                                <div class="flex-item flex-1">
                                    <div *ngIf="!item.author && !item.account">
                                        Anonymous
                                        , <span class="color-grey small-text">{{item.created_at | date}}</span>
                                    </div>
                                    <div *ngIf="item.author">
                                        {{item.author?.first_name}}
                                        {{item.author?.last_name}}, <span
                                            class="color-grey small-text">{{item.created_at | date}}</span>

                                    </div>

                                    <div *ngIf="item.account">
                                        {{item.account?.first_name}}
                                        {{item.account?.last_name}}
                                        <span class=" span-label">Admin</span>, <span
                                            class="color-grey small-text">{{item.created_at | date}}</span>
                                    </div>
                                </div>

                            </div>


                        </div>



                        <div class="flex-container color-grey tiny-text">
                            <div class="flex-item margin-right-1">
                                <span>
                                    {{item.like_count}} <fa-icon [ngClass]="{'like': item.is_like}" [icon]="faHeart">
                                    </fa-icon>
                                </span>

                            </div>


                            <div class="flex-item margin-right-1">
                                <span>
                                    {{item.pinned_count}} <fa-icon [ngClass]="{'pinned': item.is_pinned}"
                                        [icon]="faBookmark"></fa-icon>
                                </span>
                            </div>
                            <div class="flex-item">
                                <span>
                                    {{item.discussion_count}} <fa-icon [icon]="faComment"></fa-icon>
                                </span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<app-news-footer></app-news-footer>