<app-body [hideNav]="true">
    <div *ngIf="post" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div style="padding: 3% 10%;">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/client/newsfeed/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Newsfeed
                    </a>
                </div>

                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">
                    <div class="flex-container">
                        <div class="flex-item flex-1">
                            <h1>{{post.title}}</h1>
                        </div>
                        <div class="flex-item">
                            <app-status-label [label]="post.status" [option]="post_status"
                                (onSelect)="updatePost($event)"></app-status-label>
                        </div>
                    </div>




                    <div class="large-text margin-bottom-1">
                        <span *ngIf="post.author">
                            {{post.author?.first_name}}
                            {{post.author?.last_name}}
                            <span class=" span-label Micro">Member</span>
                        </span>
                        <span *ngIf="post.account">
                            {{post.account?.first_name}}
                            {{post.account?.last_name}}
                            <span class=" span-label Micro">Admin</span>
                        </span>


                        , <span class="color-grey small-text">{{post.created_at | date}}</span>
                    </div>

                    <div class="huge-text margin-bottom-2">
                        {{post.description}}
                    </div>

                    <div class="reaction large-text color-grey">
                        <div class="flex-container">
                            <div class="flex-item margin-right-05">
                                <span class="">
                                    {{post.like_count}} <fa-icon [icon]="faHeart"></fa-icon>
                                </span>

                            </div>


                            <div class="flex-item">
                                <span class="">
                                    {{post.pinned_count}} <fa-icon [icon]="faBookmark"></fa-icon>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">
                    <h5> {{post.discussion.length}} Discussion</h5>

                    <div class="form">
                        <textarea name="" id="" cols="30" [(ngModel)]="discussion_message" rows="3"></textarea>
                        <button [disabled]="!discussion_message" (click)="addDiscussion()" class="button small">
                            Send
                        </button>
                    </div>

                    <div class="">
                        <div *ngFor="let item of post.discussion" class="callout border-bottom flex-container">
                            <!-- <div class="flex-item margin-right-05">
                            ..
                        </div> -->

                            <div class="flex-item flex-1 large-text">
                                <div *ngIf="item.account">
                                    <div class="margin-bottom-05">{{item.account.first_name}} <span
                                            class="span-label Micro">Admin</span>, <span
                                            class="color-grey small-text">{{item.created_at | date}}</span></div>
                                </div>
                                <div *ngIf="item.author">
                                    <div class="margin-bottom-05">{{item.author.first_name}} <span
                                            class="span-label Micro">Member</span>, <span
                                            class="color-grey small-text">{{item.created_at | date}}</span></div>
                                </div>
                                <div class="large-text">{{item.message}}</div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>




        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">
                    <div class="callout padding-center-1 border rounded margin-bottom-1">
                        <div class="flex-container align-center">
                            <div class="flex-item flex-1">
                                <h5 class="margin-bottom-0">Brand</h5>

                            </div>
                            <div class="flex-item flex-1 text-right">
                                <button (click)="addTerm('brand')" class="button tiny clear active margin-bottom-0">
                                    + Add
                                </button>
                            </div>
                        </div>

                        <div class="margin-bottom-05">
                            <span class="span-label Micro margin-right-05" *ngFor="let item of post.brand">
                                {{item.brand.name}}
                            </span>
                        </div>
                    </div>
                    <div class="callout padding-center-1 border rounded margin-bottom-1">
                        <div class="flex-container align-center">
                            <div class="flex-item flex-1">
                                <h5 class="margin-bottom-0">Category</h5>

                            </div>
                            <div class="flex-item flex-1 text-right">
                                <button (click)="addTerm('category')" class="button tiny clear active margin-bottom-0">
                                    + Add
                                </button>
                            </div>
                        </div>

                        <div class="margin-bottom-05">
                            <span class="span-label Micro margin-right-05" *ngFor="let item of post.category">
                                {{item.category.name}}
                            </span>
                        </div>
                    </div>
                    <div class="callout padding-center-1 border rounded margin-bottom-1">
                        <div class="flex-container align-center">
                            <div class="flex-item flex-1">
                                <h5 class="margin-bottom-0">Tag</h5>

                            </div>
                            <div class="flex-item flex-1 text-right">
                                <button (click)="addTerm('tag')" class="button tiny clear active margin-bottom-0">
                                    + Add
                                </button>
                            </div>
                        </div>

                        <div class="margin-bottom-05">
                            <span class="span-label Micro margin-right-05" *ngFor="let item of post.tag">
                                {{item.tag.name}}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <app-modal (onClose)="closeModal()" *ngIf="showModal == 'termModal'" [title]="'Add '+term_id">
        
        <div class="margin-top-1">
           <div class="margin-bottom-1">
            <app-form-search (onSearch)="searchTerm($event)"></app-form-search>

           </div>
            <div *ngIf="term" class="list-tile-container">

                <div class="list-tile-item cursor" *ngFor="let item of term">

                    <div class="flex-container">
                        <div class="flex-item flex-1 margin-right-05">
                            {{item.name}} <span *ngIf="item.isAdded" class="span-label Nano">Added</span>
                        </div>
                        <div class="flex-item  text-right">

                            <button (click)="removeTerm(term_id,item)" *ngIf="item.isAdded"
                                class="button tiny clear active">
                                Remove
                            </button>
                            <button (click)="selectTerm(term_id,item)" *ngIf="!item.isAdded"
                                class="button tiny clear active">
                                Add
                            </button>


                        </div>
                    </div>
                </div>



            </div>
            <div *ngIf="isShowOption" class="callout text-center">
                <div class="margin-bottom-05">{{term_name | titlecase}} not found</div>
                <button (click)="addPostTerm(term_id,term_name)" class="button tiny">
                    Create and Add {{term_id | titlecase}} name '{{term_name | titlecase}}' ?
                </button>

            </div>
        </div>
    </app-modal>

</app-body>