
@media screen and (max-width: 39.9375em) {
 
    .small-container{
        background: unset !important;
        padding: 0 !important;
        border: unset !important;
        animation: page-enter-from-right .3s;
      }
      .row{
        margin: 0;
      }

      


      
  }