<app-top-navigation-client></app-top-navigation-client>
<div *ngIf="vendor" class="page-container">
    <div style="width: 76rem;" class="row">
        
        <div class="show-for-medium medium-4 columns">
            <div class="callout padding-center medium-grey-bg rounded">
                <div class="margin-bottom-1">
                    <h1>{{vendor.name}} </h1>
                    <span class="span-label">{{vendor.category?.name}}</span>

                </div>


                <div class="flex-container">
                    <div class="flex-item flex-1 margin-right-1">
                        <div class="list-tile-container">
                            <!-- <div class="list-tile-item">
                                <app-form-input [label]="'Name'" [id]="'name'" [value]="vendor.name"
                                    (onClose)="updateVendor($event,vendor.id)">
                                </app-form-input>
                            </div> -->

                            <div class="list-tile-item">
                                <app-form-input [label]="'Website'" [id]="'website'" [value]="vendor.website"
                                    (onClose)="updateVendor($event,vendor.id)">
                                </app-form-input>
                            </div>

                            <div class="list-tile-item">
                                <app-form-input [label]="'Phone'" [id]="'phone'" [value]="vendor.phone"
                                    (onClose)="updateVendor($event,vendor.id)">
                                </app-form-input>
                            </div>
                            <div class="list-tile-item">
                                <app-form-input [label]="'Adress'" [id]="'address'" [value]="vendor.address"
                                    (onClose)="updateVendor($event,vendor.id)">
                                </app-form-input>
                            </div>






                        </div>


                        <div class="list-tile-container">


                            <div class="list-tile-item">
                                <app-form-input [type]="'number'" [label]="'Hired'" [id]="'hired'"
                                    [value]="vendor.hired" (onClose)="updateVendor($event,vendor.id)">
                                </app-form-input>
                            </div>
                            <div class="list-tile-item">
                                <app-form-input [label]="'Social Media'" [id]="'social_media'"
                                    [value]="vendor.social_media" (onClose)="updateVendor($event,vendor.id)">
                                </app-form-input>
                            </div>



                        </div>
                    </div>




                </div>


            </div>

        </div>
        <div class="medium-8 columns">

            <!-- TABLE SAMPLE -->

            <div class="callout padding-center medium-grey-bg small-container rounded">
                <div class="flex-container margin-bottom-05">
                    <div class="flex-item flex-1">
                        <h1>Manage Product</h1>
                    </div>
                    <div class="flex-item text-right">
                        <button (click)="addVendorProduct()" class="button tiny clear active">+ Product</button>
                    </div>
                </div>

                <div class="show-for-medium" *ngIf="vendor.product.length !== 0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">


                            <div class="flex-item flex-1">
                                 Name

                            </div>

                            <div class="flex-item flex-1">
                                Category
                            </div>


                            <div class="flex-item flex-1">
                                Price
                            </div>
                            <div class="flex-item flex-05">
                                Stock
                            </div>


                            <div class="flex-item flex-05">

                            </div>



















                        </div>
                    </div>
                    <div class="table-body">

                        <div [ngClass]="{'long-fade-in': item.isNew}" *ngFor="let item of vendor.product"
                            class="flex-container hover-show border table-body-item">


                            <div class="flex-item flex-1">
                                <app-form-input class="margin-bottom-1" [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                    [id]="'name'" [value]="item.name" (onClose)="updateProduct($event,item.id)">
                                </app-form-input>
                                <div *ngIf="item.name" class="tiny-text color-grey"> Last Update
                                    {{item.updated_at | date}}</div>
                            </div>



                            <div class="flex-item flex-1">
                                <app-form-select [isClean]="true" [selected_option]="item.category?.name"
                                    (onSelect)="updateProduct($event,item.id)" (onSearch)="searchCategory($event)"
                                    [option]="category_option" [label]="item.category?.name"></app-form-select>
                            </div>


                            <div class="flex-item flex-1">
                                <app-form-input type="currency" [isHideLabel]="true" [isHideAction]="true"
                                    [label]="'Price'" [id]="'price'" [value]="item.price"
                                    (onClose)="updateProduct($event,item.id)">
                                </app-form-input>
                            </div>

                            <div class="flex-item flex-05">


                                <app-form-input  [isHideLabel]="true" [isHideAction]="true" [label]="'Stock'"
                                    [id]="'stock'" [value]="item.stock" (onClose)="updateProduct($event,item.id)">
                                </app-form-input>
                            </div>

                            <div class="flex-item flex-05 text-right">
                                <app-remove-button (onClick)="deleteVendorProduct(item)" >
                                    <button class="button tiny clear active">
                                        <fa-icon [icon]="faTrashAlt" ></fa-icon>
                                    </button>
                                </app-remove-button>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="padding-center show-for-small-only" *ngIf="vendor.product.length !== 0">
                  
                    <div class="">

                        <div [ngClass]="{'long-fade-in': item.isNew}" *ngFor="let item of vendor.product"
                            class=" list-tile-container callout padding-center-1 border rounded margin-bottom-05 medium-grey-bg ">


                            <div class="list-tile-item">

                                <div class="tiny-text color-grey"> Last Update {{item.updated_at | date}}</div>


                                <app-form-input   [label]="'Name'"
                                    [id]="'name'" [value]="item.name" (onClose)="updateProduct($event,item.id)">
                                </app-form-input>
                               
                            </div>



                            <div class="list-tile-item">
                                <app-form-select [isClean]="true"  [label]="'Category'"  [selected_option]="item.category?.name"
                                    (onSelect)="updateProduct($event,item.id)" (onSearch)="searchCategory($event)"
                                    [option]="category_option" [label]="item.category?.name"></app-form-select>
                            </div>


                            <div class="list-tile-item">
                                <app-form-input type="currency" 
                                    [label]="'Price'" [id]="'price'" [value]="item.price"
                                    (onClose)="updateProduct($event,item.id)">
                                </app-form-input>
                            </div>

                            <div class="list-tile-item margin-bottom-05">


                                <app-form-input    [label]="'Stock'"
                                    [id]="'stock'" [value]="item.stock" (onClose)="updateProduct($event,item.id)">
                                </app-form-input>
                            </div>

                            <div class="list-tile-itsem">
                                <app-remove-button (onClick)="deleteVendorProduct(item)" >
                                    <button class="button tiny clear active">
                                        <fa-icon [icon]="faTrashAlt" ></fa-icon> Remove
                                    </button>
                                </app-remove-button>
                            </div>


                        </div>
                    </div>
                </div>


                <app-placeholder *ngIf="vendor.product.length === 0">
                </app-placeholder>






            </div>

        </div>

    </div>



</div>