<app-body [hideNav]="true">
    <div *ngIf="creator" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container border-bottom">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/creator/creator/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Creator
                    </a>
                </div>

                <div class="callout border  padding-center rounded medium-grey-bg margin-bottom-1">
                    <input class="hide" type="file" (change)="onChange($event,'profile_photo_url')" #fileUpload />
                 

                    <div class="flex-container align-center">
                        <div class="flex-item  margin-right-2">
                            <img (click)="fileUpload.click()"   style="width: 130px;height: 130px;" *ngIf="creator.profile_photo_url"
                                class="avatar-image cursor" [src]="creator.profile_photo_url" alt="">

                            <div style="width: 130px;height: 130px;text-align: center;padding: 25%;" *ngIf="!creator.profile_photo_url"
                            (click)="fileUpload.click()"  class="avatar-image cursor large-text">
                                
                               
                                <fa-icon [icon]="faCloudUploadAlt"></fa-icon>
                            </div>

                        </div>
                        <div class="flex-item flex-2">
                            <h1 class="margin-bottom-0">{{creator.first_name}} {{creator.last_name}}</h1>
                            <div class="margin-bottom-1">
                                <span class="span-label Micro margin-right-02" *ngFor="let item of creator.persona">
                                    {{item.label}}
                                </span>
                            </div>

                            <div *ngIf="overview" class="row medium-up-4">
                                <div *ngFor="let item of overview" class="columns">
                                    <div class="small-text color-grey">{{item.label}}</div>
                                    <div class="huge-text">{{item.value | titlecase}}</div>
                                </div>

                            </div>

                        </div>

                        <div class="flex-item text-center">
                           

                            <div class="callout padding-center medium-grey-bg rounded border">
                                <h1 class="margin-bottom-0">{{creator.tier}}</h1>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <div class="callout border form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Personal Information</h3>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [type]="'date'" [label]="'Day of Birth'" [value]="creator.dob"
                                    [id]="'dob'" (onClose)="updateData($event)"></app-form-input>
                            </div>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Domicile'" [value]="creator.location" [id]="'location'"
                                    (onClose)="updateData($event)"></app-form-input>

                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Alias'" [value]="creator.alias" [id]="'alias'"
                                    (onClose)="updateData($event)"></app-form-input>

                            </div>

                        </div>

                        <div class="callout border padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Legal Document</h3>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <app-form-input [label]="'KTP Account'" [value]="creator.ktp" [id]="'ktp'"
                                    (onClose)="updateData($event)"></app-form-input>
                            </div>

                            <div *ngIf="creator.ktp" class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <div class="flex-container">
                                    <div class="flex-item flex-1">
                                        KTP Image
                                    </div>
                                    <div class="flex-item">
                                        <input class="hide" type="file" (change)="onChange($event,'ktp_image_url')" #fileUploadImage />

                                        <button (click)="fileUploadImage.click()" class="button tiny clear active margin-right-02">{{creator.ktp_image_url?'Update':'Upload'}}</button>
                                        <button (click)="download(creator.ktp_image_url)" *ngIf="creator.ktp_image_url" class="button tiny clear active">Download</button>
                                    </div>
                                </div>
                            </div>


                            <div class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <app-form-input [label]="'Bank Account'" [value]="creator.bank_account"
                                    [id]="'bank_account'" (onClose)="updateData($event)"></app-form-input>

                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <app-form-input [label]="'NPWP Account'" [value]="creator.npwp" [id]="'npwp'"
                                    (onClose)="updateData($event)"></app-form-input>
                            </div>


                            <div *ngIf="creator.npwp" class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <div class="flex-container">
                                    <div class="flex-item flex-1">
                                        NPWP Image
                                    </div>
                                    <div class="flex-item">
                                        <input class="hide" type="file" (change)="onChange($event,'npwp_image_url')" #fileUploadImage />

                                        <button (click)="fileUploadImage.click()" class="button tiny clear active margin-right-02">{{creator.npwp_image_url?'Update':'Upload'}}</button>
                                        <button (click)="download(creator.npwp_image_url)" *ngIf="creator.npwp_image_url" class="button tiny clear active">Download</button>
                                    </div>
                                </div>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <div class="flex-container">
                                    <div class="flex-item flex-1">
                                       Additional Doc
                                    </div>
                                    <div class="flex-item">
                                        <input class="hide" type="file" (change)="onChange($event,'additional_doc_url')" #fileUploadImage />

                                        <button (click)="fileUploadImage.click()" class="button tiny clear active margin-right-02">{{creator.additional_doc_url?'Update':'Upload'}}</button>
                                        <button (click)="download(creator.additional_doc_url)" *ngIf="creator.additional_doc_url" class="button tiny clear active">Download</button>
                                    </div>
                                </div>
                            </div>

                            


                        </div>

                        <div class="callout border padding-center medium-grey-bg rounded" style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Performance</h3>



                            <div *ngFor="let item of creator.performance">
                                <div class="padding-bottom-05 margin-bottom-05">
                                    <app-form-input [placeholder]="'Score 0 - 100'" [isProgress]="true"
                                        [type]="'number'" [label]="item.performance_name"
                                        [value]="item.performance_score" [id]="item.id"
                                        (onClose)="updatePerformance($event)"></app-form-input>
                                </div>



                            </div>




                        </div>
                    </div>

                    <div class="medium-8 columns">

                        <app-card [title]="'Ratecard'" [is_expand]="true" [is_add]="true" (onAdd)="addNewRateCart()">
                            <div *ngIf="creator.rate.length>0">
                                <div class="table-header">
                                    <div class="flex-container table-header-item">

                                        <div class="flex-item flex-1">
                                            Platform
                                        </div>




                                        <div class="flex-item flex-2">
                                            Service
                                        </div>

                                        <div class="flex-item flex-1">
                                            Price
                                        </div>
                                        <div class="flex-item text-right" style="width: 15px;">


                                        </div>



                                    </div>
                                </div>

                                <div class="table-body">
                                    <div [ngClass]="{'long-fade-in': item.isNew}" *ngFor="let item of creator.rate"
                                        class="flex-container table-body-item border align-center  form">



                                        <div class="flex-item flex-1">

                                            <app-form-select [isClean]="true" (onSelect)="updateRate($event,item.id)"
                                                [option]="platform_list" [label]="'Platform'"
                                                [selected_option]="item.platform_name"></app-form-select>




                                        </div>


                                        <div class="flex-item flex-2">



                                            <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                                [value]="item.rate_name" [id]="'rate_name'"
                                                (onClose)="updateRate($event,item.id)"></app-form-input>
                                            <div class="color-grey tiny-text"> Last Update {{item.updated_at | date}}
                                            </div>

                                        </div>
                                        <div class="flex-item flex-1">



                                            <app-form-input [type]="'currency'" [isHideLabel]="true"
                                                [isHideAction]="true" [label]="'Price'" [value]="item.rate_price"
                                                [id]="'rate_price'" (onClose)="updateRate($event,item.id)">
                                            </app-form-input>


                                        </div>

                                        <div class="flex-item text-right" style="width: 15px;">

                                            <app-remove-button (onClick)="deleteCreatorRate(item)">
                                                <button class="button clear  tiny active margin-bottom-0">
                                                    <fa-icon [icon]="faTrash"></fa-icon>
                                                </button>

                                            </app-remove-button>

                                        </div>


                                    </div>
                                </div>
                            </div>

                            <app-placeholder [message]="'Information about creator services and ratecard'"
                                *ngIf="creator.rate.length==0"></app-placeholder>

                        </app-card>


                        <div class="row medium-up-2">

                            <div class="columns">

                                <app-card [is_half]="true" [title]="'Campaign'" [is_expand]="true">
                                    <div *ngFor="let item of creator.campaign"
                                        class="padding-bottom-05 margin-bottom-05 border-bottom">
                                        <div class="flex-container align-center">

                                            <div class="flex-item flex-1">

                                                <div class="large-text">
                                                    {{item.campaign.campaign_name}}
                                                </div>
                                                <div class="large-text color-grey">
                                                    {{item.campaign.start_date | date}}
                                                </div>


                                            </div>

                                            <div class="flex-item">

                                                <button (click)="viewContract(item)"
                                                    class="button  tiny clear active hollow">
                                                    {{item.contract?.id?'Contract #'+item.contract?.id:'Pending Contract'}}
                                                </button>


                                            </div>
                                        </div>
                                    </div>

                                    <app-placeholder [message]="'Event / campaign attended by the creator '"
                                        *ngIf="creator.campaign.length === 0"></app-placeholder>
                                </app-card>



                            </div>

                            <div class="columns">

                                <app-card [title]="'Contact'" [is_add]="true" [is_expand]="true" (onAdd)="openModal('addContactModal')">
                                    <div class="list-tile-container ">
                                        <div *ngFor="let item of creator.contact" class="callout padding-center-1 border rounded margin-bottom-2">


                                            <div class="flex-container align-center hover-show">
                                                <div class="flex-1">
                                                    <div class="large-text margin-bottom-05">
                                                        {{item.name | titlecase}}
                                                        <div class="color-grey">
                                                            {{item.position}}
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="flex-1 text-right">
                                                    <div class="large-text margin-bottom-05">


                                                        <app-remove-button class="hide"
                                                            (onClick)="deleteContact(item.id)">
                                                            <button class="button tiny active clear">Delete</button>
                                                        </app-remove-button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-tile-container">
                                                <div class="list-tile-item">
                                                    <app-form-input [isHideAction]="true" [type]="'number'"
                                                        [label]="'Mobile'" [id]="'mobile'" [value]="item.mobile"
                                                        (onClose)="updateContact(item.id,$event)"></app-form-input>


                                                </div>
                                                <div class="list-tile-item">





                                                    <app-form-input [isHideAction]="true" [label]="'Work'" [id]="'work'"
                                                        [value]="item.work" (onClose)="updateContact(item.id,$event)">
                                                    </app-form-input>

                                                </div>

                                                <div class="list-tile-item">

                                                    <app-form-input [isHideAction]="true" [label]="'Email'"
                                                        [id]="'email'" [value]="item.email"
                                                        (onClose)="updateContact(item.id,$event)">
                                                    </app-form-input>


                                                </div>

                                            </div>


                                        </div>
                                    </div>

                                    <app-placeholder [message]="'Information about creator manager / contact person '"
                                        *ngIf="creator.contact.length === 0"></app-placeholder>
                                </app-card>
                                

                            </div>
                        </div>


                    </div>


                </div>




            </div>




        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">

                    <app-note (afterSubmit)="ngOnInit()" [id]="'creator_id'" [value]="creator.id" [note]="creator.note">
                    </app-note>

                    <div class="callout padding-center-2 border medium-grey-bg rounded">
                        <h3 class="margin-bottom-1">Social Media Metric</h3>
                        <div class="padding-center">

                            <button class="button expanded">Add Instagram Account</button>

                            <button class="button expanded">Add Tiktok Account</button>
                        </div>
                    </div>



                    <!-- <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                        <app-form-input [type]="'number'" [label]="'Follower'" [value]="'test'" [id]="'dob'"
                            (onClose)="updateSocialMetric($event)"></app-form-input>
                    </div> -->


                </div>
            </div>
        </div>
    </div>

    <app-modal (onClose)="closeModal()" [title]="'Edit Contact'" *ngIf="showModal == 'editContactModal'">
        ..
    </app-modal>
    <app-modal (onClose)="closeModal()" [title]="'Manager'" *ngIf="showModal == 'managerModal'">
        ..
    </app-modal>
    <app-modal (onClose)="closeModal()" [title]="'Add Rate'" *ngIf="showModal == 'addRate'">
        <div class="form" [formGroup]="creatorRateForm">
            <label for="">Platform</label>
            <select formControlName="platform_name">
                <option value="instagram">Instagram</option>
                <option value="tiktok">TikTok</option>
            </select>
            <label for="">Service Name</label>
            <input formControlName="rate_name" type="text">
            <label for="">Price</label>
            <input formControlName="rate_price" type="number">
        </div>

        <button (click)="addNewRateCart()" class="button rounded expanded">Add New Rate Cart</button>
    </app-modal>



    <app-modal (onClose)="closeModal()" [title]="'Contract'" *ngIf="showModal == 'contractModal'">
        <div *ngIf="selected_contract">
            <div class="list-tile-container margin-bottom-2">
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Create Date

                        </div>
                        <div class="flex-item flex-1">
                            {{selected_contract.created_at | date}}

                        </div>
                    </div>
                </div>


                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Contract ID #{{selected_contract.id}}
                            <div class="color-grey">
                                Custom ID #{{selected_contract.custom_contract_id}}
                            </div>
                        </div>

                        <div class="flex-item flex-1">
                            <button class="button tiny white"> Download</button>
                        </div>
                    </div>
                </div>

                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Status

                        </div>
                        <div class="flex-item flex-1">


                            <app-status-label [label]="selected_contract.status"></app-status-label>


                        </div>
                    </div>
                </div>


                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Payment Status
                            <div class="color-grey">
                                Invoice #{{selected_contract.invoice_number}}
                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="status-label">
                                <app-status-label [label]="selected_contract.invoice_number?'Paid':'UnPaid'">
                                </app-status-label>

                            </div>


                        </div>
                    </div>
                </div>


                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Budget
                        </div>
                        <div class="flex-item flex-1">
                            {{selected_contract.budget | currency :'Rp'}}
                        </div>
                    </div>
                </div>
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Gross Up
                        </div>
                        <div class="flex-item flex-1">
                            {{selected_contract.gross_up | currency :'Rp'}}
                        </div>
                    </div>
                </div>
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Term of Payment
                        </div>
                        <div class="flex-item flex-1">
                            {{selected_contract.term_of_payment}}
                        </div>
                    </div>
                </div>


            </div>
            <h5>Scope of Work</h5>
            <div *ngIf="selected_contract?.scope" class="list-tile-container">
                <div *ngFor="let item of selected_contract.scope" class="list-tile-item">

                    <div class="flex-container">
                        <div class="flex-05">
                            {{item.platform_name}}
                        </div>
                        <div class="flex-1">
                            {{item.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-modal>

    <app-modal *ngIf="showModal=='addContactModal'" [title]="'Add Contact'">


        <form class="form margin-bottom-1" [formGroup]="contactForm">


            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Name</label>
                    <input formControlName="name" type="text" name="" id="">

                </div>
                <div class="flex-item flex-1">
                    <label for="">Position</label>
                    <input formControlName="position" type="text" name="" id="">


                </div>
            </div>


            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Mobile</label>
                    <input formControlName="mobile" type="number" name="" id="">

                </div>
                <div class="flex-item flex-1">
                    <label for="">Work</label>
                    <input formControlName="work" type="number" name="" id="">


                </div>
            </div>



        </form>
        <button (click)="addContact()" class="button expanded">Add Contact</button>
    </app-modal>

</app-body>