<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>User Management</h1>
                    </div>
                    <div class="flex-item flex-1 text-right">
                        <ul class="menu menu-align-right">
                            <li> <button (click)="toggleModal('registerFormModal')" class="button small">Create New
                                    Account</button></li>
                        </ul>
                    </div>
                </div>
            </div>

            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>

            <app-table-action></app-table-action>

            <div class="fade-in" *ngIf="tab_view == 'account'">
                <div class="table-header">
                    <div class="flex-container table-header-item">


                        <div class="flex-item flex-2">
                            User
                        </div>



                        <div class="flex-item flex-1">
                            Role
                        </div>

                        <div class="flex-item flex-1">
                            Group
                        </div>


                        <div class="flex-item flex-1 ">
                            Menu Access
                        </div>


                        <div class="flex-item flex-05">
                            Status
                        </div>





                    </div>
                </div>

                <div *ngIf="user_account_list" class="table-body">
                    <div  *ngFor="let item of user_account_list" class="flex-container table-body-item align-center">


                        <div class="flex-item flex-2">
                            <div class="flex-container align-center">
                                <div class="flex-item">
                                    <div *ngIf="!item.profile_photo_url" class="avatar-placeholder">
                                        {{transform(item)}}
                                    </div>
                                    <img *ngIf="item.profile_photo_url" class="avatar-image"
                                        src="https://placehold.co/200x200" alt="">
                                </div>
                                <div  class="flex-item">
                                    <div>{{item.first_name}}</div>
                                    <div  *ngIf="item.role_id !== 1" class="small-text color-grey">{{item.username}}</div>
                                </div>
                            </div>
                        </div>





                        <div class="flex-item flex-1">
                            {{item.role?.role_name}}
                        </div>

                        <div class="flex-item flex-1">
                            {{item.group?.group_name}}
                        </div>


                        <div class="flex-item flex-1">
                            <div *ngIf="item.role_id !== 1">
                                <button (click)="setMenuAccess(item)" class="button tiny clear active margin-right-02">
                                    + Menu Access
                                </button>
    
                                <button (click)="changePassword(item)" class="button tiny clear active">
                                    <fa-icon [icon]="faKey"></fa-icon>
                                </button>
                            </div>
                           
                        </div>


                        <div class="flex-item flex-05">
                            <label  *ngIf="item.role_id !== 1" class="switch">
                                <input type="checkbox" [checked]="item.status" (change)="updateStatus(item)">
                                <span class="slider round"></span>
                            </label>


                        </div>





                    </div>

                </div>
                <app-placeholder *ngIf="!user_account_list"></app-placeholder>
            </div>

            <div class="fade-in" *ngIf="tab_view == 'group'">
                <div class="table-header">
                    <div class="flex-container table-header-item">


                        <div class="flex-item flex-2">
                            Group Name
                        </div>

                        <div class="flex-item flex-2">
                            Team Member
                        </div>





                        <div class="flex-item flex-2 text-right">

                        </div>
                    </div>
                </div>

                <div class="table-body">
                    <div *ngFor="let item of user_group" class="flex-container table-body-item">

                        <div class="flex-item flex-2">
                            {{item.group_name}}
                        </div>

                        <div class="flex-item flex-2">
                            {{item.accounts.length}}
                        </div>






                        <div class="flex-item flex-2 text-right">

                        </div>
                    </div>

                </div>
                <app-placeholder *ngIf="!user_group"></app-placeholder>
            </div>


            <app-user-role class="fade-in" *ngIf="tab_view == 'role'"></app-user-role>



        </div>

    </div>

    <app-modal *ngIf="active_modal == 'registerFormModal'" (onClose)="toggleModal('registerFormModal')" [isHalf]="true"
        [title]="'Create New Account'">
        <form class="form" [formGroup]="registerForm">
            <label for="">Email</label>
            <input formControlName="email" type="text" name="" id="">

            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Firstname</label>
                    <input formControlName="first_name" type="text">
                </div>
                <div class="flex-item flex-1">
                    <label for="">Lastname</label>
                    <input formControlName="last_name" type="text">
                </div>
            </div>




            <div *ngIf="user_role">
                <label for="">Role</label>
                <select formControlName="role_id">
                    <option value="" disabled>Please Select Role</option>
                    <option [disabled]="item.is_lock == true || item.id <= user_account.role_id" [value]="item.id" *ngFor="let item of user_role">
                        {{item.role_name}}
                    </option>
                </select>
            </div>

            <div *ngIf="user_group">
                <label for="">Group</label>
                <select *ngIf="user_account.group_id" formControlName="group_id">
                    <option value="" disabled>Please Select Group</option>
                    <option [disabled]="item.group_name !== user_account.group?.group_name" [value]="item.id" *ngFor="let item of user_group">
                        {{item.group_name}}
                    </option>
                
                  
                </select>

                <select *ngIf="!user_account.group_id" formControlName="group_id">
                    <option value="" disabled>Please Select Group</option>
                    <option [value]="item.id" *ngFor="let item of user_group">
                        {{item.group_name}}
                    </option>
                
                  
                </select>
            </div>


            <label for="">Password</label>
            <input formControlName="password_hash" type="password">


        </form>
        <div footer>
            <button [disabled]="!registerForm.valid" (click)="addUserAccount()" class="button expanded">Create
                Account</button>
        </div>
    </app-modal>

    <app-modal *ngIf="active_modal == 'setAccessMenuModal'" (onClose)="toggleModal('setAccessMenuModal')"
        [isHalf]="true" [title]="'Menu Access'">
        <div *ngIf="selected_user_account">

            <div class="row medium-up-2 collapse">

                <div *ngFor="let item of menu_access" class="columns margin-bottom-1">
                    <div *ngIf="user_account.role_id !== 1">
                        <div *ngIf="item.menu_id == user_account.role_id || item.menu_id == 0 || item.menu_id == 1">
                            <ul class="menu vertical">
                                <h5> <label class="checkbox-container"> {{item.title}}
                                        <input type="checkbox" [checked]="checkMenu(item.menu_id)"
                                            (change)="selectItem(item.menu_id)">
                                        <span class="checkmark"></span>
                                    </label></h5>
                                <li *ngFor="let child_item of item.child" class="margin-left-1">
                                    <a>
                                        <label class="checkbox-container"> {{child_item.title}}
                                            <input type="checkbox" [checked]="checkMenu(child_item.menu_id)"
                                                (change)="selectItem(child_item.menu_id)">
                                            <span class="checkmark"></span>
                                        </label>
        
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="user_account.role_id == 1">
                        <div>
                            <ul class="menu vertical">
                                <h5> <label class="checkbox-container"> {{item.title}}
                                        <input type="checkbox" [checked]="checkMenu(item.menu_id)"
                                            (change)="selectItem(item.menu_id)">
                                        <span class="checkmark"></span>
                                    </label></h5>
                                <li *ngFor="let child_item of item.child" class="margin-left-1">
                                    <a>
                                        <label class="checkbox-container"> {{child_item.title}}
                                            <input type="checkbox" [checked]="checkMenu(child_item.menu_id)"
                                                (change)="selectItem(child_item.menu_id)">
                                            <span class="checkmark"></span>
                                        </label>
        
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                   
                  
                </div>
            </div>


        </div>
        <div footer>
            <button class="button expanded" (click)="setAccountMenuAccess()">Set Menu Access</button>
        </div>

    </app-modal>

    <app-modal *ngIf="active_modal == 'setPassword'" (onClose)="toggleModal('setPassword')" [isHalf]="true"
        [title]="'Change Password'">
        <div *ngIf="selected_user_account">

            <form class="form" [formGroup]="changePasswordForm">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">New Password</label>
                    <input formControlName="password" type="text">

                    <label for="">Confirm Password</label>
                    <input formControlName="confirm_password" type="text">
                </div>
            </form>


        </div>
        <div footer>
            <button class="button expanded" [disabled]="!validatePassword()" (click)="setPassword()">Change Password</button>
        </div>


    </app-modal>
</app-body>