.tooltips{
    display: none;
    position: absolute;
    bottom: 1;
    min-width: 270px;
    z-index: 9999999;
    left: 0;
    box-shadow: 0 2px 16px #0006;
    border:1px solid rgb( 60, 65, 74 )!important;
    background: rgb( 38, 62, 80 ) !important ; 
   
   
}

.tooltips-container{
  position: relative;
    &:hover{
        .tooltips{
          display: inline-block !important;
        }
      }
}

 .tooltips::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    
    border-color: transparent transparent rgb( 38, 62, 80 )    transparent;

  }

