/* You can add global styles to this file, and also import other style files */
@import './../src/assets/css/app.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap');


:root {
  color-scheme: dark;
}
input {
  color-scheme: dark;
}

.cursor {
  cursor: pointer;
}

.hover-show {
  &:hover {
    .hide {
      display: inline-block !important;
    }
  }
}

.more-button {
  position: absolute;
  right: 1%;
  top: 7%;
}

.like {
  color: brown !important;
}

.pinned {
  color: white !important;
}

.loading {
  border-radius: 3px;
  -webkit-animation: pulse 2s infinite;
  /* Safari 4+ */
  -moz-animation: pulse 2s infinite;
  /* Fx 5+ */
  -o-animation: pulse 2s infinite;
  /* Opera 12+ */
  animation: pulse 2s infinite;
  /* IE 10+, Fx 29+ */

  @keyframes pulse {
    0% {
      color: transparent;
      background-color: #3c414a;
      border: none;
    }

    50% {
      color: transparent;
      background-color: #3c414a4d;
      border: none;
    }

    100% {
      color: transparent;
      background-color: #3c414a;
      border: none;
    }
  }

}



.avatar-placeholder {
  border-radius: 100%;
  border: 1px solid rgb( 60, 65, 74 )!important;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  background: rgb(60, 65, 74) !important;
  font-size: 10px;
  text-transform: uppercase;
  &:hover{
    border: 1px solid white !important;
  }
}


.avatar-image {
  border-radius: 100% !important;
  border: 1px solid rgb( 60, 65, 74 )!important;

  -o-object-fit: cover;
  object-fit: cover;
  width: 40px;
  height: 40px;
  &:hover{
      border: 1px solid white !important;
    }
}


.task-container {
  position: relative;
  min-height: 120px;

  .more-info {
    position: absolute;
    top: 15px;
    right: 15px
  }

  .more-info-bottom {
    position: absolute;
    bottom: 5px;
    right: 15px;
  }

}

.add-person {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border: 2px solid rgb(60, 65, 74) !important;
  border-radius: 100%;
  font-size: 10px;
  background: rgb(60, 65, 74) !important;

  .icon {
    -ms-transform: translateY(-5%);
    transform: translateY(-5%);
  }
}

a.link {
  color: rgb(240, 241, 243);

  &:hover {
    border-bottom: 2px solid rgb(240, 241, 243);
  }
}

.page-container {
  padding: 2% 3%;

}

.title-container {
  margin-bottom: 2rem;
}

//button

.button {
  &.clear {
    background: transparent !important;
    border: 1px solid transparent !important;
    border: none !important;

    &:hover {
      background: #5e5e5e7a !important;
      color: rgb(240, 241, 243);


    }
  }


  &.active {

    border: 1px solid rgb(60, 65, 74) !important;
    background: rgb(60, 65, 74) !important;

  }

  &.hollow {

    border: 1px solid #5e5e5ea5 !important;
  }



}

.pagination-button {
  background: rgb(60, 65, 74) !important;
  color: rgb(240, 241, 243) !important;
  border: none;
  padding: 0.3rem 0.7rem !important;
  line-height: 1;
  font-size: 12px;
  margin: 0;
}

.width-25 {
  width: 15%;
  float: left;
  display: inline-block;
}

.width-75 {
  width: 85%;
  float: right;
  display: inline-block;
}

.width-100 {
  width: 100%;
  float: left;
  display: inline-block;
}

.page-from-left {
  animation: show-from-left 3s;
}

@keyframes page-from-left {
  0% {
    background: red;
  }

  100% {
    background: yellow;
  }
}

.test-media {
  display: none;
}




.flex-item {
  flex-wrap: nowrap;
}

.color-grey {
  color: rgb(135, 144, 158) !important;
}

body,
.main-body {
  background: rgb(42, 46, 52);
  color: rgb(240, 241, 243) !important
}

.list-tile-container {



  .list-tile-item {
    border-bottom: 1px solid rgb(60, 65, 74) !important;
    padding: 0.7rem 0;
    font-size: 14px;


  }

  .list-tile-item:last-child {
    border-bottom: none;

  }
}

.form {

  .input,
  input,
  select,
  textarea {

    margin-bottom: 1rem;
    font-size: 16px !important;
    border-radius: 6px !important;
    padding: .5rem 0.7rem !important;
    line-height: 1.5;
    color: #aeaeae !important;
    // background: #272829 !important;
    background: #383b42 !important;

  }
}

.table-action {
  padding: 0.5rem 0;

  input {
    margin: 0
  }
}

.table-container {
  .bar{
    width: 40px;background: black;position: absolute;right:0;top:0;height: 100%;z-index: 99;   background: rgb(48,53,60);
                    background: linear-gradient(270deg, rgb(41, 45, 51) 0%, rgba(48,53,60,0) 100%);
  }
  .parrent{
    width: 100%;
    overflow: auto;
  }
 .child{
  min-width: max-content;
 }
}

.table-header {

  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #2a2e34;
  .table-header-item {
    padding: 1rem 1rem;
    font-size: 12px;


    color: rgb(135, 144, 158) !important;

    .flex-item {
      margin-right: 0.7rem;

    }

    &:hover {
      transition: all .3s ease;
    }
  }
}

.margin-right-02 {
  margin-right: 0.2rem;
}

.table-body {


  .table-body-item {
    padding: 0.7rem 1rem;
    font-size: 13px;
    overflow-wrap: break-word;
    background: rgba(48, 53, 60, 0.449);

    border-radius: 6px;
    margin-bottom: 2px;

    &.border {
      border-top: 1px solid rgb(60, 65, 74);
      background: unset;
      border-radius: unset !important;

      &:hover {
        transition: all .7s ease;
        // background: rgba(36, 36, 36, 0.66);
        // border: 1px solid rgb(240, 241, 243);
      }

      // &.border:last-child {
      // border: 1px solid rgb( 60, 65, 74 );

      // }
    }

    .flex-item {
      margin-right: 0.7rem;

    }

    &:hover {
      transition: all .1s ease;
      background: rgb(48, 53, 60);

    }
  }

  .table-body-item:last-child {
    border-bottom: none;

  }
}


.padding-bottom-05 {
  padding-bottom: 0.5rem;
}



::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(135, 144, 158, 0.397)
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(135, 144, 158)
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(135, 144, 158)
}

.content-wrapper {
  padding: 0 3%
}

.border-bottom {
  border-bottom: 1px solid rgb(60, 65, 74) !important;
}

.border-top {
  border-top: 1px solid rgb(60, 65, 74) !important;
}


.mat-progress-bar-buffer {
  background-color: #101010 !important;
}


.callout.padding-mini-center {
  padding: 1rem;
}



.gray-color {
  color: rgb(240, 241, 243) !important
}

.medium-grey-bg {
  background-color: rgb(48, 53, 60) !important;
  color: rgb(240, 241, 243) !important
}

.dark-grey-bg {
  background: rgb(42, 46, 52) !important;
  color: rgb(240, 241, 243) !important
}


.warning-bg {
  border: 1px solid #ff971f !important;

  background-color: #ff971f3d !important;
  color: rgb(240, 241, 243) !important
}




.chips {


  border-radius: 25px;


  display: block;

  &.active {
    background: rgb(240, 241, 243) !important;
    color: #333333 !important;
  }
}

.fade-in {
  animation: fadeIn 0.3s;
}

.long-fade-in {
  animation: fadeIn 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.zoom-in {
  animation: zoom 0.2s;
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}


.page-enter-from-left {
  animation: page-enter-from-left 0.3s;
}

@keyframes page-enter-from-left {
  0% {
    transform: translateX(-50%);
    opacity: 0.4;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.page-enter-from-right {
  animation: page-enter-from-right .3s;
}

@keyframes page-enter-from-right {
  0% {
    transform: translateX(50%);
    opacity: 0.4;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.page-enter-from-bottom {
  animation: page-enter-from-bottom .2s;
}

@keyframes page-enter-from-bottom {
  0% {
    transform: translateY(70%);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.page_out_to_right {
  animation: page-out-to-right .3s;
}

@keyframes page-out-to-right {
  0% {
    transform: translateX(0%);

  }

  100% {
    transform: translateX(100%);

  }
}


.global-navigation {
  background: rgb(60, 65, 74);
}

//
.right-bar-container {
  .right-bar-content {
    padding: 2rem;
    position: relative;

  }
}

.span-label {
  border: 1px solid rgb( 64, 166, 230 );
  // background: rgb( 42, 46, 52 ) !important;
  background: rgb(64 166 230 / 22%) !important;

  font-size: 8px;
  padding: 1px 7px;
  font-weight: 600;
  text-transform: uppercase;
vertical-align: middle;
  border-radius: 3px;
  letter-spacing: 1px;




}



.show-from-left {
  animation: show-from-left 0.5s;
}

@keyframes show-from-left {
  0% {
    right: -25%;
    z-index: 9999999999;
  }

  100% {
    right: 0
  }
}



.mega-text {
  font-size: 25px !important;

  input {
    font-size: 25px !important;
  }
}



.jumbo-text {
  font-size: 20px !important;

  input {
    font-size: 20px !important;
  }
}


.huge-text {
  font-size: 16px !important;

  input {
    font-size: 16px !important;
  }
}

.large-text {
  font-size: 14px !important;

  input {
    font-size: 14px !important;
  }
}

.small-text {
  font-size: 12px !important
}

.tiny-text {
  font-size: 10px !important
}



/* IPHONE */
@media screen and (max-width: 39.9375em) {
  .page-container {
    padding: 1rem !important;

  }
  .padding-center {
    padding: 1rem 0 !important;
}

  .small-100 {
    flex: 0 0 100% !important;
  }

  .hide-for-mobile {
    display: none !important
  }

  .width-25 {
    width: 100%;
    float: left;
    display: inline-block;
  }

  .width-75 {
    width: 100%;
    float: left;
    display: inline-block;
  }


  h1{
    font-size: 20px !important;
    margin-bottom: 0 !important;
  }
  h2{
    font-size: 18px  !important;
    margin-bottom: 0 !important;
  }
  h3{
    font-size: 16px  !important;
    margin-bottom: 0 !important;
  }


}




/* IPAD */
@media only screen and (min-width: 768px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .hide-on-tablet {
    display: none !important;
  }

  .test-media {
    display: block;
  }

  h1 {
    font-size: 20px !important;
    margin-bottom: 0 !important;
  }

  h2 {
    font-size: 18px !important;
    margin-bottom: 0 !important;
  }

  h3 {
    font-size: 16px !important;
    margin-bottom: 0 !important;
  }





  // .callout.padding-center{
  //   padding: 1.5rem;
  // }
  // .table-header .table-header-item{
  //   font-size: 12px;
  // }
  // .table-body .table-body-item {
  //   font-size: 12px;
  // }
  // .large-text{
  //   font-size: 12px !important;
  // }
  // .small-text{
  //   font-size: 10px !important;
  // }

  // .tiny-text{
  //   font-size: 8px !important;
  // }







}