<app-top-navigation-client></app-top-navigation-client>

<div *ngIf="creator" class="page-container">
    <div style="max-width: 76rem;" class="row">

        <div *ngIf="page_view == 'main_menu'" class="row show-for-small-only">
            <div class="small-12 columns">
                <div>
                    <div class="flex-container align-center">
                        <div class="flex-item flex-1 margin-right-05">
                            <h1 class="margin-bottom-0">{{creator.first_name}} {{creator.last_name}}</h1>
                            <div class="margin-bottom-1">
                                <span class="span-label Micro margin-right-02" *ngFor="let item of creator.persona">
                                    {{item.label}}
                                </span>
                            </div>
                        </div>
                        <div class="flex-item">


                        </div>
                    </div>

                </div>




                <div class="padding-center border-bottom margin-bottom-1">
                    <div class="flex-container margin-bottom-1">


                        <div class="flex-1 margin-right-1">
                            <div class="callout padding-center-1 rounded medium-grey-bg">
                                <div class="small-text color-grey">Company</div>
                                <div class="large-text">
                                    <span *ngIf="creator.management?.name"> {{creator.management?.name}}</span>
                                    <span *ngIf="!creator.management?.name"> {{creator.company_name}}</span>

                                </div>
                            </div>
                        </div>

                        <div class="flex-1">
                            <div class="callout padding-center-1 rounded medium-grey-bg">
                                <div class="small-text color-grey">Total Campaign</div>
                                <div class="large-text">
                                    {{creator.campaign_count}}
                                </div>
                            </div>
                        </div>






                    </div>

                </div>

                <div class="list-tile-container">
                    <div (click)="_navigateTo(item.id)" *ngFor="let item of main_menu" class="cursor list-tile-item">
                        <div [ngClass]="{'active': page_view === item.id}"
                            class="flex-container color-grey align-center">
                            <div class="flex-item flex-05">
                                <fa-icon [icon]="item.icon"></fa-icon>
                            </div>
                            <div class="flex-item flex-4 ">
                                {{item.label}}
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <div class="medium-3 show-for-medium columns">

            <div class="callout halfheight border padding-center rounded medium-grey-bg margin-bottom-1">


                <div class="flex-container align-center">
                    <!-- <div class="flex-item  margin-right-2">
                        <img style="width: 130px;height: 130px;" *ngIf="creator.profile_photo_url" class="avatar-image"
                            src="https://placehold.co/200x200" alt="">

                        <div style="width: 130px;height: 130px;" *ngIf="!creator.profile_photo_url"
                            class="avatar-placeholder">
                            {{ getPlaceholderName(creator)}}
                        </div>

                    </div> -->
                    <div class="flex-item flex-3 margin-right-1">
                        <h1 class="margin-bottom-0">{{creator.first_name}} {{creator.last_name}}</h1>
                        <div class="margin-bottom-1">
                            <span class="span-label Micro margin-right-02" *ngFor="let item of creator.persona">
                                {{item.label}}
                            </span>
                        </div>




                    </div>

                </div>

                <div class="list-tile-container">
                    <div (click)="_navigateTo(item.id)" *ngFor="let item of main_menu" class="cursor list-tile-item">
                        <div [ngClass]="{'active': page_view === item.id}"
                            class="flex-container color-grey align-center">
                            <div class="flex-item flex-05">
                                <fa-icon [icon]="item.icon"></fa-icon>
                            </div>
                            <div class="flex-item flex-3">
                                {{item.label}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
        <div class="medium-9 columns">
            <div class="callout show-for-medium padding-center border rounded medium-grey-bg margin-bottom-1">
                <div class="row medium-up-4">
                    <div class="columns">
                        <div class="small-text color-grey">Total Campaign</div>
                        <div class="huge-text">{{creator.campaign_count}}</div>
                    </div>
                    <div class="columns">
                        <div class="small-text color-grey">Company</div>
                        <div class="huge-text">
                            <span *ngIf="creator.management?.name"> {{creator.management?.name}}</span>
                            <span *ngIf="!creator.management?.name"> {{creator.company_name}}</span>

                        </div>
                    </div>

                    <div class="columns">
                        <div class="small-text color-grey">Domicile</div>
                        <div class="huge-text">
                            {{creator.location}}

                        </div>
                    </div>


                </div>

            </div>

            <div *ngIf="page_view =='contact'"
                class="callout padding-center small-container  halfheight medium-grey-bg border rounded">
                <div class="margin-bottom-1">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-1">
                            <div class="margin-bottom-05 show-for-small-only">
                                <a (click)="_navigateTo('main_menu')" class="white">
                                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                                    Back
                                </a>
                            </div>
                            <h1>Contact</h1>
                        </div>
                        <div class="flex-item flex-1 text-right">
                            <button (click)="openModal('addContactModal')" class="button tiny clear active">+
                                Add</button>

                        </div>
                    </div>

                </div>

                <div class="show-for-medium table-header">
                    <div class="table-header-item flex-container">
                        <div class="flex-1">
                            Name
                        </div>
                        <div class="flex-1">
                            Position
                        </div>
                        <div class="flex-1">
                            Mobile
                        </div>
                        <div class="flex-1">
                            Work
                        </div>
                        <div class="flex-05 text-right">
                            Action
                        </div>
                    </div>

                </div>

                <div class=" show-for-medium table-body">
                    <div *ngFor="let item of creator.contact" class="table-body-item hover-show border flex-container">
                        <div class="flex-1 ">
                            <span class="show-for-small-only color-grey">Name</span>

                            <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'name'" [id]="'name'"
                                [value]="item.name" (onClose)="updateContact(item.id,$event)"></app-form-input>
                        </div>

                        <div class="flex-1  ">

                            <span class="show-for-small-only color-grey">Position</span>

                            <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'position'"
                                [id]="'position'" [value]="item.position" (onClose)="updateContact(item.id,$event)">
                            </app-form-input>
                        </div>
                        <div class="flex-1  ">

                            <span class="show-for-small-only color-grey">Mobile</span>

                            <app-form-input [type]="'number'" [isHideLabel]="true" [isHideAction]="true"
                                [label]="'mobile'" [id]="'mobile'" [value]="item.mobile"
                                (onClose)="updateContact(item.id,$event)"></app-form-input>
                        </div>
                        <div class="flex-1  ">

                            <span class="show-for-small-only color-grey">Work</span>

                            <app-form-input [type]="'number'" [isHideLabel]="true" [isHideAction]="true"
                                [label]="'work'" [id]="'work'" [value]="item.work"
                                (onClose)="updateContact(item.id,$event)"></app-form-input>
                        </div>
                        <div class="flex-05 text-right  ">
                            <app-remove-button (onClick)="deleteContact(item.id)">
                                <button class="button tiny active clear">

                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </app-remove-button>
                        </div>
                    </div>

                </div>

                <div class=" show-for-small-only">
                    <div *ngFor="let item of creator.contact"
                        class="callout list-tile-container padding-center-1 rounded border medium-grey-bg margin-bottom-1 ">
                        <div class="list-tile-item">

                            <app-form-input [label]="'name'" [id]="'name'" [value]="item.name"
                                (onClose)="updateContact(item.id,$event)"></app-form-input>
                        </div>

                        <div class="list-tile-item">


                            <app-form-input [label]="'position'" [id]="'position'" [value]="item.position"
                                (onClose)="updateContact(item.id,$event)">
                            </app-form-input>
                        </div>
                        <div class="list-tile-item">


                            <app-form-input [type]="'number'" [label]="'mobile'" [id]="'mobile'" [value]="item.mobile"
                                (onClose)="updateContact(item.id,$event)"></app-form-input>
                        </div>
                        <div class="list-tile-item margin-bottom-05">


                            <app-form-input [type]="'number'" [label]="'work'" [id]="'work'" [value]="item.work"
                                (onClose)="updateContact(item.id,$event)"></app-form-input>
                        </div>
                        <div class="list-tile-items">
                            <app-remove-button (onClick)="deleteContact(item.id)">
                                <button class="button tiny active clear">

                                    <fa-icon [icon]="faTrash"></fa-icon> Remove
                                </button>
                            </app-remove-button>
                        </div>
                    </div>

                </div>




            </div>

            <div *ngIf="page_view =='campaign'"
                class="callout small-container  padding-center halfheight medium-grey-bg border rounded">
                <div class="margin-bottom-1">
                    <div class="margin-bottom-05 show-for-small-only">
                        <a (click)="_navigateTo('main_menu')" class="white">
                            <fa-icon [icon]="faChevronLeft"></fa-icon>
                            Back
                        </a>
                    </div>
                    <h1>Campaign</h1>
                </div>
                <div *ngFor="let item of creator.campaign"
                    class="callout padding-center-1 medium-grey-bg rounded border margin-bottom-05">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-1">

                            <div class="large-text">
                                {{item.campaign.campaign_name}}
                            </div>
                            <div class="large-text color-grey">
                                {{item.campaign.start_date | date}}
                            </div>


                        </div>

                        <div class="flex-item">

                            <button (click)="viewContract(item)" class="button  tiny clear active hollow">
                                {{item.contract?.id?'Contract #'+item.contract?.id:'Pending Contract'}}
                            </button>


                        </div>
                    </div>
                </div>

                <app-placeholder *ngIf="creator.campaign.length === 0"></app-placeholder>



            </div>

            <!-- TABLE SAMPLE -->

            <div *ngIf="page_view == 'rate'"
                class="callout border padding-center halfheight small-container  rounded medium-grey-bg margin-bottom-1">


                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <div class="margin-bottom-05 show-for-small-only">
                            <a (click)="_navigateTo('main_menu')" class="white">
                                <fa-icon [icon]="faChevronLeft"></fa-icon>
                                Back
                            </a>
                        </div>
                        <h1>Ratecard</h1>
                    </div>
                    <div class="flex-item flex-1 text-right">
                        <button (click)="addNewRateCart()" class="button tiny clear active">+
                            Add</button>

                    </div>
                </div>

                <div class="show-for-medium" *ngIf="creator.rate.length>0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">

                            <div class="flex-item flex-1">
                                Platform
                            </div>




                            <div class="flex-item flex-2">
                                Service
                            </div>

                            <div class="flex-item flex-1">
                                Price
                            </div>
                            <div class="flex-item text-right" style="width: 15px;">


                            </div>



                        </div>
                    </div>

                    <div class="table-body">
                        <div [ngClass]="{'long-fade-in': item.isNew}" *ngFor="let item of creator.rate"
                            class="flex-container table-body-item border align-center  form">



                            <div class="flex-item flex-1">

                                <app-form-select [isClean]="true" (onSelect)="updateRate($event,item.id)"
                                    [option]="platform_list" [label]="'Platform'"
                                    [selected_option]="item.platform_name"></app-form-select>




                            </div>


                            <div class="flex-item flex-2">



                                <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                    [value]="item.rate_name" [id]="'rate_name'" (onClose)="updateRate($event,item.id)">
                                </app-form-input>
                                <div class="color-grey tiny-text"> Last Update {{item.updated_at | date}}</div>

                            </div>
                            <div class="flex-item flex-1">



                                <app-form-input [type]="'currency'" [isHideLabel]="true" [isHideAction]="true"
                                    [label]="'Price'" [value]="item.rate_price" [id]="'rate_price'"
                                    (onClose)="updateRate($event,item.id)">
                                </app-form-input>


                            </div>

                            <div class="flex-item text-right" style="width: 15px;">

                                <app-remove-button (onClick)="deleteCreatorRate(item)">
                                    <button class="button clear  tiny active margin-bottom-0">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                    </button>

                                </app-remove-button>

                            </div>

                            <!-- <div class="flex-item text-right" style="width: 50px;">
                    
                            <button  *ngIf="item.edit && !item.isNew" (click)="updateCreatorRate(item)" class="button tiny margin-right-05">Save</button>
                            <button  *ngIf="item.isNew" (click)="addNewRateCart(item)" class="button tiny margin-right-05">Add</button>
                        
                        
                            <button  *ngIf="!item.edit" class="button clear hollow tiny hide active">Remove</button>
                            
                        </div>
                        -->

                        </div>
                    </div>
                </div>

                <div class="show-for-small-only padding-center" *ngIf="creator.rate.length>0">


                    <div class="table-body">
                        <div [ngClass]="{'long-fade-in': item.isNew}" *ngFor="let item of creator.rate"
                            class="callout list-tile-container border medium-grey-bg padding-center-1 rounded margin-bottom-05 form">



                            <div class="list-tile-item">
                                <div class="color-grey tiny-text margin-bottom-05"> Last Update
                                    {{item.updated_at | date}}</div>

                                <app-form-select [isClean]="true" (onSelect)="updateRate($event,item.id)"
                                    [option]="platform_list" [label]="'Platform'"
                                    [selected_option]="item.platform_name"></app-form-select>



                            </div>



                            <div class="list-tile-item">



                                <app-form-input [label]="'Name'" [value]="item.rate_name" [id]="'rate_name'"
                                    (onClose)="updateRate($event,item.id)">
                                </app-form-input>
                            </div>



                            <div class="list-tile-item margin-bottom-05">



                                <app-form-input [type]="'currency'" [label]="'Price'" [value]="item.rate_price"
                                    [id]="'rate_price'" (onClose)="updateRate($event,item.id)">
                                </app-form-input>


                            </div>

                            <div class="list-tile-items">

                                <app-remove-button (onClick)="deleteCreatorRate(item)">
                                    <button class="button clear  tiny active margin-bottom-0">
                                        <fa-icon [icon]="faTrash"></fa-icon> Remove
                                    </button>

                                </app-remove-button>

                            </div>


                        </div>
                    </div>
                </div>

                <app-placeholder [message]="'Information about creator services and ratecard'"
                    *ngIf="creator.rate.length==0"></app-placeholder>






            </div>




        </div>

    </div>



</div>
<app-modal (onClose)="closeModal()" [title]="'Add Rate'" *ngIf="showModal == 'addRate'">
    <div class="form" [formGroup]="creatorRateForm">
        <label for="">Platform</label>
        <select formControlName="platform_name">
            <option value="instagram">Instagram</option>
            <option value="tiktok">TikTok</option>
        </select>
        <label for="">Service Name</label>
        <input formControlName="rate_name" type="text">
        <label for="">Price</label>
        <input formControlName="rate_price" type="number">
    </div>

    <button (click)="addNewRateCart()" class="button rounded expanded">Add New Rate Cart</button>
</app-modal>

<app-modal (onClose)="closeModal()" [title]="'Contract'" *ngIf="showModal == 'contractModal'">
    <div *ngIf="selected_contract">
        <div class="list-tile-container margin-bottom-2">
            <div class="list-tile-item">
                <div class="flex-container">
                    <div class="flex-item flex-2">
                        Create Date

                    </div>
                    <div class="flex-item flex-1">
                        {{selected_contract.created_at | date}}

                    </div>
                </div>
            </div>


            <div class="list-tile-item">
                <div class="flex-container">
                    <div class="flex-item flex-2">
                        Contract ID #{{selected_contract.id}}
                        <div class="color-grey">
                            Custom ID #{{selected_contract.custom_contract_id}}
                        </div>
                    </div>

                    <div class="flex-item flex-1">
                        <button class="button tiny white"> Download</button>
                    </div>
                </div>
            </div>

            <div class="list-tile-item">
                <div class="flex-container">
                    <div class="flex-item flex-2">
                        Status

                    </div>
                    <div class="flex-item flex-1">


                        <app-status-label [label]="selected_contract.status"></app-status-label>


                    </div>
                </div>
            </div>


            <div class="list-tile-item">
                <div class="flex-container">
                    <div class="flex-item flex-2">
                        Payment Status
                        <div class="color-grey">
                            Invoice #{{selected_contract.invoice_number}}
                        </div>
                    </div>
                    <div class="flex-item flex-1">
                        <div class="status-label">
                            <app-status-label [label]="selected_contract.invoice_number?'Paid':'UnPaid'">
                            </app-status-label>

                        </div>


                    </div>
                </div>
            </div>


            <div class="list-tile-item">
                <div class="flex-container">
                    <div class="flex-item flex-2">
                        Budget
                    </div>
                    <div class="flex-item flex-1">
                        {{selected_contract.budget | currency :'Rp'}}
                    </div>
                </div>
            </div>
            <div class="list-tile-item">
                <div class="flex-container">
                    <div class="flex-item flex-2">
                        Gross Up
                    </div>
                    <div class="flex-item flex-1">
                        {{selected_contract.gross_up | currency :'Rp'}}
                    </div>
                </div>
            </div>
            <div class="list-tile-item">
                <div class="flex-container">
                    <div class="flex-item flex-2">
                        Term of Payment
                    </div>
                    <div class="flex-item flex-1">
                        {{selected_contract.term_of_payment}}
                    </div>
                </div>
            </div>


        </div>
        <h5>Scope of Work</h5>
        <div *ngIf="selected_contract?.scope" class="list-tile-container">
            <div *ngFor="let item of selected_contract.scope" class="list-tile-item">

                <div class="flex-container">
                    <div class="flex-05">
                        {{item.platform_name}}
                    </div>
                    <div class="flex-1">
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-modal>


<app-modal *ngIf="showModal=='addContactModal'" [title]="'Add Contact'">


    <form class="form margin-bottom-1" [formGroup]="contactForm">


        <div class="flex-container">
            <div class="flex-item flex-1 margin-right-05">
                <label for="">Name</label>
                <input formControlName="name" type="text" name="" id="">

            </div>
            <div class="flex-item flex-1">
                <label for="">Position</label>
                <input formControlName="position" type="text" name="" id="">


            </div>
        </div>


        <div class="flex-container">
            <div class="flex-item flex-1 margin-right-05">
                <label for="">Mobile</label>
                <input formControlName="mobile" type="number" name="" id="">

            </div>
            <div class="flex-item flex-1">
                <label for="">Work</label>
                <input formControlName="work" type="number" name="" id="">


            </div>
        </div>



    </form>
    <button [disabled]="!contactForm.valid" (click)="addContact()" class="button expanded">Add Contact</button>
</app-modal>