<app-table-action [sortListItems]="sortListItems"></app-table-action>
<div *ngIf="post">

    <div *ngIf="post.length !== 0">
        <div class="table-header">
            <div class="flex-container table-header-item">


                <div class="flex-item flex-2">
                    <app-table-sort (onChange)="post" [data]="post" [key]="'title'">
                        Title
                    </app-table-sort>
                </div>


                <div class="flex-item flex-1">
                    <app-table-sort [type]="'number'" (onChange)="post" [data]="post" [key]="'author_id'">
                        Author
                    </app-table-sort>
                </div>






                <div class="flex-item flex-1">
                    <app-table-sort [type]="'number'" (onChange)="post" [data]="post" [key]="'like_count'">
                        Metric
                    </app-table-sort>

                </div>

                <div class="flex-item flex-1">
                    <app-table-sort [type]="'number'" (onChange)="post" [data]="post" [key]="'is_featured'">
                        Featured
                    </app-table-sort>

                </div>






                <div class="flex-item flex-1">
                    <app-table-sort [type]="'number'" (onChange)="post" [data]="post" [key]="'status'">
                        Status
                    </app-table-sort>

                </div>





            </div>
        </div>
        <div class="table-body ">
            <div *ngFor="let item of post" class="flex-container  table-body-item align-center">



                <div [routerLink]="['/client/newsfeed/view/', item.id]" class="flex-item cursor flex-2">
                    {{item.title | titlecase}}

                    <div>
                        <span class="span-label Micro margin-right-02" *ngFor="let item of item.category">
                            {{item.category.name}}
                        </span>
                    </div>

                </div>

                <div class="flex-item flex-1">
                    <div *ngIf="item.author">
                        {{item.author?.first_name}}
                        {{item.author?.last_name}}
                        <div>
                            <span class=" span-label Micro">Member</span>
                        </div>
                    </div>

                    <div *ngIf="item.account">
                        {{item.account?.first_name}}
                      
                        <div>
                            <span class=" span-label Micro">Admin</span>
                        </div>

                    </div>
                </div>





                <div class="flex-item flex-1">
                    <div class="flex-container small-text color-grey">
                        <div class="flex-item margin-right-1">
                            <span class="">
                                {{item.like_count}} <fa-icon [icon]="faHeart"></fa-icon>
                            </span>

                        </div>

                        <div class="flex-item margin-right-1">
                            <span class="">
                                {{item.pinned_count}} <fa-icon [icon]="faBookmark"></fa-icon>
                            </span>
                        </div>

                        <div class="flex-item">
                            <span class="">
                                {{item.discussion_count}} <fa-icon [icon]="faComments"></fa-icon>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="flex-item flex-1">
                    <label class="switch">
                        <input type="checkbox" [checked]="item.is_featured" (change)="updateFeatured(item.id,item)">
                        <span class="slider round"></span>
                    </label>
                </div>


                <div class="flex-item flex-1">
                    <app-status-label [label]="item.status" [option]="post_status"
                        (onSelect)="updatePost(item.id,$event)"></app-status-label>

                </div>






            </div>

        </div>

    </div>
    <app-placeholder *ngIf="post.length ===0"></app-placeholder>
</div>