<app-body>
    <div class="page-container">

        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Member</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addCommunityMemberModal')"
                                        class="button rounded small">+ Add Member</button></li>

                                        <li> <button (click)="openModal('addPartnerMember')"
                                            class="button rounded small margin-right-05">+ Add Partner</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>


            <div *ngIf="community" class="flex-container margin-bottom-1">
                <div *ngFor="let item of community" class="flex-1 margin-right-1">
                    <div class="callout padding-center rounded medium-grey-bg">
                        <h5>{{item.name}}</h5>

                        <div class="row collapse medium-up-2">
                            <div class="columns">
                                <div class="tiny-text color-grey">
                                    Total Member
                                </div>
                                <div class="large-text">
                                    {{item.total_member}}
                                </div>
                            </div>
                            <div class="columns">
                                <div class="tiny-text color-grey">
                                    Total Campaigns
                                </div>
                                <div class="large-text">
                                    {{item.total_campaign}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>




            <div class="fade-in" *ngIf="member">
                <app-table-action [showExport]="true" (onExport)="export()" [sortListItems]="sortListItems">
                </app-table-action>
                <div *ngIf="member.length !== 0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">


                            <div class="flex-item flex-2">

                                <app-table-sort (onChange)="member" [data]="member" [key]="'first_name'">
                                    Member
                                </app-table-sort>
                            </div>
                            

                            <div class="flex-item flex-1">

                                <app-table-sort (onChange)="member" [data]="member" [key]="'instagram_follower'">
                                    Follower
                                </app-table-sort>
                            </div>





                            <div class="flex-item flex-1">


                                <app-table-sort (onChange)="member" [data]="member" [key]="'community_name'">
                                    Community
                                </app-table-sort>
                            </div>


                            <div class="flex-item flex-1">


                                <app-table-sort [type]="'number'" (onChange)="member" [data]="member"
                                    [key]="'total_campaign'">
                                    Total Campaign
                                </app-table-sort>
                            </div>



                            <div class="flex-item flex-1">
                                <app-table-sort [type]="'number'" (onChange)="member" [data]="member"
                                    [key]="'total_points'">
                                    Total Points
                                </app-table-sort>
                            </div>

                            <div class="flex-item flex-1">
                                <app-table-sort [type]="'number'" (onChange)="member" [data]="member" [key]="'status'">
                                    Status
                                </app-table-sort>
                            </div>


                            <div class="flex-item flex-1 text-right">
                                Action
                            </div>










                        </div>
                    </div>
                    <div class="table-body ">
                        <div *ngFor="let item of member"
                            class="flex-container cursor table-body-item align-center hover-show">



                            <div (click)="_navigateTo(item.id)" class="flex-item flex-2">
                                <div class="flex-container align-center">

                                    <div class="flex-item flex-1">
                                        <div>
                                            {{item.first_name | titlecase }} {{item.last_name | titlecase}}


                                            <span class="span-label">
                                                #{{item.id}}
                                            </span>
                                        </div>
                                        <div class="small-text color-grey">
                                            {{item.province | titlecase}} <span *ngIf="item.city">- {{item.city | titlecase}}</span>
                                        </div>




                                    </div>


                                </div>
                            </div>



                            <div class="flex-item flex-1">
                                {{item.instagram_follower}} 
                              <div class="tiny-text color-grey"> 

                                <a class="color-grey" target="_blank" [href]="item.instagram_account_link">ID :  {{item.instagram_account}} <fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
                              </div>
                            </div>




                            <div class="flex-item flex-1">
                                {{item.community_name}}
                                <div class="tiny-text color-grey">
                                    Join date {{item.created_at | date}}
                                </div>
                            </div>

                            <div class="flex-item flex-1">
                                {{item.total_campaign}}
                            </div>



                            <div class="flex-item flex-1">
                                {{item.total_points}}
                            </div>

                            <div class="flex-item flex-1">

                                <app-status-label [class]="item.status" [label]="item.status" [option]="member_status"
                                    (onSelect)="updateCommunityMember($event,item.id)"></app-status-label>

                            </div>


                            <div class="flex-item flex-1 text-right">

                                <button (click)="viewAccess(item)"
                                    class="button tiny clear active margin-bottom-0 margin-right-02">
                                    <fa-icon [icon]="faKey"></fa-icon>
                                </button>

                                <button (click)="_navigateTo(item.id)" class="button tiny clear active">
                                    <fa-icon [icon]="faExpandAlt"></fa-icon>
                                </button>
                            </div>

                        </div>

                    </div>

                    <div lazyload (onShown)="loadMore()"></div>
                </div>

                <app-placeholder *ngIf="member.length ===0"></app-placeholder>


            </div>









        </div>

    </div>


    <app-modal title="Add Member" (onClose)="closeModal()" *ngIf="showModal == 'addCommunityMemberModal'">

        <form class="form margin-bottom-1" [formGroup]="memberForm">

            
           


            <label for="">Full Name</label>
            <input formControlName="first_name" type="text" name="" id="">

            <label for="">Email</label>
            <input formControlName="email" type="text" name="" id="">



            <label for="">Community</label>
            <select formControlName="community_id" name="" id="">

                <option value="1">Mak Pintar</option>
                <option value="2">Pekerja Pintar</option>
               
            </select>

            <div class="margin-bottom-1">
                <label for="">Domicile</label>


                <select formControlName="province">
                    <option *ngFor="let item of domicile_list" [value]="item">{{item}}</option>
                </select>


            </div>
            <label for="">Instagram Account</label>
            <input formControlName="instagram_account" type="text" name="" id="">

            <label for="">Follower</label>
            <input formControlName="instagram_follower" type="number" name="" id="">

            <label for="">Instagram Link</label>
            <input formControlName="instagram_account_link" type="text" name="" id="">





        </form>
        <div footer>
            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <button [disabled]="!memberForm.valid" (click)="addCommunityMember(false,'member')"
                        class="button active clear expanded ">Add </button>

                </div>
                <div class="flex-item flex-1">
                    <button [disabled]="!memberForm.valid" (click)="addCommunityMember(true,'member')"
                        class="button expanded">Add & Continue Edit</button>

                </div>
            </div>
        </div>

    </app-modal>

    <app-modal title="Add Community Partner" (onClose)="closeModal()" *ngIf="showModal == 'addPartnerMember'">

        <form class="form margin-bottom-1" [formGroup]="partnerForm">

            
           


            <label for="">Full Name</label>
            <input formControlName="first_name" type="text" name="" id="">

            <label for="">Email</label>
            <input formControlName="email" type="text" name="" id="">

            <label for="">Phone</label>
            <input formControlName="phone" type="number" name="" id="">

            <div class="margin-bottom-1">
                <label for="">Domicile</label>


                <select formControlName="province">
                    <option *ngFor="let item of domicile_list" [value]="item">{{item}}</option>
                </select>


            </div>


            <label for="">Community Name</label>
            <input formControlName="community_name" type="text" name="" id="">

            <label for="">Community Member Count</label>
            <input formControlName="member_count" type="text" name="" id="">


           
            <label for="">Instagram Account</label>
            <input formControlName="instagram_account" type="text" name="" id="">

            <label for="">Instagram Follower</label>
            <input formControlName="instagram_follower" type="number" name="" id="">

            <label for="">Instagram Link</label>
            <input formControlName="instagram_account_link" type="text" name="" id="">


            <label for="">Tiktok Account</label>
            <input formControlName="tiktok_account" type="text" name="" id="">

            <label for="">Tiktok Follower</label>
            <input formControlName="tiktok_account_follower" type="number" name="" id="">

            <label for="">Tiktok Link</label>
            <input formControlName="tiktok_account_link" type="text" name="" id="">





        </form>
        <div footer>
            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <button [disabled]="!partnerForm.valid" (click)="addCommunityMember(false,'partner')"
                        class="button active clear expanded ">Add </button>

                </div>
                <div class="flex-item flex-1">
                    <button [disabled]="!partnerForm.valid" (click)="addCommunityMember(true,'partner')"
                        class="button expanded">Add & Continue Edit</button>

                </div>
            </div>
        </div>

    </app-modal>

    <app-modal (onClose)="closeModal()" *ngIf="showModal =='accessModal'" [title]="'Access'">


        <div class="callout padding-center-1 rounded border color-grey" *ngIf="selected_access.auth">
            <div>
                Username: {{selected_access.auth.username}}
            </div>
            <div class="color-grey">
                Password : <span *ngIf="!selected_access.auth.is_user_generate">{{selected_access.auth.password}}</span>
                <span *ngIf="selected_access.auth.is_user_generate">***</span>
            </div>
        </div>

        <div *ngIf="!selected_access.auth">
            <form class="form" [formGroup]="accessForm">
                <div *ngIf="error_message" class="callout padding-center-1 rounded medium-grey-bg small-text">
                    {{error_message}}
                </div>
                <div class="margin-bottom-1">
                    <label for="">Username</label>
                    <input class="margin-bottom-0" formControlName="username" type="text" name="" id="">

                    <label for="">Password</label>
                    <input class="margin-bottom-0" formControlName="password" type="text" name="" id="">
                </div>

                <button (click)="addAccess()" class="button">
                    Add Access
                </button>
            </form>
        </div>


    </app-modal>

</app-body>