<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Ticket</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <!-- <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('createContractModal')" class="button rounded  clear ">+ Create Contract</button></li>
                              

                            </ul>
                        </div> -->

                    </div>

                </div>
            </div>






            <div *ngIf="ticket" class="fade-in">
                <app-table-action></app-table-action>
                <div class="table-header">
                    <div class="flex-container table-header-item">




                        <div class="flex-item flex-2">
                         
                            <app-table-sort (onChange)="ticket" [data]="ticket" [key]="'title'">
                                Title
                              </app-table-sort>
                        </div>


                        <div class="flex-item flex-1">
                            <app-table-sort (onChange)="ticket" [data]="ticket" [key]="'topic'">
                                Topic
                              </app-table-sort>
                        </div>



                        <div class="flex-item flex-1">
                            <app-table-sort [type]="'number'" (onChange)="ticket" [data]="ticket" [key]="'community_member_id'">
                                Member
                              </app-table-sort>
                        </div>


                        <div class="flex-item flex-1">
                            <app-table-sort (onChange)="ticket" [data]="ticket" [key]="'created_at'">
                                Receive Date
                              </app-table-sort>
                        </div>






                        <div class="flex-item flex-1">
                            <app-table-sort (onChange)="ticket" [data]="ticket" [key]="'created_at'">
                                Receive Date
                              </app-table-sort>
                        </div>

                        <div class="flex-item flex-05 text-right">
                            <app-table-sort (onChange)="ticket" [data]="ticket" [key]="'status'">
                               Status
                              </app-table-sort>
                        </div>




                    </div>
                </div>
                <div class="table-body ">
                    <div *ngFor="let item of ticket" (click)="_navigateTo(item.id)"
                        class="flex-container cursor table-body-item align-center">




                        <div class="flex-item flex-2">
                          
                            {{item.title}}
                        </div>


                        <div class="flex-item flex-1">
                       
                            {{item.topic}}
                        </div>




                        <div class="flex-item flex-1">
                            {{item.member?.first_name}} {{item.member?.last_name}}
                        </div>



                        <div class="flex-item flex-1">
                            {{item.created_at | date}}
                        </div>




                        <div class="flex-item flex-1">
                            <app-status-label [class]="item.status" [label]="item.status"></app-status-label>
                        </div>

                        <div class="flex-item flex-05 text-right">
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                        </div>





                    </div>

                </div>

            </div>









        </div>

    </div>

</app-body>